<app-after-login-header></app-after-login-header>
<div class="account-head-top">
  <div class="container align-left">
    <div class="pl-15 pr-15">
      <h2 class="font-family-m fontweight-400 fontsize-30 color-white mb-0 mt-0">Välkommen tillbaka, {{ username }}!</h2>
      <p class="fontsize-16 color-white mt-0 mb-0">Tack för din flexibilitet! Vi skickar ett e-postmeddelande när vi hittar den perfekta städaren till dig.</p>
    </div>
  </div>
</div>

<section class="top-slider-sec pt-30 pb-50 pl-15 pr-15">
  <div class="container">
    <div class="pb-15" fxLayout="row" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row"
      fxLayout.gt-lg="row" fxLayoutAlign="">
      <span class="color-dgray fontsize-18 mr-5">Pågående förfrågningar </span>
      <a routerLink="/faq-category-page" class="fontsize-18 color-dblue"> Behöver du hjälp?
      </a>
    </div>
    <div class="slider-box" fxLayout="column">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let booking of bookings">
          <div class="" fxLayout="column">
            <div class="" fxLayout="column">
              <div class="mb-30" fxFlex="100" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row"
                fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="space-between start">
                <div class="mb-10" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxFlex="48">
                  <div class="" fxLayout="column" fxFlex="30">
                    Bokningsdetaljer
                  </div>
                  <div class="" fxLayout="column" fxFlex="70">
                    <span class="color-blue fontsize-15 fontweight-600 mt-0 mb-0">A <span *ngIf="booking.booking_type == 'weekly'"> Varje vecka </span> <span *ngIf="booking.booking_type == 'once'"> En gång </span> <span *ngIf="booking.booking_type == 'byweekly'"> Varannan vecka </span>  {{ booking.hours }} timmar</span>
                    <p class="color-dgray fontsize-15 mt-0 mb-0">{{ booking.address_1 }} {{ booking.address_2 }},
                      {{ booking.stad }}, {{ booking.postcode }}</p>
                  </div>
                </div>
                <div class="" fxLayout="column" fxLayoutAlign="end end" fxFlex="48">
                  <span class="color-blue fontsize-15 fontweight-600 mt-0 mb-0">
                    {{ booking.min_price }} <span *ngIf="booking.min_price != booking.max_price"> - {{ booking.max_price }}</span>
                    kr</span>
                  <p class="color-mgray fontsize-13 mt-0 mb-0"> Den första städaren som accepterar uppdraget är den vars timpris du debiteras.</p>
                </div>
              </div>
            </div>
            <div class="" fxLayout="column">
              <div fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row"
                fxLayout.gt-lg="row" fxFlex="100" fxLayoutAlign="space-between">
                <div class="slider-content" fxLayout="column" fxFlex="48">
                  <div fxLayout="row" class="pt-15 pl-30 pr-15 pb-15 border-b1" fxLayoutAlign="space-between">
                    <div fxLayout="column" fxFlex="25" fxFlex.gt-xs="15">
                      <img src="../../../assets/images/calendar.png" class="slider-icon">
                    </div>
                    <div fxLayout="column" fxFlex="75" fxFlex.gt-xs="80">
                      <span class="color-dgray fontsize-15">Datum för start </span>
                      <p class="color-blue fontsize-15 fontweight-600 mt-0 mb-0">
                        {{ booking.startdate | date :  "EEEE, d MMMM" }}, {{ booking.time.slice(0,5)}}</p>
                    </div>
                  </div>
                  <!-- <div fxLayout="column" class="pt-15 pl-30 pr-15 pb-15 border-b1">
                    <span class="color-dgray">Alternative </span>
                    <span class="color-dgray">starting date </span>
                  </div> -->
                  <!-- <div fxLayout="column" fxLayout.gt-sm="row" class="pt-15 pl-30 pr-15 pb-15 border-b1">
                    <div class="" fxFlex="50">
                      <p class="color-dgray fontsize-13 ">By selecting more dates, your chance of
                        being matched with your selected
                        cleaner increases by 40%</p>
                    </div>
                  </div> -->
                </div>
                <div class="slider-content" fxLayout="column" fxFlex="48">
                  <div fxLayout="row" class="pt-15 pl-30 pr-15 pb-20 border-b1" fxLayoutAlign="space-between">
                    <div fxLayout="column" fxFlex="25" fxFlex.gt-xs="15">
                      <img src="../../../assets/images/rs-pro-img-3.png" class="slider-icon">
                    </div>
                    <div fxLayout="column" fxFlex="75" fxFlex.gt-xs="80">
                      <span class="color-dgray fontsize-15">Valda städare</span>
                      <p *ngFor="let cleanerData of booking.cleaners" class="color-blue fontsize-15 fontweight-600 mt-0 mb-0">{{ cleanerData.first_name + ' ' + cleanerData.last_name }} <span
                          class="color-lgray fontsize-15">{{ cleanerData.price.toFixed(2) }} kr</span></p>
                    </div>
                  </div>
                  <!-- <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between"
                    class="pt-15 pl-30 pr-15 pb-15 border-b1">
                    <div fxLayout="column" fxFlex="45" class="">
                      <p class="color-dgray fontsize-13 mb-0">By adding more cleaners to your
                        preferred cleaners, your chance of
                        being matched with your selected
                        cleaner increases by 35%</p>
                    </div>
                    <div fxLayout="column" fxFlex="45">
                      <button (click)="addCleaner(booking.id)" mat-flat-button class="bg-blue color-white mt-15"> add cleaners</button>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>
<section class=" pt-30 pb-50 pl-15 pr-15" *ngIf="otherBookings.length > 0">
  <div class="container">
    <div class="align-center" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row"
      fxLayout.gt-lg="row" fxLayoutAlign="space-between">
      <div class=" pb-30 border-b2" fxFill="fill" fxFlex="100" fxLayoutAlign="space-between" fxLayout="column"
        fxLayout.gt-xs="row">
        <a href="JavaScript:Void(0);" class="fontsize-16 color-dblue fontweight-400 mt-15 mb-10">
          Visa bokningar
        </a>
        <!-- <button mat-flat-button class="bg-blue color-white"> Cancel all future bookings</button> -->
      </div>
    </div>
    <div class="" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row"
      fxLayout.gt-lg="row" fxLayoutAlign="space-between">
      <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100"
        fxFlex.gt-md="100" fxFlex.gt-lg="100">
        <div class="w-100 mb-20 booking-table" >
          <div class="relative table"  >
            <div class=" border-b2" fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign="">
              <div class="mb-20 fontsize-15 color-dgray fontweight-600 mt-30 align-left width170" fxLayout="column">{{ otherBookings[0].starttime | date: "MMMM yyy" }}
              </div>
            </div>
            <div *ngFor="let otherBooking of otherBookings" class="mt-15" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
              <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span class="capitalize"> {{ otherBooking.first_name + ' ' + otherBooking.last_name }}</span></div>
              <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left width270" fxLayout="column"><span>
                {{ otherBooking.starttime | date: "EEEE, d MMM" }} at {{ otherBooking.starttime | date: "HH:mm" }}</span></div>
              <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>{{ otherBooking.hours }} timmar</span></div>
              <!-- Av Ren -->
              <div *ngIf="otherBooking.booking_type == 'once'" class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>En gång  </span></div>
              <div *ngIf="otherBooking.booking_type == 'byweekly'" class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>Varannan vecka  </span></div>
              <div *ngIf="otherBooking.booking_type == 'weekly'" class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span class="capitalize">Varje vecka  </span></div>
              <div *ngIf="otherBooking.booking_type == 'monthly'" class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span class="capitalize">Monthly  </span></div>
              <div class="mb-5 fontsize-15 color-dblue fontweight-600  align-left width170" fxLayout="column"><span> <span (click)="viewBooking(otherBooking.id, otherBooking.booking_id)" style="cursor: pointer;"> Visa </span>
                <!-- / amend booking -->
              </span></div>
            </div>
          </div>
        </div>
        <!-- <div class="relative align-center w-100 mt-20">
          <a href="JavaScript:Void(0);" class="color-dblue fontsize-14 text-underline">View More</a>
        </div> -->
      </div>
    </div>
  </div>
</section>

<!-- <div>Some tags before</div>
    <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>Slide 1</ng-template>
    <ng-template carouselSlide>Slide 2</ng-template>
    <ng-template carouselSlide>Slide 3</ng-template>
    <ng-template carouselSlide>Slide 4</ng-template>
    <ng-template carouselSlide>Slide 5</ng-template>
    <ng-template carouselSlide>Slide 6</ng-template>
  </owl-carousel-o>
  <div>Some tags after</div> -->

<app-after-login-footer></app-after-login-footer>
