@import "../../../scss/_node-module-override";
@import "../../../scss/_styles";
@import "../../../scss/_theming";

.account-head-top{
    .mb-11.mt-11{
        @media (max-width:992px) {
            margin:0rem 0rem;
        }
        @media (max-width:600px) {
            padding-top: 50px;
        }
    }
}
.profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    bottom: -14px;
    top: auto;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (max-width:992px) {
        width:80px;
        height: 80px;
        bottom:38px;
    }
    @media (max-width:767px) {
        left: 0px;
        width:60px;
        height: 60px;
        bottom:38px;
    }
    @media (max-width:600px) {
        left: 0;
        width: 60px;
        height: 60px;
        bottom: 110px;
        right: 0;
        margin: auto;
        top: auto;
    }
    @media (max-width:420px) {
        bottom:120px;
    }
    @media (max-width:360px) {
       bottom:120px;
    }
}
.ml-130{
    margin-left: 130px;
    @media (max-width:992px) {
        margin-left: 90px;
        .fontsize-30{
            font-size: 24px;
        }
    }
    @media (max-width:767px) {
        margin-left: 50px;
        .fontsize-30{
            font-size: 20px;
        }
    }
    @media (max-width:600px) {
        margin-left: 0px;
        text-align: center;
    }
}
.height-50vh{
    min-height: 60vh;
    @media (max-width:1200px) {
        min-height: 70vh;
    }

}
.around-19{padding:19px;}
.uncheck-box-dash{
    background:#F1F5F7;
    border:1px solid #F1F5F7;
    @media (max-width:992px) {
        .fontsize-16{
            font-size: 14px;
        }
    }

}
@media (max-width:600px){
    .mat-icon {
        height: 18px;
        width: 15px;
    }
    .material-icons{
        font-size: 14px;
    }
    .booking-table-parent{
        width:100%;
        overflow: auto;
    }
    .booking-table{
        width:600px;

    }
}
@media (max-width:992px) {
    .fontsize-14{font-size: 12px;}
    .fontsize-15{font-size: 13px;}
    .fontsize-16{font-size: 14px;}
}
.pro-img{
    width:70px;
    height: 70px;
}
