<app-after-login-header></app-after-login-header>
<div class="account-head-top">
    <div class="container align-center">
        <div class="">
            <h2 class="font-family-m fontweight-400 fontsize-30 color-white mb-11 mt-11">Mina priser</h2>
        </div>
    </div>
  </div>
<section class="clear dashboard-sec-2">
    <div class="container">
        <div class="pt-40 pb-40 pl-15 pr-15" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="space-between">
            <div class="bg-screen-gray1 around-15 pt-40 pb-40 border-radius10 small-mb-20" fxLayout="row" fxLayoutAlign="start start" fxFlex.gt-xs="28" fxFlex.gt-sm="23" fxFlex.gt-md="23" fxFlex.gt-lg="23">
                <div class=" align-left w-100">
                    <div class="relative align-center">
                        <div class="upload-img-profile mb-30">
                            <div class="upload-img">
                                <div class="img-box">
                                    <!-- <a (click)='removePrif()' class="crouse-img-icon">
                                        <img src="assets/images/crouse-img-red-icon.png">
                                    </a> -->
                                    <img src="{{ profileSrc }}" alt="" class="payout-img" >
                                </div>
                                <div class="camera-box">
                                 <img src="assets/images/camera.png" class="camera-icon">
                                </div>
                                <input (change)="profilePic($event)" type="file" name="image" />
                            </div>
                        </div>
                        <p class="color-dblue fontsize-16 fontweight-600 mt-5 mb-5" style="text-transform: capitalize;">{{ name }}</p>
                        <div class="star-icon-p">
                            <!-- color-yellow for review rating -->
                            <span *ngFor="let number of [1,2,3,4,5]" >
                            <mat-icon class="vertical-middle color-yellow" matPrefix *ngIf="number <=rating" >star</mat-icon>
                            <mat-icon class="vertical-middle" matPrefix *ngIf="number > rating" >star</mat-icon>
                          </span>
                            &nbsp;
                            <span class="color-mgray fontsize-15 fontweight-600 display-ib">{{ rating }}/5.0</span>
                        </div>
                        <!-- <p class="fontsize-16 color-mgray fontweight-700 mt-5 mb-0">125 kr/h</p> -->
                        <p class="fontsize-15 color-mgray fontweight-700 mt-5 mb-0">Städuppdrag: {{ cleansdone }}</p>
                        <!-- <p class="fontsize-15 color-mgray fontweight-700 mt-5 mb-0">Responce Rate: 85%</p> -->
                    </div>
                </div>
            </div>

            <div class="bg-screen-gray1 around-30 border-radius10" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="66" fxFlex.gt-sm="75" fxFlex.gt-md="75" fxFlex.gt-lg="75">
                <div class=" align-left ">
                    <div class="relative">
                        <h5 class="fontsize-20 color-mgray fontweight-400 mt-0 mb-0">Bestäm dina egna priser!</h5>
                        <p class="fontsize-15 color-mgray mt-10 lineheight30">Ange dina timpriser nedan och välj hur mycket du vill få ut i timmen för varje uppdrag. Dina nuvarande kunder påverkas inte av prisändringen men alla nya kunder ser ditt nya timpris när de söker efter städare i plattformen. 
                            <!-- <a href="#" class="color-dblue">here.</a> -->
                        </p>
                    </div>
                    <div class="green-alert" [class.no-dis]="success">
                      <span class="fontsize-16 color-mgray fontweight-400 mb-0">{{ successMsg }}</span>
                    </div>
                    <div class="danger-alert" [class.no-dis]="error">
                      <span class="fontsize-16 color-mgray fontweight-400 mb-0">{{ errMsg }}</span>
                    </div>
                    <div class="relative">
                        <h5 class="fontsize-18 color-dblue fontweight-600 mb-0">Återkommande bokningar</h5>
                        <p class="fontsize-15 color-mgray mt-5 lineheight30">Veckovis, varannan vecka eller månadsvis återkommande kunder ingår ett löpande avtal på minst 3 månader och ger dig återkommande inkomster och möjlighet att planera bättre. Rekommendation: Nya städare ca 95-120 kr/timme. Städare med goda omdömen ca 120-150 kr/timme. </p>
                        <div class="bg-lgray border-radius10 around-10 mb-30">
                            <span class="color-white fontsize-15">Rekommendation: Nya städare ca 95-120 kr/timme. Städare med goda omdömen ca 120-150 kr/timme.</span>
                        </div>
                        <div class="" fxLayoutAlign="space-between" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" >
                            <div class="mb-15" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayoutAlign="start start">
                                <p class="fontsize-15 color-mgray display-ib mt-0 mb-10 mr-20">Mitt utbetalade<br> timpris</p>
                                <div class="display-ib increase-descrease-box">
                                    <mat-form-field appearance="outline">
                                        <button type="button" (click)="remrecurring()" class="add-remove" style="left:0rem;">
                                            <mat-icon matPrefix>remove</mat-icon>
                                        </button>
                                        <input [(ngModel)]=payouts.recurringPay class="nocontroll" (change)="checkRecuring()" matInput type="number">
                                        <button type="button" (click)="addrecurring()" class="add-remove" style="right:0rem;">
                                            <mat-icon matPrefix>add</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="mb-15" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayoutAlign="start start">
                                <p class="fontsize-15 color-mgray display-ib mt-0 mb-10 mr-20">Kundens timpris inkl. <br>service avgifter </p>
                                <div class="display-ib increase-descrease-box">
                                    <mat-form-field appearance="outline">
                                            <input matInput [(ngModel)]=payouts.clientrecurringPay readonly style="color:#878DA0 !important;font-size:18px;">
                                            <span class="kr">Kr</span>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="relative">
                        <h5 class="fontsize-18 color-dblue fontweight-600 mb-0">Engångsbokningar</h5>
                        <p class="fontsize-15 color-mgray mt-5 lineheight30">Engångsbokningar ger dig flexibilitet och möjlighet att acceptera extra uppdrag. Engångsbokningar ligger ofta lite högre i pris än återkommande. Rekommendation: Nya städare ca 105-115 kr/timme. Städare med goda omdömen ca 125-170 kr/timme.</p>
                        <div class="bg-lgray border-radius10 around-10 mb-30">
                            <span class="color-white fontsize-15">Rekommendation: Nya städare ca 105-115 kr/timme. Städare med goda omdömen ca 125-170 kr/timme.</span>
                        </div>
                        <div class="" fxLayoutAlign="space-between" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" >
                            <div class="mb-15" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayoutAlign="start start">
                                <p class="fontsize-15 color-mgray display-ib mt-0 mb-10 mr-20">Mitt utbetalade<br> timpris</p>
                                <div class="display-ib increase-descrease-box">
                                    <mat-form-field appearance="outline">
                                        <button type="button" (click)="remoneoff()" class="add-remove" style="left:0rem;">
                                            <mat-icon matPrefix>remove</mat-icon>
                                        </button>
                                        <input matInput [(ngModel)]=payouts.oneoffPay class="nocontroll" (change)="checkonce()" matInput type="number">
                                        <button type="button" (click)="addoneoff()" class="add-remove" style="right:0rem;">
                                            <mat-icon matPrefix>add</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="mb-15" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayoutAlign="start start">
                                <p class="fontsize-15 color-mgray display-ib mt-0 mb-10 mr-20">Kundens timpris inkl. <br>service avgifter </p>
                                <div class="display-ib increase-descrease-box">
                                    <mat-form-field appearance="outline">
                                            <input matInput [(ngModel)]=payouts.clientoneoffPay readonly style="color:#878DA0 !important;font-size:18px;">
                                            <span class="kr">Kr</span>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="align-center mt-40 mb-20">
                        <button (click)="savePayouts()" mat-flat-button type="type" class="bg-blue">SPARA PRISER</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-after-login-footer></app-after-login-footer>
