<app-header></app-header>
<!-- * * * * * * * * * * * Start Header * * * * * * * * * * * -->

 <div class="login-sec-1" fxLayout="row">
     <img src="assets/images/top_blue_circle_full.png" class="top_blue_circle_full-img" alt="">
     <img src="assets/images/top_blue_circle_half.png" class="top_blue_circle_half-img" alt="">
    <div class="container">
        <form  #resetFrm="ngForm">
           <div class="mb-20 mt-20" fxLayout="column"  fxLayoutAlign.gt-xs="center center" fxLayoutAlign="center center" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100"  >
                <div class="card-box" fxLayout="column">

                    <div class="" fxLayout="column" fxLayoutAlign="start center"  fxFlex="100">
                        <div class="relative w-100">
                            <h3 class="fontsize-36 font-family-m color-lgray align-center mt-0 mb-40" fxFlex="100">Återställ Lösenord </h3>
                            <div class="alert-green1" style="color:green"  [class.display-none]="emailMessageShow">
                                Aktiveringskoden för att återställa lösenordet har skickats till din e-post adress
                            </div>

                            <div class="alert-green1" style="color:green" > {{ resend }}</div>
                        </div>
                            <span class="errorVal">{{resetServerErr}}tese</span>
                            <!-- <h4 class="fontsize-22 font-family-m color-lgray align-center mt-0">Complete your registration and you'll be receiving cleaning offers in no time!</h4> -->
                    </div>
                    <div class="color-dblue" fxLayout="column" fxLayoutAlign="start start"  fxFlex="100">
                        <mat-form-field appearance="outline" class="login-input mb-20">
                            <input matInput placeholder="Återställningskod"   name="code" ngModel>
                            <span class="errorVal" style="left:0rem;">{{codeErr}}</span>
                            <!-- <mat-icon matPrefix>email</mat-icon> -->
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="login-input mb-20">
                            <input matInput placeholder="Ange ett nytt lösenord"   name="password" ngModel type="password">
                            <span class="errorVal" style="left:0rem;">{{passwordErr}}</span>
                            <!-- <mat-icon matPrefix>email</mat-icon> -->
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="login-input mb-20">
                            <input matInput placeholder="Bekräfta det nya lösenordet"   name="confirm_password" ngModel type="password">
                            <span class="errorVal" style="left:0rem;">{{confirmPassErr}}</span>
                            <!-- <mat-icon matPrefix>perm_identity</mat-icon> -->
                        </mat-form-field>

                    </div>
                    <div class="mb-20 mt-20 ml-auto" fxLayout="column" fxLayoutAlign="center center"  fxFlex="100" fxLayout="100">
                            <button (click)="reset(resetFrm.value)" mat-flat-button class="bg-yellow color-white mt-0 mb-0  width300">SKICKA</button>

                    </div>
                    <div class="mb-20 mt-20 ml-auto" fxLayout="column" fxLayoutAlign="center center"  fxFlex="100" fxLayout="100">
                        <a href="JavaScript:void(0)" (click)="resendotp()" class="color-dblue fontsize-14 text-underline display-b mt-10">Skicka återställningskoden igen</a>
                </div>

                </div>

           </div>
        </form>
    </div>
</div>



<!-- * * * * * * * * * * * Start Footer * * * * * * * * * * * -->


<app-before-login-footer></app-before-login-footer>
