<app-header></app-header>
<!-- * * * * * * * * * * * Start Header * * * * * * * * * * * -->

 <div class="login-sec-1">
     <img src="assets/images/top_blue_circle_full.png" class="top_blue_circle_full-img" alt="">
     <img src="assets/images/top_blue_circle_half.png" class="top_blue_circle_half-img" alt="">
    <div class="container container-70">
        <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayoutAlign="space-between center">
            <div class="mb-20 mt-20" fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.gt-xs="start start" fxLayoutAlign.gt-md="start start" fxFlex="100" fxFlex.gt-xs="40" fxFlex.gt-sm="30" fxFlex.gt-md="30" >
                <div class="color-dblue" fxLayout="row" fxLayoutAlign="start start">
                    <h2 class="fontsize-36 mt-0 mb-5">HITTA DIN EGEN STÄDARE</h2>
                </div>
                <div class="mb-30" fxLayout="column" fxLayoutAlign="start start" >
                    <mat-list role="list" class="ul-listing-home-margin2">
                        <mat-list-item role="listitem" class="color-dgray"> <mat-icon matPrefix class="mr-5 color-lgreen">done</mat-icon> Transparent prissättning</mat-list-item>
                        <mat-list-item role="listitem" class="color-dgray"> <mat-icon matPrefix class="mr-5 color-lgreen">done</mat-icon> Dedikerad kundservice</mat-list-item>
                        <mat-list-item role="listitem" class="color-dgray"> <mat-icon matPrefix class="mr-5 color-lgreen">done</mat-icon> Byt din städare när som helst</mat-list-item>
                    </mat-list>
                </div>
            </div>

           <div class="mb-20 mt-20 pr-15 wib-main-block" fxLayout="row"  fxLayoutAlign.gt-xs="end end" fxLayoutAlign="end center" fxFlex.gt-xs="60" fxFlex.gt-sm="60" fxFlex.gt-md="60" fxFlex="100" >
                <form  #loginFrm="ngForm">
                <div class="card-box">

                   <div class="relative w-100">
                      <h3 class="fontsize-30 font-family-m color-dblue text-uppercase mt-0">LOGGA IN</h3>
                      <span [class.display-none]="resetpasMessageShow" style="right:0rem;left: 0rem;position: absolute; bottom: -20px; color:green">Du har nu återställt ditt lösenord</span>

                   </div>
                    <div class="color-dblue">
                        <mat-form-field appearance="outline" class="login-input mb-20">
                            <input matInput placeholder="E-post" name="identity" ngModel>
                            <mat-icon matPrefix>email</mat-icon>
                            <span class="errorVal">{{identityErr}}</span>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="login-input mb-20">
                            <input matInput placeholder="Lösenord"  name="password" ngModel type="password">
                            <mat-icon matPrefix>lock_open</mat-icon>
                            <span class="errorVal">{{passwordErr}}</span>
                        </mat-form-field>
                    </div>
                    <div class="mb-20">
                        <button (click)="login(loginFrm.value)"  mat-flat-button class="bg-yellow color-white mt-0 mb-0 width300">LOGGA IN</button>
                    </div>
                    <div class="">
                        <a routerLink="/forgot-password" class="fontsize-15 color-dblue">Glömt lösenordet?</a>
                    </div>
                 </div>
           </form>
           </div>
        </div>
    </div>
</div>



<!-- * * * * * * * * * * * Start Footer * * * * * * * * * * * -->


<app-before-login-footer></app-before-login-footer>
