<app-login-header></app-login-header>
<!-- * * * * * * * * * * * Start Header * * * * * * * * * * * -->



<div class="account-head-top">
    <div class="container">
        <div class="" fxLayout="row" fxLayoutAlign="space-between center" >
            <div class="fontweight-600 account-bg current active" >
                <span class="acount-count-number"><mat-icon class="vertical-middle" matPrefix>done</mat-icon></span>
                <span class="display-ib ml-50 text-uppercase">DIN BOKNING</span>
            </div>
            <div class="fontweight-600 account-bg current active" >
                <span class="acount-count-number"><mat-icon class="vertical-middle" matPrefix>done</mat-icon></span>
                <span class="display-ib ml-50 text-uppercase">DINA UPPGIFTER</span>
            </div>
            <div class="fontweight-600 account-bg current active" >
                <span class="acount-count-number"><mat-icon class="vertical-middle" matPrefix>done</mat-icon></span>
                <span class="display-ib ml-50 text-uppercase">BETALNING</span>
            </div>
        </div>
    </div>
</div>

<div class="rs-sec-2">
    <div class="container">
        <div class="mt-50 mb-30" fxLayout="column" fxLayoutAlign="center center" >
            <h2 class="fontsize-30 color-lgray mt-0 mb-40 align-center">Grattis! Din förfrågan har just skickats och vi har skickat en bekräftelse till din e-post adress.</h2>
            <h4 class="fontsize-18 color-mgray mt-0 mb-0 align-center">Så fort en städare har accepterat uppdraget så skickar vi ett kvitto till dig. </h4>
            <h2 class="fontsize-22 color-dgray mt-0 mb-0 align-center">Följande bokning har registrerats:</h2>
        </div>
    </div>
</div>

<div class="rs-sec-3">
    <div class="container">
        <div class="mt-0 mb-0 rs-inner-bg-block" fxLayout="column" fxLayoutAlign="center center" >
            <h3 class="fontfamily-700 color-dgray fontsize-16 mt-0 mb-20">DIN NÄSTA BOKNING:</h3>
            <p class="mt-0 mb-0 color-dblue fontsize-16">{{ tishdate | date: 'EEEE' }}, {{ startdate }} {{ startmonth }},</p>
            <p class="mt-0 mb-0 color-dblue fontsize-16">Kl {{ time }}</p>
            <div class="calen_bg_img mt-40 mb-20">
                <h4 class="fontsize-14 color-mgray mt-20 mb-5 text-uppercase align-center">{{ tishdate | date: 'EEEE' }}</h4>
                <h4 class="fontsize-14 color-dblue mt-0 mb-0 text-uppercase align-center">{{ startmonth }}</h4>
                <h1 class="fontsize-60 fontfamily-700 color-dblue mt-0 mb-0 text-uppercase align-center">{{ startdate }}</h1>
            </div>
            <a routerLink="/welcomeback" mat-flat-button class="bg-yellow color-white mt-10 mb-10" style="width: 300px;">VISA BOKNINGEN</a>
            <!--  -->
        </div>
    </div>
</div>

<div class="home-sec-2">
    <div class="container">
        <div class="" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="self-start self-start">
            <div class="mr-15 ml-15 mb-15 mt-15" fxLayout="column" fxFlex="100" fxFlex.gt-sm="33" fxLayoutAlign="self-start center">
                <img src="assets/images/rs-pro-img-1.png" class="mb-20 hs2-map-img1" />
                <h6 class="fontsize-18 color-dblue mb-0 mt-20">Möt upp din städare</h6>
                <p class="color-white fontsize-16 color-dgray align-center mt-15 mb-0">Vi rekommenderar dig att alltid möta upp din städare, i alla fall första gången så att ni träffas personligen. Bekräfta alltid att den person som kommer till dig är den som du bokat, annars gäller inte försäkringar etc.  </p>
            </div>
            <div class="mr-15 ml-15 mb-15 mt-15" fxLayout="column" fxFlex="100" fxFlex.gt-sm="33" fxLayoutAlign="self-start center">
                <img src="assets/images/rs-pro-img-2.png" class="mb-20 hs2-map-img1" />
                <h6 class="fontsize-18 mb-0 mt-20 color-dblue">Berätta vad du vill ha gjort</h6>
                <p class="color-white fontsize-16 color-dgray align-center mt-15 mb-0">Du kan alltid chatta med din städare via BringClean vilket rekommenderas om det mot förmodan skulle uppstå meningsskiljaktigheter. Ha förståelse för vad en städare kan hinna med under den tid som du valt att betala för och ha en öppen dialog med varandra för bästa resultat.</p>
            </div>
            <div class="mr-15 ml-15 mb-15 mt-15" fxLayout="column" fxFlex="100" fxFlex.gt-sm="33" fxLayoutAlign="self-start center">
                <img src="assets/images/rs-pro-img-3.png" class="mb-20 hs2-map-img1" />
                <h6 class="fontsize-18 mb-0 mt-20 color-dblue">Ha städmaterial på plats</h6>
                <p class="color-white fontsize-16 color-dgray align-center mt-15 mb-0">Städarna har inte med sig eget material utan det är alltid upp till dig som kund att se till att du har allt material på plats för att städaren ska kunna göra ett bra jobb. Om du saknar material så erbjuder BringClean olika miljövänliga alternativ som du kan beställa genom att kontakta oss.</p>
            </div>
        </div>
    </div>
</div>

<!-- * * * * * * * * * * * Start Footer * * * * * * * * * * * -->


<app-after-login-footer></app-after-login-footer>
