<app-after-login-header></app-after-login-header>
<div class="account-head-top">
  <div class="container align-center">
    <div class="">
      <h2 class="font-family-m fontweight-400 fontsize-30 color-white mb-11 mt-11">Personliga inställningar</h2>
    </div>
  </div>
</div>

<section class="account-sec-4 pt-30 pb-50 pl-15 pr-15">
  <div class="container">
    <div class="green-alert" [class.no-dis]="success">
      <span class="fontsize-16 color-mgray fontweight-400 mb-0">{{ successMsg }}</span>
    </div>
    <div class="danger-alert" [class.no-dis]="error">
        <span class="fontsize-16 color-mgray fontweight-400 mb-0">{{ errMsg }}</span>
      </div>

    <div class="pt-30" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="column" fxLayout.gt-md="row"
      fxLayoutAlign="space-between">
      <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-sm="70" fxFlex.gt-md="65" fxFlex.gt-lg="65">
        <div class="w-100">
          <p class="color-mgray fontsize-15 fontweight-600 border-b2 pb-10 mt-50 mb-30">Personliga inställningar
            </p>
          <div fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row"
            fxLayoutAlign="space-between">
            <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="22" fxFlex.gt-sm="22"
              fxFlex.gt-md="22" fxFlex.gt-lg="22">
              <label class="fontsize-15 color-mgray mt-10">Förnamn</label>
            </div>
            <div class="color-dblue input-border relative" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="78"
              fxFlex.gt-sm="78" fxFlex.gt-md="78" fxFlex.gt-lg="78">
              <mat-form-field appearance="outline" class="">
                    <input [(ngModel)]=profile.first class="" id="first" matInput placeholder="">
                  </mat-form-field>
                  <span class="color-red errorVal" style="left: 12px;">{{ firstErr }}</span>
            </div>
          </div>
          <div fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row"
            fxLayoutAlign="space-between">
            <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="22" fxFlex.gt-sm="22"
              fxFlex.gt-md="22" fxFlex.gt-lg="22">
              <label class="fontsize-15 color-mgray mt-10">Efternamn</label>
            </div>
            <div class="color-dblue input-border relative" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="78"
              fxFlex.gt-sm="78" fxFlex.gt-md="78" fxFlex.gt-lg="78">
              <mat-form-field appearance="outline" class="">
                    <input class="" [(ngModel)]=profile.last id="last" matInput placeholder="">
                  </mat-form-field>
                  <span class="color-red errorVal" style="left: 12px;">{{ lastErr }}</span>
            </div>
          </div>
          <div fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row"
            fxLayoutAlign="space-between">
            <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="22" fxFlex.gt-sm="22"
              fxFlex.gt-md="22" fxFlex.gt-lg="22">
              <label class="fontsize-15 color-mgray mt-10">E-post adress</label>
            </div>
            <div class="color-dblue input-border relative" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="78"
              fxFlex.gt-sm="78" fxFlex.gt-md="78" fxFlex.gt-lg="78">
              <mat-form-field appearance="outline" class="">
                    <input class="" readonly [(ngModel)]=profile.email id="email" matInput placeholder="">
                  </mat-form-field>
                  <span class="color-red errorVal" style="left: 12px;"></span>
            </div>
          </div>

          <div fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row"
            fxLayoutAlign="space-between">
            <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="22" fxFlex.gt-sm="22"
              fxFlex.gt-md="22" fxFlex.gt-lg="22">
              <label class="fontsize-15 color-mgray mt-10">Mobiltelefonnummer</label>
            </div>
            <div class="color-dblue input-border relative" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="78"
              fxFlex.gt-sm="78" fxFlex.gt-md="78" fxFlex.gt-lg="78">
              <mat-form-field appearance="outline" class="">
                    <input class="" [(ngModel)]=profile.phone id="phone" matInput placeholder="">
                  </mat-form-field>
                  <span class="color-red errorVal" style="left: 12px;">{{ phoneErr }}</span>
            </div>
          </div>

          <p class="color-mgray fontsize-15 fontweight-600 border-b2 pb-10 mt-50 mb-30">Övriga inställningar</p>
            <div fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row"
            fxLayoutAlign="space-between">
            <div class="color-dblue relative mb-20" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="48" fxFlex.gt-sm="48"
              fxFlex.gt-md="48" fxFlex.gt-lg="48">
                <ng-select2
                id="gender"
                  [(ngModel)]=profile.gender
                  [data]="genderData"
                  [placeholder]="'Kön'"
                  [options]="options"></ng-select2>
            </div>
            <div class="color-dblue input-border relative" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="48" fxFlex.gt-sm="48"
              fxFlex.gt-md="48" fxFlex.gt-lg="48">
              <mat-form-field appearance="outline" class="">
                    <input [(ngModel)]=profile.company id="company" matInput placeholder="Företagsnamn *" >
                    <span class="errorVal fontsize-12">{{ companyErr }}</span>
                  </mat-form-field>
            </div>
          </div>
          <div fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row"
            fxLayoutAlign="space-between">
            <div class="color-dblue input-border relative" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="48" fxFlex.gt-sm="48"
              fxFlex.gt-md="48" fxFlex.gt-lg="48">
              <mat-form-field appearance="outline" class="">
                    <input [(ngModel)]=profile.orgNumber id="orgNumber" maxlength="10" matInput placeholder="Organisationsnummer *" >
                    <span class="errorVal fontsize-12">{{ orgNumberErr }}</span>
                  </mat-form-field>
            </div>
            <div class="color-dblue input-border relative" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="48" fxFlex.gt-sm="48"
              fxFlex.gt-md="48" fxFlex.gt-lg="48">
              <mat-form-field appearance="outline" class="">
                    <input [(ngModel)]=profile.personalid readonly matInput placeholder="Personnummer *" >
                    <!-- Your Personal ID Number (YYMMDD-XXXX) -->
                    <span class="errorVal fontsize-12"> </span>
                  </mat-form-field>
            </div>
          </div>

          <div fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row"
            fxLayoutAlign="space-between">
            <div class="color-dblue input-border relative" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="48" fxFlex.gt-sm="48"
              fxFlex.gt-md="48" fxFlex.gt-lg="48">
              <mat-form-field appearance="outline" class="">
                    <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" [(ngModel)]=profile.address id="address" matInput placeholder="Gatuadress *" >
                    <span class="errorVal fontsize-12">{{ addressErr }}</span>
                  </mat-form-field>
            </div>
            <div class="color-dblue input-border relative" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="48"
              fxFlex.gt-sm="48" fxFlex.gt-md="48" fxFlex.gt-lg="48">
              <mat-form-field appearance="outline" class="">
                    <input [(ngModel)]=profile.additonalAdd id="additonalAdd" matInput placeholder="Övrig info (frivilligt)" >
                    <span class="errorVal fontsize-12">{{ additonalAddErr }}</span>
                  </mat-form-field>
            </div>
          </div>

          <div fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row"
            fxLayoutAlign="space-between">

            <div class="color-dblue input-border relative" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="48"
              fxFlex.gt-sm="48" fxFlex.gt-md="48" fxFlex.gt-lg="48">
              <mat-form-field appearance="outline" class="">
                    <input [(ngModel)]=profile.zip id="zip" matInput placeholder="Postnummer *" >
                    <span class="errorVal fontsize-12">{{ zipErr }}</span>
                  </mat-form-field>
            </div>
            <div class="color-dblue input-border relative" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="48" fxFlex.gt-sm="48"
              fxFlex.gt-md="48" fxFlex.gt-lg="48">
              <mat-form-field appearance="outline" class="">
                    <input  [(ngModel)]=profile.city id="city" matInput placeholder="Postort *" >
                    <span class="errorVal fontsize-12">{{ cityErr }}</span>
                  </mat-form-field>
            </div>
          </div>

          <div class="align-left">
            <button  id="" (click)="updateDet()" mat-flat-button class="bg-yellow color-white mt-10 mb-0">UPPDATERA</button>
          </div>
        </div>
      </div>

      <!-- <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="37" fxFlex.gt-sm="35" fxFlex.gt-md="30"
        fxFlex.gt-lg="30">
        <div class="bg-screen-gray1 border-radius10 w-100 align-left">
          <div class="around-30">
            <p class="fontsize-18 color-mgray fontweight-600 mt-0">Working Hours</p>

            <p class="color-mgray fontsize-15">Please note changing your working hours does not change any of your
              exiting customer bookings.
            </p>
            <p class="color-mgray fontsize-15">If you need to change or cancel your customer bookigns please speak to
              your customer and let us know <a href="#" class="color-dblue"> at email.</a>
            </p>
            <div class="align-center">
              <button mat-flat-button class="bg-blue color-white mt-10 mb-0">Change working
                hours</button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<app-after-login-footer></app-after-login-footer>
