@import "../../../scss/_node-module-override";
@import "../../../scss/_styles";
@import "../../../scss/_theming";

.yallow-alert{
    max-width: 730px;
    width: 100%;
    padding: 9px 30px !important;
    background: #fff1d8;
    border-radius: 20px;
    @media (max-width:767px){
        width:85%;
        padding: 9px 15px !important;
        margin: 0 auto;
        .fontsize-16{
            font-size: 14px;
        }
    }
}
.green-alert{
  max-width: 730px;
  margin-top:10px;
  width: 100%;
  padding: 9px 30px !important;
  color: #155724;
  background-color: #d4edda;
  border:1px solid #1557243b;
  border-radius: 20px;
  @media (max-width:767px){
    width:85%;
    padding: 9px 15px !important;
    .fontsize-16{
      font-size: 14px;
    }
  }
  span{
    color:#155724 !important;
  }
}
.danger-alert{
max-width: 730px;
margin-top:10px;
width: 100%;
padding: 9px 30px !important;
background: #f8d7da;
border:1px solid #721c243b;
border-radius: 20px;
  @media (max-width:767px){
    width:85%;
    padding: 9px 15px !important;
    .fontsize-16{
      font-size: 14px;
    }
  }
  span{
    color:#721c24 !important;
  }
}
.no-dis{
  display: none !important;
}
@media (max-width:1200px){
    .account-sec-4.pt-30.pb-50.pl-15.pr-15{
        padding-left:0rem;
        padding-right:0rem;
    }
    .bg-screen-gray1.border-radius10.w-100.align-left{
        margin-top: 20px;
    }
}
@media (max-width:767px){
    .img-box {
        width: 140px;
        height: 130px;
    }
    .upload-img.mr-30{
        margin-right: 10px;
    }
    .color-mgray.fontsize-15.fontweight-600.border-b2.pb-10.mt-50.mb-30{
      margin-top: 0rem;
    }
}

.z-99{
  z-index: 99 !important;
  cursor: pointer;
}