<app-login-header></app-login-header>

<!-- * * * * * * * * * * * Start Header * * * * * * * * * * * -->
<div class="bg-white">
    <div class="container">
        <div class="" fxLayout="row" fxLayoutAlign="center center">
            <div class="mt-50 mb-50" fxLayout="column" fxFlex="90" fxFlex.gt.xs="80" fxFlex.gt.sm="70">
                <div class="bg-screen-gray1 around-50 align-center">
                    <img src="../../../assets/images/thankyou-icon.png">
                    <h3 class="fontsize-30 color-lgray">Tack för att du registrerat dig!</h3>
                    <p class="fontsize-18 color-mgray">Gör dig redo att ta emot förfrågningar</p>
                    <!-- <a href="#" class="fontsize-16 color-mgray text-underline text-uppercase fontweight-500">Book now</a> -->
                    <div class="align-center">
                        <button  mat-flat-button class="bg-yellow color-white mt-20 mb-0 width300" routerLink="/cleaner-account-detaile" >GÅ TILL PROFILSIDAN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    