<app-after-login-header *ngIf="logged"></app-after-login-header>
<app-header-blue *ngIf="!logged"></app-header-blue>

<div class="term-sec-1" fxLayout="column" fxLayoutAlign="center center">
    <h3 class="fontsize-36 color-white">Cookies</h3>
</div>
<div class="term-sec-2" fxLayout="column" fxLayoutAlign="space-between space-between">
    <div class="container">
        <div class="mt-50" fxLayout="column" fxLayoutAlign="start start">
            <h4 class="fontsize-24 color-mgray mt-0 mb-10">1. Vad är en cookie?</h4>
            <p class="fontsize-14 color-mgray mt-0 mb-35">Cookies är små textfiler eller delar av information som lagras på din dator eller mobila enhet (t. ex. smartphone eller läsplatta) när du besöker våra sidor. En cookie innehåller vanligtvis namnet på webbsidan som cookien kommer ifrån, ”livstiden” för cookien (d.v.s. hur länge cookien bevaras på din enhet), samt ett värde, vilket vanligtvis är ett slumpmässigt genererat unikt nummer.</p>

            <h4 class="fontsize-24 color-mgray mt-0 mb-10">2. Vad använder vi cookies till?</h4>
            <p class="fontsize-14 color-mgray mt-0 mb-10">Vi använder cookies för att göra våra Sidor enklare att använda och för att bättre kunna anpassa sidorna efter dina intressen och behov. Cookies kan göra detta genom att webbsidan kan läsa och skriva till dessa filer, vilket gör det möjligt för dem att känna igen dig och komma ihåg viktig information som gör användningen av en webbsida mer användarvänligt (till exempel genom att komma ihåg önskade inställningar).</p>
            <p class="fontsize-14 color-mgray mt-0 mb-35">Cookies kan också hjälpa till att snabba upp dina framtida aktiviteter och upplevelser på våra sidor. Vi använder även cookies för att sammanställa anonym, aggregerad statistik som gör det möjligt för oss att förstå hur användare använder våra Sidor och hjälper oss att förbättra våra sidors struktur och innehåll. Vi kan inte identifiera dig personligen genom den här informationen.</p>

            <h4 class="fontsize-24 color-mgray mt-0 mb-10">3. Vilka typer av cookies använder vi?</h4>
            <p class="fontsize-14 color-mgray mt-0 mb-10">Två typer av cookies kan komma att användas på sidorna. De kallas “session cookies” och “persistent cookies”. Session cookies är tillfälliga cookies som lagras på din enhet tills dess att du lämnar sidan. En persistent cookie lagras på din enhet en mycket längre tid eller till dess att du själv manuellt tar bort den (hur länge cookien lagras på din enhet beror på varaktigheten eller ”livstiden” för den specifika cookien).</p>

            <h5 class="fontsize-20 color-mgray mt-0 mb-10">TREDJEPARTSCOOKIES</h5>
            <p class="fontsize-14 color-mgray mt-0 mb-35">Vi använder även ett antal leverantörer som också kan komma att placera cookies på din enhet för vår räkning när du besöker våra sidor för att göra det möjligt för dem att leverera de tjänster de tillhandahåller. Om du vill ha mer information om dessa cookies och information om hur du motsätter dig att ta emot sådana cookies, vänligen se deras integritetspolicyer.</p>

            <h4 class="fontsize-24 color-mgray mt-0 mb-10">4. Vilka cookies använder vi?</h4>
            <p class="fontsize-14 color-mgray mt-0 mb-10">Nedan anger vi de olika typerna av cookies som kan komma att användas på BringCleans-sidor. Notera att i den utsträckning information som samlas in genom cookies utgör personuppgifter gäller bestämmelserna i integritetspolicyn och komplementerar denna cookie-policy.</p>

            <h5 class="fontsize-20 color-mgray mt-0 mb-10">GRUNDLÄGGANDE COOKIES</h5>
            <p class="fontsize-14 color-mgray mt-0 mb-35">Grundläggande cookies är nödvändiga för att sidan ska fungera och för att möjliggöra att du kan navigera runt på den och använda dess tjänster och funktioner. Utan dessa absolut nödvändiga cookies kommer sidan inte att fungera så smidigt för dig som vi vill att den ska och vi kanske inte kan tillhandahålla sidan eller vissa tjänster eller funktioner som du efterfrågar.</p>

            <div class="table-parent">
                <table>
                    <thead>
                        <tr>
                            <th>Cookie typ</th>
                            <th>Beskrivning</th>
                            <th>Hur cookies hanteras</th>
                        </tr>
                    </thead>  
                    <tbody>
                        <tr>
                            <td>Session</td>
                            <td>Session cookies används för att upprätthålla tillståndet hos applikationen.</td>
                            <td>Acceptera/vägra genom webbläsarinställning</td>
                        </tr>
                    </tbody>  
                </table>
            </div>

            <h5 class="fontsize-20 color-mgray mt-20 mb-10">PREFERENSCOOKIES</h5>
            <p class="fontsize-14 color-mgray mt-0 mb-35">Preferenscookies samlar information om dina val och preferenser och gör det möjligt för oss att komma ihåg språk eller andra lokala inställningar och anpassa sidan i enlighet med detta.</p>

            <div class="table-parent">
                <table>
                    <thead>
                        <tr>
                            <th>Cookie typ</th>
                            <th>Beskrivning</th>
                            <th>Hur cookies hanteras</th>
                        </tr>
                    </thead>  
                    <tbody>
                        <tr>
                            <td>Språk</td>
                            <td>Språkcookies används för att spara språket användaren har valt och visa de korrekta inställningarna.</td>
                            <td>Acceptera/vägra genom webbläsarinställning</td>
                        </tr>
                        <tr>
                            <td>Plats</td>
                            <td>Användarens ungefärliga adress (stad, delstat, land, postnummer) som framgår av IP-adressen lagras för att automatiskt kunna välja rätt land.</td>
                            <td>Acceptera/vägra genom webbläsarinställning</td>
                        </tr>
                    </tbody>  
                </table>
            </div>

            <h5 class="fontsize-20 color-mgray mt-20 mb-10">ANALYSCOOKIES</h5>
            <p class="fontsize-14 color-mgray mt-0 mb-35">Analyscookies samlar information om ditt användande av sidan och gör det möjligt för oss att förbättra hur den fungerar. Till exempel visar analyscookies oss vilka sidor som är de mest besökta på sidan, hjälper oss registrera problem du har med sidan samt visar oss huruvida vår sajt är effektiv eller inte. Detta gör det möjligt för oss att se övergripande mönster över användning på sidan snarare än en enskild persons användning.</p>

            <div class="table-parent">
                <table>
                    <thead>
                        <tr>
                            <th>Cookie typ</th>
                            <th>Beskrivning</th>
                            <th>Hur cookies hanteras</th>
                        </tr>
                    </thead>  
                    <tbody>
                        <tr>
                            <td>Google analytics</td>
                            <td>Google analytics-cookies samlar aggregerad statistisk information för att förbättra presentationen av och navigationen på sidan. Google komplementerar den aggregerade informationen med demografiska uppgifter och information om intressen så att vi kan förstå våra besökare bättre.</td>
                            <td>
                                <a href="https://tools.google.com/dlpage/gaoptout" target="_blank" class="color-dblue fontsize-14">https://tools.google.com/dlpage/gaoptout</a>
                            </td>
                        </tr>
                        
                    </tbody>  
                </table>
            </div>

            <h4 class="fontsize-24 color-mgray mt-35 mb-10">5. Hur hanterar jag cookies?</h4>
            <p class="fontsize-14 color-mgray mt-0 mb-10">Trots att de flesta webbläsarna är förinställda att automatiskt acceptera cookies tillåter de flesta webbläsare ändring av inställningarna så att cookies blockeras eller så att du blir meddelad när cookies skickas till din enhet.</p>
            <p class="fontsize-14 color-mgray mt-0 mb-10">Utöver inställningsmöjligheterna beskrivna ovan kan du vägra, acceptera eller ta bort cookies från sidan vid valfri tidpunkt genom att aktivera eller gå in på inställningarna i din webbläsare. Information om tillvägagångssättet att följa för att aktivera, avaktivera eller ta bort cookies kan hittas på din webbläsarleverantörs webbsida via din hjälpsida.</p>
            <p class="fontsize-14 color-mgray mt-0 mb-10">Vänligen var medveten om att om cookies avaktiveras eller tas bort kanske inte alla funktioner på sidan fungerar på avsett sätt, till exempel kanske du inte kan besöka vissa delar av vår sida eller du kanske inte kan ta emot individuellt anpassad information när du besöker sidan.</p>
            <p class="fontsize-14 color-mgray mt-0 mb-10">Om du använder olika enheter för att visa och besöka sidorna (t.ex. din dator, smartphone, läsplatta etc.) behöver du se till att varje webbläsare på varje enhet är inställd efter dina preferenser avseende cookies.</p>
            <p class="fontsize-14 color-mgray mt-0 mb-10">Om du vill ta bort alla cookies som lämnas kvar efter webbsidorna du har besökt finns här länkar där du kan ladda ned tre program som rensar spårningscookies:</p>

            <ul class="pl-20">
                <li class="mb-10">
                    <a class="color-dblue fontsize-14" href="http://www.lavasoftusa.com/products/ad-aware_se_personal.php">http://www.lavasoftusa.com/products/ad-aware_se_personal.php</a>
                </li>
                <li class="mb-10">
                    <a class="color-dblue fontsize-14" href="http://www.spybot.info/en/download/index.html">http://www.spybot.info/en/download/index.html</a>
                </li>
                <li class="mb-10">
                    <a class="color-dblue fontsize-14" href="http://www.webroot.com/consumer/products/spysweeper/">http://www.webroot.com/consumer/products/spysweeper/</a>
                </li>
            </ul>

            <h4 class="fontsize-24 color-mgray mt-0 mb-10">6. Kontakta oss</h4>
            <p class="fontsize-14 color-mgray mt-0 mb-10">Om du har frågor angående denna cookie-policy kan du kontakta oss. Vänligen notera att e-postkommunikation inte alltid är säker, så inkludera inte kreditkortsinformation eller känslig information i dina e-postmeddelanden till oss.</p>
            
            <!-- <h4 class="fontsize-24 color-mgray mt-0 mb-10">Om våra allmänna villkor</h4>
            <p class="fontsize-14 color-mgray mt-0 mb-10">Nedan hittar du våra allmänna villkor (”Allmänna Villkor”). De handlar i stora drag om att:</p> -->




        </div>
    </div>
</div>

<app-after-login-footer></app-after-login-footer>
