@import "../../../scss/_node-module-override";
@import "../../../scss/_styles";
@import "../../../scss/_theming";


.home-sec-1{
    padding: 100px 0 390px 0;
    @media (max-width:1800px) {
        padding:80px 16px 180px 16px;
    }
    .mb-20.mt-20{
        @media (max-width:960px) {
            padding:1rem;
            background: #ffffffc7;
            border-radius: 0.625rem;
            width:75%;
            .color-dblue,.mb-30{
                width:100%;
            }
            
        }
        
        @media (max-width:600px) {
            margin-bottom: 0rem;
            width:90%;
            .laptop_img{
                width: 100%;
            }
            .mb-60{
                margin-bottom: 0.75rem !important;
            }
        }
    }
    
    .top_blue_circle_full-img{
        position: absolute;
        left: 0px;
        bottom: 0px;
        margin: 0px 0 180px 150px;
        z-index: -1;
        @media(max-width:1800px){
            bottom: 0px;
             margin: 0px 0 80px 80px;
        }
        @media(max-width:992px){
            margin: 0px 0 30px 30px;
        }
        @media(max-width:767px){
            display: none;
        }        
    }
    .top_blue_circle_half-img{
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: -1;
        @media(max-width:1800px){
            width: 53%;
        }
        @media(max-width:1400px){
            width: 62%;
        }
    }

    @media (max-width: 945px) {
        padding: 15px 0 15px 0;
  
    }   

}
.home-sec-2{
    padding: 100px 0;   

    .hs2-map-img1{
        width: 70px;
        min-width: 70px;
        height: 70px;
        line-height: 70px;
    }
}
.home-sec-3{
    background: #0BABFE url(/assets/images/sec-3-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 350px;  
    padding: 85px 0 150px 0;
}
.home-sec-5{
    padding: 70px 0;

    .hs5-map-img1{
        width: 70px;
        min-width: 70px;
        height: 70px;
        line-height: 70px;
    }
}
.home-sec-6{
    background: #0BABFE url(/assets/images/sec-6-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 540px;   
    padding: 70px 0;

    .hs-6-product-img1{
        width: 50px;
        min-width: 50px;
        height: 38px;
        line-height: 38px;
    }
    

}
.home-sec-7{
    padding: 75px 0;
    .mobile-padding{
        @media (max-width:600px) {
            width:100%;
            div{
                width:100%;
                padding:0px 10px;
            }
        }
    }
    .home-accordian-width {
        width: 83%;
    }
}
.home-sec-8{
    background: #0BABFE url(/assets/images/sec-8-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 290px;
}

.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
    color: #0BABFE;
    background-color: #E3F3FA;
    border-radius: 100px !important;
    position: absolute;
    right: 0px;
    padding: 0 30px;
    @media (max-width:767px) {
        font-size: 12px;
        padding:0px 10px;
    }
}
.mat-fab.bg-blue-inpt, .mat-flat-button.bg-blue-inpt, .mat-mini-fab.bg-blue-inpt, .mat-raised-button.bg-blue-inpt {
    color: #fff;
    background-color: #0BABFE;
    border-radius: 100px !important;
    position: absolute;
    right: 0px;
    padding: 0 30px;
    @media (max-width:767px) {
        font-size: 12px;
        padding:0px 10px;
    }
}
.mat-form-field-subscript-wrapper {
   margin-top: 0em !important;
}



.reg-cleaner-sec-5{
    padding: 70px 0;

    .rcs5-circle-img1{
        width: 320px;
        min-width: 320px;
        height: 320px;
        line-height: 320px;
        border-radius: 50%;
    }   
    .rcs5-circle-blue1{
        width: 170px;
        height: 170px;
        display: flex;
        border-radius: 50%;
        background: rgba(11, 171, 254, 0.07);
        position: absolute;
        z-index: -1;
        margin: 25px 0 0 -40px;
    } 
    .rcs5-circle-blue2{
        width: 170px;
        height: 170px;
        display: flex;
        border-radius: 50%;
        background: rgba(11, 171, 254, 0.07);
        position: absolute;
        z-index: -1;
        margin: 25px 0 0 40px;
    } 
    .rcs5-circle-blue3{
        width: 170px;
        height: 170px;
        display: flex;
        border-radius: 50%;
        background: rgba(11, 171, 254, 0.07);
        position: absolute;
        z-index: -1;
        margin: 175px 0 0 190px;
    } 
}

.reg-cleaner-sec-6{
    background: #F6FAFB;
    position: relative;
    @media (max-width:960px) {
        padding:0rem 1.25rem;
    }
    .how-it-work-step-img{
        width: 775px;
        height: 491px;
        @media (max-width:1700px) {
            width: 690px;
            height: 460px;
        }
        @media (max-width:1280px) {
            width: 380px;
            height: 456px;
            object-fit: cover;
        }
        @media (max-width:960px) {
            display: none;
        }
        @media (max-width:600px) {
            display: none;
        }   
    }
    
    .hiw-step-img{
        width: 50px;
        height: 50px;
        @media (max-width:960px) {
            margin-right: 10px;
        }
    }

}

.home-sec-7 .bg-blue{
    position: static;
    line-height: 0px !important;
    padding: 0px 20px;
    height: 50px !important;
}

.btnwidth-500{
    width: 500px;
}
@media (max-width:1199px) {
    .laptop_img{
        width: 100%;
    }
}
.display-b{
    display: block !important;
}