<app-header></app-header>
<!-- * * * * * * * * * * * Start Header * * * * * * * * * * * -->

 <div class="home-sec-1" fxLayout="row" >
     <img src="assets/images/top_blue_circle_full.png" class="top_blue_circle_full-img" alt="">
     <img src="assets/images/top_blue_circle_half.png" class="top_blue_circle_half-img" alt="">
    <div class="container container-70">
        <div class="" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="space-between center">
            <div class="mb-20 mt-20" fxLayout="column" fxLayoutAlign.gt-xs="center center" fxLayoutAlign.gt-md="start start" fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxFlex.gt-md="30" fxFlex.gt-lg="30">
                <div class="color-dblue w-100 mb-5">
                    <h2 class="fontsize-36 text-uppercase mt-0 mb-60" style="line-height: 40px;">HUR DET FUNGERAR</h2>
                </div>
                <div class="color-dgray" fxLayout="row" fxLayoutAlign="start start"><h2 class="fontsize-16 mt-0 mb-25">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean est eros, maximus a turpis vel, egestas facilisis nisl. Aenean fermentum augue non maximus gravida.</h2></div>
                <div class="color-dgray" fxLayout="row" fxLayoutAlign="start start"><h2 class="fontsize-16 mt-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean est eros, maximus a turpis vel, egestas facilisis nisl. Aenean fermentum augue non maximus gravida.</h2></div>
            </div>
           <div class="mb-20 mt-20" fxLayout="row"  fxLayoutAlign.gt-xs="center center" fxLayoutAlign="center center" fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="55" fxFlex.gt-lg="63">
              <img src="assets/images/laptop.png" class="laptop_img" alt="">
           </div>
        </div>
    </div>
</div>

<div class="reg-cleaner-sec-6" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="start center">
    <div class="" fxLayout="row" fxLayoutAlign="start start" fxFlex.gt-xs="45" fxFlex.gt-sm="40" fxFlex.gt-md="55" fxFlex.gt-lg="48">
            <div class="mr-0 mr-15" fxLayout="column"  fxLayoutAlign="start start">
                <img src="assets/images/how-it-work-step-img.png" class="how-it-work-step-img mb-0" />
            </div>
    </div>
    <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="35" fxFlex.gt-sm="55" fxFlex.gt-md="42" fxFlex.gt-lg="35">
        <h3 class="fontsize-30 color-dblue text-uppercase mb-25 mt-10">4 ENKELA STEG</h3>
        <div class="mb-35" fxLayout="row" fxLayoutAlign="start start" fxFlex.gt-sm="100" style="width: 100%;">
            <div class="" fxLayout="row" fxLayoutAlign="start start" fxFlex.gt-sm="15"><img src="assets/images/hiw-step1.png" class="hiw-step-img" alt=""></div>
            <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-sm="85">
                <h4 class="fontsize-20 color-dblue mt-0 mb-0">Ange ditt postnummer</h4>
                <p class="fontsize-16 color-dgray  mt-0 mb-0">Ange ditt postnummer för att kontrollera om vi för närvarande har städare i ditt område.</p>
            </div>
        </div>
        <div class="mb-25" fxLayout="row" fxLayoutAlign="start start" fxFlex.gt-sm="100" style="width: 100%;">
            <div class="" fxLayout="row" fxLayoutAlign="start start" fxFlex.gt-sm="15"><img src="assets/images/hiw-step2.png" class="hiw-step-img" alt=""></div>
            <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-sm="85">
                <h4 class="fontsize-20 color-dblue mt-0 mb-0">Välj din rengöringsplan</h4>
                <p class="fontsize-16 color-dgray  mt-0 mb-0">Välj en bekväm rengöringsplan baserad på dina behov så matchar vi dig med en lokal, vettad cleane</p>
            </div>
        </div>
        <div class="mb-25" fxLayout="row" fxLayoutAlign="start start" fxFlex.gt-sm="100" style="width: 100%;">
            <div class="" fxLayout="row" fxLayoutAlign="start start" fxFlex.gt-sm="15"><img src="assets/images/hiw-step3.png" class="hiw-step-img" alt=""></div>
            <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-sm="85">
                <h4 class="fontsize-20 color-dblue mt-0 mb-0">Betala säkert online</h4>
                <p class="fontsize-16 color-dgray  mt-0 mb-0">Betala säkert online och hantera bokningen via skrivbordet eller via mobilappen.</p>
            </div>
        </div>
        <div class="mb-15" fxLayout="row" fxLayoutAlign="start start" fxFlex.gt-sm="100" style="width: 100%;">
            <div class="" fxLayout="row" fxLayoutAlign="start start" fxFlex.gt-sm="15"><img src="assets/images/hiw-step4.png" class="hiw-step-img" alt=""></div>
            <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-sm="85">
                <h4 class="fontsize-20 color-dblue mt-0 mb-0">Njut av ett obefläckat hem</h4>
                <p class="fontsize-16 color-dgray  mt-0 mb-0">Njut av ett glittrande hem och ge din feedback för ständig kvalitetsförbättring.</p>
            </div>
        </div>
    </div>
</div>



<div class="home-sec-7" fxLayout="column"  fxLayoutAlign="center center">
    <div class="container">
        <div class="" fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
            <div class="color-lgray" fxLayout="column" fxLayoutAlign="center center"><h2 class="fontsize-36 align-center mt-0 mb-50">Vanliga Frågor</h2></div>
            <div class="mobile-padding" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFill="fill">
                <div fxLayout="column" class="home-accordian-width">
                <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                Vad är BringClean?
                            </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>BringClean är en plattform som underlättar för dig som behöver hjälp med hemstädning och andra RUT-tjänster. På plattformen hittar du personal som kan komma hem till dig och städa när det passar dig. Trygghet för både köpare och städare är av största vikt för oss på BringClean och alla städare som du hittar på plattformen har gått igenom bakgrundskontroller och intervjuer innan de tillåts buda på uppdrag.</p>

                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                Hur fungerar prissättningen?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Vi har en väldigt transparent prissättning där du som kund direkt ser vad timpriset hos respektive städare är. Städarna sätter själva sina timpriser och du kan anlita städare som motsvarar dina krav och din budget. Alla priser i systemet anges efter RUT-avdrag och det är upp till dig som kund att se till att du är berättigad till RUT-avdrag. I annat fall debiteras du den kostnaden enligt avtalsvillkoren.</p>

                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Behöver jag göra något innan min städare anländer?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Du behöver tillhandahålla allt material som städaren kan tänkas behöva när denne anländer till din bostad så att städaren kan göra ett bra jobb. Om du saknar material så kan du enkelt beställa detta via BringClean så skickar vi hem miljövänliga material så att du har det ni behöver. Värdesaker bör låsas in då BringClean ej ansvarar för dessa.</p>

                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Behöver jag vara hemma vid bokningen?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Många kunder har inte möjlighet att vara hemma och ta emot städaren pga arbete, skola eller liknande och då löser du detta med städaren direkt i chatten. Ni kommer överrens om hur städaren ska få access till ditt hem genom att t.ex. hämta nyckel hos granne, få en tillfällig kod om ni har ett kodlås eller liknande. Vi brukar uppmuntra våra kunder att vara hemma första gången i alla fall så att ni får träffas personligen och du kan ge instruktioner till städaren på plats. Det brukar uppskattas av båda parter.</p>

                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                Jag är inte nöjd / Min städare dök inte upp
                            </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Om något skulle gå fel så kontaktar du bara oss så fort som möjligt, dock senast 24 timmar efter det att uppdraget påbörjats. Vi låser då utbetalningen till den berörda städaren till dess att ärendet har utretts (vilket brukar gå väldigt snabbt). Återbetalning av hela eller delar av summan till dig som köpare kan bli aktuellt varpå vi då krediterar ditt konto så att du kan använda pengarna till att boka en ny städare på BringClean.</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="display-b"><button routerLink="/faq-category-page" mat-flat-button class="bg-blue mt-20 mb-30">HAR DU FLER FRÅGOR?</button></div>
        </div>
    </div>
</div>



<div class="home-sec-8" fxLayout="column" fxLayoutAlign="center center">
    <div class="container">
        <div class="">
            <div class=""><h2 class="color-white align-center fontsize-36 mt-0">Boka en pålitlig städare tryggt och enkelt nu</h2></div>
            <div class="" fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="row" class="relative">
                        <div class="input-border bg-white">
                            <mat-form-field appearance="outline" class="width500">
                                <input name="postcodeinput" ngModel matInput placeholder="Ange ditt postnummer">
                                <mat-icon matPrefix>where_to_vote</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <button (click)="letsGo()" mat-flat-button class="btn-group1-btn">HITTA STÄDARE</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<!-- * * * * * * * * * * * Start Footer * * * * * * * * * * * -->


<app-footer></app-footer>
