<mat-toolbar class="navbar-class">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <a href="/"><img src="assets/images/logo.png" class="logo"></a>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="start center">
                <button mat-button class="color-white fontsize-14" [class.display-none]="unlogged"><mat-icon matPrefix>arrow_forward</mat-icon> LOGOUT </button>
            </div>
        </div>
    </div>
</mat-toolbar>
