@import "../../../scss/_node-module-override";
@import "../../../scss/_styles";
@import "../../../scss/_theming";

// input:disabled {
//   color: rgb(84, 84, 84);
//   cursor: default;
//   background-color: rgb(235, 235, 228);
//}
.card-icon{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;;
    margin: auto;
}
@media (max-width:767px){
    .bg-yellow.color-white {
        width: 220px !important;
    }
}