<app-after-login-header></app-after-login-header>
<div class="account-head-top">
    <div class="container align-center">
        <div class="">
            <h2 class="font-family-m fontweight-400 fontsize-30 color-white mb-11 mt-11">Kommande Bokningar</h2>
        </div>
    </div>
</div>

<section class="account-sec-3 pt-30 pb-50 pl-15 pr-15">
    <div class="container">
        <div class="relative">
            <div class="align-center border-b2 pb-15" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="space-between">
                <p class="fontsize-16 color-dblue fontweight-400 mt-0 mb-0">
                    <mat-icon matPrefix class="vertical-middle">chevron_left</mat-icon> View past bookings
                </p>
                <a href="JavaScript:Void(0);" class="fontsize-15 color-dblue fontweight-600">
                    <mat-icon matPrefix class="vertical-middle mr-10">calender_today</mat-icon> <span class="text-underline">Calendar View</span>
                </a>
            </div>
        </div>
        <div class="" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="space-between">
            <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex.gt-lg="100">
                <div class="w-100 mb-20">
                    <div class="relative table">
                        <div class=" border-b2" fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign="">
                            <div class="mb-20 fontsize-15 color-dgray fontweight-600 mt-30 align-left" fxLayout="column">November 2018 </div>
                        </div>
                        <div class="mt-15" fxLayout="row" fxLayoutAlign="space-between space-between" fxLayoutGap="10px">
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>Michelle Adams</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>Thursday, November 4th at 02:00 PM</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>3.0 hours</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>One-off clean	</span></div>
                            <div class="mb-5 fontsize-15 color-dblue fontweight-600  align-left" fxLayout="column"><span>View / amend booking</span></div>
                        </div>
                        <div class="mt-15" fxLayout="row" fxLayoutAlign="space-between space-between" fxLayoutGap="10px">
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>Michelle Adams</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>Thursday, November 11th at 02:00 PM</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>3.0 hours</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>One-off clean	</span></div>
                            <div class="mb-5 fontsize-15 color-dblue fontweight-600  align-left" fxLayout="column"><span>View / amend booking</span></div>
                        </div> 
                        <div class="mt-15" fxLayout="row" fxLayoutAlign="space-between space-between" fxLayoutGap="10px">
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>Michelle Adams</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>Thursday, November 18th at 02:00 PM</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>3.0 hours</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>One-off clean	</span></div>
                            <div class="mb-5 fontsize-15 color-dblue fontweight-600  align-left" fxLayout="column"><span>View / amend booking</span></div>
                        </div> 
                        
                        
                        <div class=" border-b2" fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign="">
                            <div class="mb-20 fontsize-15 color-dgray fontweight-600  align-left mt-30" fxLayout="column">December 2018  </div>
                        </div>
                        <div class="mt-15" fxLayout="row" fxLayoutAlign="space-between space-between" fxLayoutGap="10px">
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>Michelle Adams</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>Thursday, November 4th at 02:00 PM</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>3.0 hours</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>One-off clean	</span></div>
                            <div class="mb-5 fontsize-15 color-dblue fontweight-600  align-left" fxLayout="column"><span>View / amend booking</span></div>
                        </div>
                        <div class="mt-15" fxLayout="row" fxLayoutAlign="space-between space-between" fxLayoutGap="10px">
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>Michelle Adams</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>Thursday, November 11th at 02:00 PM</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>3.0 hours</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>One-off clean	</span></div>
                            <div class="mb-5 fontsize-15 color-dblue fontweight-600  align-left" fxLayout="column"><span>View / amend booking</span></div>
                        </div> 
                        <div class="mt-15" fxLayout="row" fxLayoutAlign="space-between space-between" fxLayoutGap="10px">
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>Michelle Adams</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>Thursday, November 18th at 02:00 PM</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>3.0 hours</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400  align-left" fxLayout="column"><span>One-off clean	</span></div>
                            <div class="mb-5 fontsize-15 color-dblue fontweight-600  align-left" fxLayout="column"><span>View / amend booking</span></div>
                        </div> 
                    </div>
                </div>
                <div class="relative align-center w-100 mt-20">
                    <a href="JavaScript:Void(0);" class="color-dblue fontsize-14 text-underline">View More</a>
                </div>
            </div>     
        </div>
    </div>
</section>         

<app-after-login-footer></app-after-login-footer>

                
