<section class="modal-sec-1 relative" style="position:relative;">
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close id="acVerifyClose"><img src="assets/images/crose-icon.png"></button>
    </mat-dialog-actions>
<mat-dialog-content class="pt-10" style="width:400px;">

  <p class="font-family-m color-dgray fontsize-14 align-center mt-0 mb-20">
    Är du säker på att du vill ändra bokningens status till
    <span *ngIf="statusUpdate == 'incomplete'"> Ofullständig. </span>
    <span *ngIf="statusUpdate == 'completed'"> Klar. </span>
  </p>
  <div class="text-center mt-4" fxLayout="row" fxLayoutAlign="center center">
    <div class="" fxLayout="column">
        <button mat-button id="closeConf" mat-dialog-close class="bg-blue color-white height-40 width-100 m-2">Nej</button>
    </div>
    <div class="" fxLayout="column">
        <button mat-button cdkFocusInitial id="yes" (click)="confirm()" class="bg-blue color-white height-40 width-100 m-2">Ja</button>
    </div>
  </div>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">

</mat-dialog-actions> -->
</section>
