<app-after-login-header></app-after-login-header>
<div class="account-head-top">
  <div class="container align-center">
    <div class="">
      <h2 class="font-family-m fontweight-400 fontsize-30 color-white mb-11 mt-11">{{ bookingDet.starttime | date: "EEEE, MMMM dd" }}</h2>
    </div>
  </div>
</div>
<section class="account-sec-3 pt-30 pb-50 pl-15 pr-15">
  <div class="container">
    <div class="align-center" *ngIf="bookingDet.status == 'cancelled'">
      <p class="fontsize-18 color-red fontweight-600 mt-0 mb-0">Bokning avbruten</p>
      <p class="color-red fontsize-16 fontweight-600 mt-0">Anledning till avbokning: Jag skulle vilja hoppa över denna städning eftersom det inte behövs</p>
    </div>
    <div class="relative">
      <div class="mb-20 border-b2 pb-20" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row"
        fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="space-between">

        <div *ngIf="bookingDet.user_rating_status == 0 && ((bookingDet.status == 'cancelled' && bookingDet.cancel_by != user) || (bookingDet.status == 'completed') || (bookingDet.status == 'incomplete'))" >
           <a  *ngIf="accessI == 'user'" [routerLink]="['/feedback-page/'+bookDetId+'/'+bookId]" ><button mat-flat-button class="bg-blue color-white mt-10 mb-0 w-100"><mat-icon matPrefix class="vertical-middle color-yellow">star</mat-icon> Betygsätt denna renare </button></a>
        </div>
        <div *ngIf="bookingDet.status == 'confirmed'">
          <button mat-flat-button class="bg-blue color-white mt-10 mb-0 mr-20" (click)="BookingCencelPopup('this');">Avbryt denna bokning
          </button>
        </div>
        <div>
          <div class="green-alert" [class.no-dis]="success">
            <span class="fontsize-16 color-mgray fontweight-400 mb-0">{{ successMsg }}</span>
          </div>
          <div class="danger-alert" [class.no-dis]="error">
            <span class="fontsize-16 color-mgray fontweight-400 mb-0">{{ errMsg }}</span>
          </div>
        </div>
        <div *ngIf="status != 'inställt'">
          <button *ngIf="iscleaner" mat-flat-button class="bg-blue color-white mt-10 mb-0 mr-20" (click)="BookingCencelPopup('all');">AVBOKA UPPDRAGET</button>
        </div>
      </div>
    </div>
    <div class="pt-30" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row"
      fxLayout.gt-lg="row" fxLayoutAlign="space-between">
      <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-sm="68" fxFlex.gt-md="68" fxFlex.gt-lg="68">
        <div class="w-100 mb-20">
          <div class="border-b2" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row"
            fxLayout.gt-lg="row" fxLayoutAlign="space-between">
            <div fxLayout="column" fxLayoutAlign="flex-end baseline">
              <p class="color-mgray fontsize-15 fontweight-600  pb-0 mb-16 mt-0">
                <mat-icon matPrefix class="vertical-middle">date_range</mat-icon> Detaljer
              </p>
            </div>

            <span *ngIf="status != 'inställt'">
            <div *ngIf="nodisplay != 'yes'" class="custome-select" fxLayout="row" fxLayoutAlign="flex-end baseline">
              <span class="color-mgray fontsize-15 fontweight-600 width300">
                Status på bokningen :
              </span>
              <ng-select2 #myselect *ngIf="disputed == 'no'" (valueChanged)="updateAction($event)" [(ngModel)]=book.action [data]="bookstatus" [placeholder]="'Välj'" [options]="options"></ng-select2>
              <span *ngIf="disputed == 'yes'" class="color-mgray fontsize-15 fontweight-600">
                Höjd tvist
                </span>
            </div>
            <div *ngIf="nodisplay == 'yes'" class="custome-select" fxLayout="row" fxLayoutAlign="flex-end baseline">
                <span class="color-mgray fontsize-15 fontweight-600 width300">
                  Status på bokningen :
                </span>
                <span *ngIf="disputed == 'yes'" class="color-mgray fontsize-15 fontweight-600"> Höjd tvist </span>
                <span *ngIf="disputed != 'yes'" class="color-mgray fontsize-15 fontweight-600 capitalize"> {{ status }} </span>
              </div>
              </span>
                <div *ngIf="status == 'inställt'" class="custome-select" fxLayout="row" fxLayoutAlign="flex-end baseline">
                  <span class="color-mgray fontsize-15 fontweight-600 width300">
                    Status på bokningen :
                  </span>
                  <span *ngIf="disputed != 'yes'" class="color-mgray fontsize-15 fontweight-600 capitalize" > {{ status }} </span>
                </div>
          </div>
          <div class="div convert-table pt-20">
              <div class="mb-10" fxLayout="row" fxLayoutAlign="start start">
                  <div class="" fxLayout="column" fxFlex="33" fxFlex.gt-xs="20" fxFlex.gt-sm="16" fxFlex.gt-md="16"
                    fxFlex.gt-lg="16">
                    <span class="color-mgray fontsize-15">{{accessI=='user'?'Städare':'Kund'}}</span>
                  </div>
                  <div class="" fxLayout="column" fxFlex="70" fxFlex.gt-xs="80" fxFlex.gt-sm="74" fxFlex.gt-md="74"
                    fxFlex.gt-lg="74">
                    <span class="color-dblue fontsize-15 fontweight-600">{{ bookingDet.first_name + ' ' + bookingDet.last_name }}</span>
                  </div>
                </div>
                <div class="mb-10" fxLayout="row" fxLayoutAlign="start start">
                  <div class="" fxLayout="column" fxFlex="33" fxFlex.gt-xs="20" fxFlex.gt-sm="16" fxFlex.gt-md="16"
                    fxFlex.gt-lg="16">
                    <span class="color-mgray fontsize-15">Datum/Tid</span>
                  </div>
                  <div class="" fxLayout="column" fxFlex="70" fxFlex.gt-xs="80" fxFlex.gt-sm="74" fxFlex.gt-md="74"
                    fxFlex.gt-lg="74">
                    <span class="color-mgray fontsize-15">{{ bookingDet.starttime | date: "EEEE, MMMM dd 'på' HH:mm" }}</span>
                  </div>
                </div>
                <div class="mb-10" fxLayout="row" fxLayoutAlign="start start">
                  <div class="" fxLayout="column" fxFlex="33" fxFlex.gt-xs="20" fxFlex.gt-sm="16" fxFlex.gt-md="16" fxFlex.gt-lg="16">
                    <span class="color-mgray fontsize-15">Antal timmar</span>
                  </div>
                  <div class="" fxLayout="column" fxFlex="70" fxFlex.gt-xs="80" fxFlex.gt-sm="74" fxFlex.gt-md="74" fxFlex.gt-lg="74">
                    <span class="color-mgray fontsize-15">{{ bookingDet.hours }}.0 timmar</span>
                  </div>
                </div>
                <div class="mb-10" fxLayout="row" fxLayoutAlign="start start">
                  <div class="" fxLayout="column" fxFlex="33" fxFlex.gt-xs="20" fxFlex.gt-sm="16" fxFlex.gt-md="16" fxFlex.gt-lg="16">
                    <span class="color-mgray fontsize-15">Bokningstyp </span>
                  </div>
                  <div class="" fxLayout="column" fxFlex="70" fxFlex.gt-xs="80" fxFlex.gt-sm="74" fxFlex.gt-md="74" fxFlex.gt-lg="74">
                    <!-- -Av Ren -->
                    <span *ngIf="bookingDet.booking_type == 'weekly'" class="color-mgray fontsize-15">Varje vecka</span>
                    <span *ngIf="bookingDet.booking_type == 'once'" class="color-mgray fontsize-15">En gång</span>
                    <span *ngIf="bookingDet.booking_type == 'byweekly'" class="color-mgray fontsize-15">Varannan vecka</span>

                  </div>
                </div>
                <div class="mb-10" fxLayout="row" fxLayoutAlign="start start">
                  <div class="" fxLayout="column" fxFlex="33" fxFlex.gt-xs="20" fxFlex.gt-sm="16" fxFlex.gt-md="16" fxFlex.gt-lg="16">
                    <span class="color-mgray fontsize-15">Adress </span>
                  </div>
                  <div class="" fxLayout="column" fxFlex="70" fxFlex.gt-xs="80" fxFlex.gt-sm="74" fxFlex.gt-md="74" fxFlex.gt-lg="74">
                    <span class="color-mgray fontsize-15">{{ bookingDet.address_1 + ' ' + bookingDet.address_2 + ', ' + bookingDet.stad + ' ' + bookingDet.postcode}}
                    </span>
                  </div>
                </div>
                <div class="mb-10" fxLayout="row" fxLayoutAlign="start start">
                  <div class="" fxLayout="column" fxFlex="33" fxFlex.gt-xs="20" fxFlex.gt-sm="16" fxFlex.gt-md="16" fxFlex.gt-lg="16">
                    <span class="color-mgray fontsize-15">Pris </span>
                  </div>
                  <div class="" fxLayout="column" fxFlex="70" fxFlex.gt-xs="80" fxFlex.gt-sm="74" fxFlex.gt-md="74" fxFlex.gt-lg="74">
                    <span class="color-mgray fontsize-15">{{ bookingDet.price }} kr
                    </span>
                  </div>
                </div>
                <div class="mb-10" fxLayout="row" fxLayoutAlign="start start">
                  <div class="" fxLayout="column" fxFlex="33" fxFlex.gt-xs="20" fxFlex.gt-sm="16" fxFlex.gt-md="16" fxFlex.gt-lg="16">
                    <span class="color-mgray fontsize-15">Anteckningar </span>
                  </div>
                  <div class="" fxLayout="column" fxFlex="70" fxFlex.gt-xs="80" fxFlex.gt-sm="74" fxFlex.gt-md="74"
                    fxFlex.gt-lg="74">
                    <span class="color-mgray fontsize-15">-
                    </span>
                  </div>
                </div>
          </div>
         <!--
          <p class="color-mgray fontsize-15 fontweight-600 pb-10 mb-16 mt-40">
            <mat-icon matPrefix class="vertical-middle">payment</mat-icon> Betalningar
          </p>
          <div class="w-100">
            <div class="relative table">
              <div class=" border-b2" fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign="">
                <div class="mb-5 fontsize-15 color-dgray fontweight-400 width150 align-left" fxLayout="column">Datum
                </div>
                <div class="mb-5 fontsize-15 color-dgray fontweight-400 width200 align-left" fxLayout="column">Metod
                </div>
                <div class="mb-5 fontsize-15 color-dgray fontweight-400 width140 align-left" fxLayout="column">Summa
                </div>
                <div class="mb-5 fontsize-15 color-dgray fontweight-400 width140 align-left" fxLayout="column">Betald
                </div>
              </div>
              <div class="mt-15" fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign="">
                <div class="mb-5 fontsize-15 color-dgray fontweight-400 width150 align-left" fxLayout="column">
                  <span>October 28 2018</span></div>
                <div class="mb-5 fontsize-15 color-dgray fontweight-400 width200 align-left" fxLayout="column">
                  <span><span class="gray-chips">debit/credit card</span></span></div>
                <div class="mb-5 fontsize-15 color-dgray fontweight-400 width140 align-left" fxLayout="column"><span>200
                    kr.</span></div>
                <div class="mb-5 fontsize-15 color-dgray fontweight-400 width140 align-left" fxLayout="column">
                  <span><span class="gray-chips">paid</span></span></div>
              </div>
              <div class="mt-15" fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign="">
                <div class="mb-5 fontsize-15 color-dgray fontweight-400 width150 align-left" fxLayout="column">
                  <span>October 28 2018</span></div>
                <div class="mb-5 fontsize-15 color-dgray fontweight-400 width200 align-left" fxLayout="column">
                  <span><span class="gray-chips">debit/credit card</span></span></div>
                <div class="mb-5 fontsize-15 color-dgray fontweight-400 width140 align-left" fxLayout="column"><span>200
                    kr.</span></div>
                <div class="mb-5 fontsize-15 color-dgray fontweight-400 width140 align-left" fxLayout="column">
                  <span><span class="gray-chips">paid</span></span></div>
              </div>
            </div>
          </div>
          -->
        </div>
      </div>

      <div class="" fxLayout="row" fxLayoutAlign="start start" fxFlex.gt-xs="37" fxFlex.gt-sm="35" fxFlex.gt-md="30"
        fxFlex.gt-lg="30">
        <div class="bg-screen-gray1 border-radius10 w-100 align-left">
          <div class="around-30">

            <p class="fontsize-18 color-mgray fontweight-600 mt-0">Chatthistorik</p>

            <div class="chat-parent">
              <div class="chat-box w-100" #scrollMe>
                <div class="chatings-inner" fxLayout="column" fxLayoutAlign="start baseline">


                    <div fxLayout="column" style="width: 100%" class="" *ngFor="let item of ChatData; let last = last" >


                          <div  [ngClass]="{'msg-receiver': item.receiver_id==CurrentUserId, 'msg-sender':item.receiver_id!=CurrentUserId }" class="" >
                              <span class="color-mgray fontsize-14">
                                <b>{{ item.sender_first_name }}</b>
                                {{ item.created_on | timeAgo }}</span>
                              <div class="msg-box">
                                  {{ item.message }}
                                  {{scrollBottom ? scrollToBottom() : ''}}
                              </div>
                          </div>

                    </div>

                  <!-- <div class="">

                     <p class="fontsize-15 color-mgray align-center">20 october 2018</p>

                    <div class="msg-receiver">
                      <span class="color-mgray fontsize-14"><b>Michelle</b> 16:56</span>
                      <div class="msg-box">
                        Mauris luctus maximus.
                      </div>
                    </div>
                    <div class="msg-sender">
                      <span class="color-mgray fontsize-14">17:05</span>
                      <div class="msg-box">
                        Ut vitae mauris tincidunt.
                      </div>
                    </div>
                    <div class="msg-receiver">
                      <span class="color-mgray fontsize-14"><b>Michelle</b> 18:20</span>
                      <div class="msg-box">
                        Aenean accumsan erat vestibulum lectus sagittis rhoncus at non leo. Etiam blandit porta nibh, et
                        mattis turpis accumsan pharetra. Aliquam mattis ac sem auctor pellentesque. Etiam nec libero nec
                        elit eleifend semper in sed est.
                      </div>
                    </div>
                    <div class="msg-sender">
                      <span class="color-mgray fontsize-14">19:35</span>
                      <div class="msg-box">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae mauris tincidunt.
                      </div>
                    </div>

                  </div> -->

                </div>
              </div>
              <mat-form-field class="text-area relative" *ngIf="bookingDet.status == 'confirmed'">
                <input matInput class="relative" placeholder="Ange ditt meddelande" style="height: 37px;" (keydown.enter)="sendMessage()" [(ngModel)]="messageValue" id="sendbox_input">
              </mat-form-field>
            </div>
            <span id="sendErrMsg" style="color:red;"></span>
            <p class="color-mgray fontsize-15">Meddelanden sparas och kan läsas av BringClean's personal för att vi ska kunna ge dig support.</p>
            <div class="align-center" *ngIf="bookingDet.status == 'confirmed'">

              <button (click)="sendMessage()" mat-flat-button class="bg-blue color-white mt-10 mb-0 w-100" id="sendbox_btn" >SKICKA MEDDELANDE</button>

            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>

<app-after-login-footer></app-after-login-footer>
