<app-login-header></app-login-header>
<div class="account-head-top">
  <div class="container">
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayoutAlign="space-between"
      class="bg-white pt-15 pb-15 pl-30 pr-30 top-search-box relative">
      <div class="relative empl-select-optn" fxLayout="column" fxFlex="100" fxFlex.gt-xs="25" fxFlex.gt-sm="26"
        fxFlex.gt-lg="26" fxFlex.gt-md="26">
        <span class="overflow_elips oe-mani-transf" id="first" style="width: 260px;">Hur ofta behöver du din städare?</span>
        <ng-select2 (valueChanged)="checkNeed($event)" [(ngModel)]=filters.needfor [data]="needforData"
          [placeholder]="'select'" [options]="options"></ng-select2>
        <span class="overflow_elips oe-mani-transf"
          style="width: 260px; font-size:11px; top: 28px; color: red !important;">{{ needforErr }}</span>
      </div>
      <div class="relative before-line-40 empl-select-optn" fxLayout="column" fxFlex.gt-lg="27" fxFlex.gt-md="27"
        fxFlex="100" fxFlex.gt-xs="25" fxFlex.gt-sm="26">
        <mat-form-field class="example-full-width empl-date-picker">
          <img src="assets/images/date-icon-spatiol.png" class="date-icon-spatiol">
          <input matInput [matDatepicker]="picker" (change)="dateCheck()"
            placeholder="Vilket datum ska det påbörjas?" [(ngModel)]=ondate>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <span class="overflow_elips oe-mani-transf"
          style="width: 260px; font-size:11px; top: 28px; color: red !important;">{{ ondateErr }}</span>
      </div>
      <div class="relative before-line-40 empl-select-optn" fxLayout="column" fxFlex.gt-lg="15" fxFlex.gt-md="15"
        fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-sm="20">
        <span class="overflow_elips oe-mani-transf" id="third" style="width: 140px;">Hur länge?</span>
        <ng-select2 (valueChanged)="checktimefor($event)" [(ngModel)]=filters.timefor [data]="timeforData"
          [placeholder]="'select'" [options]="options"></ng-select2>
        <span class="overflow_elips oe-mani-transf"
          style="width: 260px; font-size:11px; top: 28px; color: red !important;">{{ timeforErr }}</span>
      </div>
      <div class="relative before-line-40 empl-select-optn" fxLayout="column" fxFlex.gt-lg="15" fxFlex.gt-md="15"
        fxFlex="100" fxFlex.gt-xs="15" fxFlex.gt-sm="20">
        <span class="overflow_elips oe-mani-transf" id="forth" style="width: 140px;">Vilken tid?</span>
        <ng-select2 (valueChanged)="checkpreftime($event)" [(ngModel)]=filters.preftime [data]="preftimeData"
          [placeholder]="'select'" [options]="options"></ng-select2>
        <span class="overflow_elips oe-mani-transf"
          style="width: 200px; font-size:11px; top: 28px; color: red !important;">{{ preftimeErr }}</span>
      </div>
      <div class="" fxLayout="column" fxFlex.gt-lg="5" fxFlex.gt-md="5" fxFlex="100" fxFlex.gt-xs="5" fxFlex.gt-sm="5">
        <div class="">
          <span (click)="filterList()" class="search-icon-round-blue" style="cursor: pointer;">
            <img src="assets/images/search-icon-round.png" class="mobile-none" style="cursor: pointer;">
            <button mat-flat-button class="bg-blue height-40 mobile-show mt-0">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="clear dashboard-sec-1">
  <div class="container">
    <div *ngIf="filterd == '0'" class="pt-10" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row"
      fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="space-between">
      <h6 class="fontsize-15 color-mgray fontweight-700 m-0" style="text-align: center;width:100%">Gör dina val ovan och klicka på förstoringsglaset för att se alla tillgänliga städare i ditt område.</h6>
    </div>
    <div class="pt-40 pb-40" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row"
      fxLayout.gt-lg="row" fxLayoutAlign="space-between">
      <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="25" fxFlex.gt-sm="23" fxFlex.gt-md="23"
        fxFlex.gt-lg="23">
        <div class=" align-left bg-screen-gray1 around-15 border-radius10 mb-30" fxFlex="100" fxFill="fill">
          <h6 class="fontsize-15 color-mgray fontweight-700 mt-0 mb-15">Övriga önskemål</h6>
          <div class="normal-text-check">
            <label class="check-parent">
              <input type="checkbox" [(ngModel)]="theCheckbox1" data-md-icheck />
              Jag har husdjur
              <span class="checkmark"></span>
            </label>
            <label class="check-parent">
              <input type="checkbox" [(ngModel)]="theCheckbox2" data-md-icheck />
              Jag vill ha strykning
              <span class="checkmark"></span>
            </label>
            <label class="check-parent">
              <input type="checkbox" [(ngModel)]="theCheckbox3" data-md-icheck />
              Jag vill ha fönsterputsning
              <span class="checkmark"></span>
            </label>
            <!-- <label class="check-parent">
              <input type="checkbox" [(ngModel)]="theCheckbox4" data-md-icheck (change)="toggleVisibility($event)" />
              Windows
              <span class="checkmark"></span>
            </label> -->
            <!-- <label class="check-parent">
              <input type="checkbox" [(ngModel)]="theCheckbox3" data-md-icheck (change)="toggleVisibility($event)" />
              I would be available at this time on another day during the week
              (Mon-Fri)
              <span class="checkmark"></span>
            </label> -->
          </div>
        </div>
        <div class=" align-left bg-screen-gray1 around-15 border-radius10 mb-30" fxFlex="100" fxFill="fill">
          <h6 class="fontsize-15 color-mgray fontweight-700 mt-0 mb-15">ÅTERKOMMANDE</h6>
          <p class="fontsize-15 color-mgray fontweight-400 mt-10 mb-10" fxLayout.gt-xs="row">
            <mat-icon class="vertical-middle color-lgreen mr-10" matPrefix>done</mat-icon><span class="display-ib">Bäst pris! Upp till 30% rabatt</span>
          </p>
          <p class="fontsize-15 color-mgray fontweight-400 mt-10 mb-10" fxLayout.gt-xs="row">
            <mat-icon class="vertical-middle color-lgreen mr-10" matPrefix>done</mat-icon><span class="display-ib">Samma städare varje gång</span>
          </p>
          <p class="fontsize-15 color-mgray fontweight-400 mt-10 mb-10" fxLayout.gt-xs="row">
            <mat-icon class="vertical-middle color-lgreen mr-10" matPrefix>done</mat-icon><span
              class="display-ib">Endast 3 månaders minimum avtal</span>
          </p>
        </div>
      </div>
      <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-xs="73" fxFlex.gt-sm="75" fxFlex.gt-md="75"
        fxFlex.gt-lg="75">
        <div *ngFor="let cleaner of cleaners" id="active{{ cleaner.id }}"
          class="uncheck-box-dash w-100 around-19 border-radius10 mb-10" fxLayout.gt-xs="column" fxLayout.gt-sm="row"
          fxLayout.gt-md="row" fxLayoutAlign="space-between">
          <div class="" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row">
            <img *ngIf="cleaner.profile_pic === ''" src="assets/images/round-img4.png" class="round-icon">
            <img *ngIf="cleaner.profile_pic !== ''"
              src="{{ imageBaseUrl + 'uploads/profile_pic/' + cleaner.profile_pic }}" class="round-icon">
            <div class="display-ib pl-20">
              <p class="color-dblue fontsize-16 fontweight-600 mt-5 mb-5 capitalize"
                (click)="openDialogDash1(cleaner.id)" style="cursor: pointer;">{{ cleaner.first_name }}</p>
              <span class="color-mgray fontsize-14 ">{{ cleaner.cleaning_done }} städuppdrag</span>
            </div>
          </div>
          <div class="pt-10" fxLayout.gt-xs="row" fxLayout.gt-sm="row">
            <div class="star-icon-p">

              <span *ngFor="let number of [1,2,3,4,5]" >
              <mat-icon class="vertical-middle color-yellow" matPrefix *ngIf="number <=cleaner.rating" >star</mat-icon>
              <mat-icon class="vertical-middle" matPrefix *ngIf="number > cleaner.rating" >star</mat-icon>
              </span>

              <span class="color-mgray fontsize-15 fontweight-600 display-ib pl-10">{{ cleaner.rating }}/5.0</span>
              <span class="color-dblue fontsize-14 fontweight-400 display-b c-pointer"
                (click)="openDialogDash1(cleaner.id)">Se hela profilen och omdömen</span>
            </div>
            <div class="align-center" style="width:160px;">
              <p class="fontsize-28 color-dblue fontweight-600 margin-auto">{{ cleaner.price }} <span
                  class="fontsize-16"> kr/tim</span>
              </p>
            </div>
            <button id="cleaner{{ cleaner.id }}"
              (click)="selectCleaner(cleaner.id, cleaner.first_name, cleaner.profile_pic)" mat-flat-button
              class="bg-blue height-40 width-120 deselectall">VÄLJ</button>
          </div>
        </div>

        <div *ngIf="cleaners.length==0" class="pt-10" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="space-between">
              <h6 class="fontsize-15 color-mgray fontweight-700 m-0" style="text-align: center;width:100%">Ingen rengöring finns tillgänglig. Du kan söka igen med annan tid</h6>
        </div>

      </div>
    </div>
  </div>
  <div class="relative bg-screen-gray1 w-100" *ngIf="selected.length > 0">
    <div class="container">
      <div class="around-10" fxLayout="row" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row"
        fxLayoutAlign="space-between center">
        <div class="" fxLayout.gt-lg="row" fxLayout.gt-md="row" fxLayout.gt-sm="row" fxLayout.gt-xs="row"
          fxLayout="column">
          <p class="color-dblue fontsize-18 fontweight-700 mb-15 mt-15">VALDA <br>STÄDARE</p>
          <div class="selected-cleaner-bottom" fxLayout.gt-md="row" fxLayout.gt-sm="row" fxLayout.gt-xs="row">
            <div *ngFor="let clean of selected" class="" fxLayout="column" fxflex="">
              <img *ngIf="clean.profile === ''" src="assets/images/round-img4.png" class="round-icon">
              <img *ngIf="clean.profile !== ''" src="{{ imageBaseUrl + 'uploads/profile_pic/' + clean.profile }}"
                class="round-icon">
              <span class="fontsize-13 color-mgray capitalize">{{ clean.name }}</span>
            </div>
          </div>
        </div>
        <div class="pt-0 proceedbook-btn">
          <button (click)="proceedBook()" id="proceed" mat-flat-button class="bg-yellow">FORTSÄTT TILL BOKNINGEN</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-after-login-footer></app-after-login-footer>
