<app-after-login-header></app-after-login-header>
<div class="account-head-top">
    <div class="container align-center">
        <div class="">
            <h2 class="font-family-m fontweight-400 fontsize-30 color-white mb-11 mt-11">Betalningshistorik</h2>
        </div>
    </div>
</div>

<section class="account-sec-3 pt-30 pb-50 pl-15 pr-15">
    <div class="container">        
        <div class="pt-30" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="space-between">
            <div class="" fxLayout="column" fxLayoutAlign="start start"  fxFlex.gt-sm="68" fxFlex.gt-md="68" fxFlex.gt-lg="68">
                <div class="w-100 mb-20">
                    <div class="relative table">
                        <div class=" border-b2" fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign="">
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400 width150 align-left" fxLayout="column">Datum</div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400 width200 align-left" fxLayout="column">Metod</div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400 width140 align-left" fxLayout="column">Belopp</div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400 width140 align-left" fxLayout="column">Status</div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400 width140 align-left" fxLayout="column">Bokning</div>
                        </div>
                        <div class="mt-15" fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign="">
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400 width150 align-left" fxLayout="column"><span>October 28 2018</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400 width200 align-left" fxLayout="column"><span><span class="gray-chips">BETAL / KREDITKORT</span></span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400 width140 align-left" fxLayout="column"><span>200 kr.</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400 width140 align-left" fxLayout="column"><span><span class="gray-chips">BETALD</span></span></div>
                            <div class="mb-5 fontsize-15 color-dblue fontweight-600 width140 align-left" fxLayout="column"><span>Visa Bokning</span></div>
                        </div>
                        <div class="mt-15" fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign="">
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400 width150 align-left" fxLayout="column"><span>October 30 2018</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400 width200 align-left" fxLayout="column"><span><span class="gray-chips">BETAL / KREDITKORT</span></span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400 width140 align-left" fxLayout="column"><span>250 kr.</span></div>
                            <div class="mb-5 fontsize-15 color-dgray fontweight-400 width140 align-left" fxLayout="column"><span><span class="gray-chips">BETALD</span></span></div>
                            <div class="mb-5 fontsize-15 color-dblue fontweight-600 width140 align-left" fxLayout="column"><span>Visa Bokning</span></div>
                        </div>                          
                    </div>
                </div>
            </div>
        
            <div class="" fxLayout="row" fxLayoutAlign="start start" fxFlex.gt-xs="37"  fxFlex.gt-sm="35" fxFlex.gt-md="30" fxFlex.gt-lg="30">
                <div class="bg-screen-gray1 border-radius10 w-100 align-left">
                    <div class="around-30">
                        <p class="fontsize-16 color-mgray fontweight-600 mt-0 mb-20">Behöver du ändra dina kortuppgifter?</p>
                        <p class="fontsize-15 color-mgray mt-0 mb-30">Du kan uppdatera kortinformationen för det kort som vi debiterar för varje bokning.</p>
                        <div class="align-center">
                            <button mat-flat-button class="bg-blue color-white mt-10 mb-0" style="font-size:16px;">Uppdatera kortinformation</button>
                        </div>
                    </div>
                </div>
            </div>        
                        
        </div>
    </div>
</section>         

<app-after-login-footer></app-after-login-footer>

                
