@import "../../../scss/_node-module-override";
@import "../../../scss/_styles";
@import "../../../scss/_theming";

.mat-form-field.text-area.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0 !important;
    box-shadow: 0px 1px 10px 0px rgba(00,00,00,.50) !important;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;;
}
.chat-parent {
    background: #fff;
    border-radius: 0.5rem;
}
.chat-box{
    height:250px;
    overflow: auto;
    background: #fff;
    border-radius: 0.5rem;
    position: relative;
}
textarea.mat-input-element{
    resize: none;
    height:100%;
}
.chatings-inner{
    height:auto;
    overflow: auto;
}
.msg-receiver,
.msg-sender{
    padding:0rem 0.625rem;
    margin-bottom:25px;
    width: fit-content;
}
.msg-sender{
    margin-left:auto;
    text-align: right;
}
.msg-receiver .msg-box{
    background:#AAC7DD;
    border-radius:0rem 0.625rem 0.625rem 0.625rem;
    padding:6px 15px;
    color:#fff;
    position: relative;
    font-size: 15px;
    margin-top:5px;  
    text-align: left; 
}
.msg-sender .msg-box{
    background:#f1f5f7;
    border-radius:0.625rem 0.625rem 0rem 0.625rem;
    padding:6px 15px;
    color:#878DA0;
    position: relative;
    font-size: 15px;
    margin-top:5px;
    text-align: left;
}
.msg-receiver .msg-box::before{
    content: "";
    position: absolute;
    left: -5px;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 6px solid #AAC7DD;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.msg-sender .msg-box::before{
    content: "";
    position: absolute;
    right: -5px;
    bottom: 0px;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #f1f5f7;
}
.chat-parent .mat-form-field{
    background: #fff;
    width: 100%;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    margin-top: -5px;
    padding:0rem !important;
    box-shadow: 0px -6px 10px 0px rgba(0, 0, 0, 0.08);
}

@media (max-width:767px){
    .w-100{
        overflow: auto;
        .table{
            width:600px
        }
    }
}

