@import "../../../scss/_node-module-override";
@import "../../../scss/_styles";
@import "../../../scss/_theming";


.login-sec-1{
    padding: 210px 0 120px 0;
    @media (max-width:1450px) {
        padding: 100px 0 60px 0;
    }
    @media (max-width: 767px) {
        padding: 15px 0 80px 0;      
    } 
        .top_blue_circle_full-img{
            position: absolute;
            left: 0px;
            bottom: 0px;
            margin: 0px 0 170px 125px;
            z-index: -1;
            @media(max-width:1800px){
                bottom: 0px;
                 margin: 0px 0 80px 80px;
            }
            @media(max-width:992px){
                margin: 0px 0 30px 30px;
                
            }
            @media(max-width:767px){
                display: none;
            }        
        }
        .top_blue_circle_half-img{
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: -1;
            @media(max-width:1800px){
                width: 70%;
            }
        }
        .card-box{
            width: 58%;
            background: #fff;
            border-radius: 10px;
            padding: 40px 50px;
            box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.05);
            @media(max-width:1200px){
                padding: 40px 20px;
            }
            @media(max-width:992px){
                width: 68%;
            }
            @media(max-width:767px){
                width:95%;
                padding: 30px 12px;
            }
            .mat-form-field.login-input {
                width: 580px !important;
                @media(max-width:1200px){
                    max-width: 100% !important;
                }
                @media(max-width:992px){
                   
                }
                @media(max-width:767px){
                    
                }
            }
            .mat-form-field.login-input-33{
                width: 100% !important;
                
            }
            .login-input .mat-form-field-appearance-legacy .mat-form-field-infix {
                padding: .4375em 0;
            }
            .mat-checkbox.lrs-checkbox span{
                white-space: normal;
            }
        }
    }
    @media(max-width:767px){
        .width300 {
            width: 90% !important;
        }
    }
    .mat-icon{
        color:#878da0 !important;
    }