<mat-toolbar class="lh-navbar">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <a href="/"><img src="assets/images/logo.png" class="logo"></a>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" >
            <div fxLayout="row" fxLayoutAlign="start center">
                <!-- <button mat-button class="color-dblue fontsize-14">LOGIN </button> -->
                <button routerLink="/login" mat-button class="color-dblue fontsize-14" [class.display-none]="logged"><mat-icon matPrefix>arrow_forward</mat-icon> LOGGA IN </button>
                <button (click)="logout()" mat-button class="color-dblue fontsize-14" [class.display-none]="unlogged"><mat-icon matPrefix>exit_to_app</mat-icon> Logga ut </button>
            </div>
        </div>
    </div>
</mat-toolbar>
