@import "../../../scss/_node-module-override";
@import "../../../scss/_styles";
@import "../../../scss/_theming";


.width-100{width:100px !important}
.offer-btn{
    height: 40px;
    width: 200px;
    border-radius: 35px;
    padding: 0;
    text-align: center;
    background: #0babfe;
    color: #ffffff;
    line-height: 40px;
    margin: auto;
    @media (max-width:600px) {
        margin:0rem 0rem;
    }
    .offer-count{
        width:  24px;
        height: 24px;
        border-radius: 50%;
        line-height: 24px;
        display: inline-block;
        color: #0babfe;
        background: #ffffff;
        margin-left: 15px;
    }
}
.material-icons{
    direction: rtl;
    vertical-align: text-top;
    font-size: 20px;
}
.alert-crose{
    width: 100%;
    padding: 10px 30px;
    background: #f1f5f7;
    border-radius: .625rem;
    margin-bottom: 10px;
    @media (max-width:960px) {
        padding:15px 15px;
    }
    .crose-alert-icon{
        width:14px;
        height: 14px;
        margin-top: 3px;
        margin-right: 15px;
    }
}
.veiw-position{
    position: absolute;
    right: 10px;
}

.title-my-schedule{
    position: absolute;
    left:0rem;
    right: 0rem;
    width: 275px;
    margin:auto;
    @media (max-width:960px){
      margin:0rem;
    }
    @media (max-width:600px){
        margin:auto;
        right: 0;
        text-align: center;
        top:-33px;
        .fontsize-24{
            font-size: 20px;
        }
    }
}

@media (max-width:767px){
    .mobile-pl-pr-10{
        padding:0 10px;
    }
}


.green-alert{
  max-width: 730px;
  margin-top:10px;
  width: 100%;
  padding: 9px 30px !important;
  color: #155724;
  background-color: #d4edda;
  border:1px solid #1557243b;
  border-radius: 20px;
  @media (max-width:767px){
    width:85%;
    padding: 9px 15px !important;
    .fontsize-16{
      font-size: 14px;
    }
  }
  span{
    color:#155724 !important;
  }
}
.danger-alert{
max-width: 730px;
margin-top:10px;
width: 100%;
padding: 9px 30px !important;
background: #f8d7da;
border:1px solid #721c243b;
border-radius: 20px;
  @media (max-width:767px){
    width:85%;
    padding: 9px 15px !important;
    .fontsize-16{
      font-size: 14px;
    }
  }
  span{
    color:#721c24 !important;
  }
}
.no-dis{
display: none !important;
}

.max-800 {
  max-width: 800px !important;
}
