<app-after-login-header></app-after-login-header>
<div class="account-head-top">
    <div class="container align-center">
        <div class="">
            <h2 class="font-family-m fontweight-400 fontsize-30 color-white mb-11 mt-11">Förfrågningar</h2>
        </div>
    </div>
</div>
<div class="container align-center max-800">
    <div class="green-alert" [class.no-dis]="success">
      <span class="fontsize-16 color-mgray fontweight-400 mb-0">{{ successMsg }}</span>
    </div>
    <div class="danger-alert" [class.no-dis]="error">
      <span class="fontsize-16 color-mgray fontweight-400 mb-0">{{ errorMsg }}</span>
    </div>
  </div>
<section class="clear dashboard-sec-1 pb-50">
    <div class="container">
        <div class="mobile-pl-pr-10">
            <div class="relative pt-40 pb-40" fxLayoutAlign="space-between center" fxLayout="row" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row">
                <div class="" fxLayout="column" fxFlex="" fxLayoutAlign="space-between">
                    <div class="offer-btn">Förfrågningar <span class="offer-count" id="offerCount">{{ requests.length }}</span></div>
                </div>
                <div class="veiw-position" fxLayout="column">
                    <a routerLink="/cleaner-future-bookings"  class="color-dblue fontsize-15 text-underline fontweight-500"><mat-icon matPrefix class="mr-5 color-dblue">calender_today</mat-icon> Listvy</a>
                </div>
            </div>
            <div *ngFor="let request of requests" id ="booking{{ request.booking_id }}" class="alert-crose w-100" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between center">
                <div class="" fxLayout="row">
                  <img (click)="denyBooking(request.booking_id, request.request_id)" id="croxx_{{ request.request_id }}" style="cursor: pointer;" src="assets/images/crose-icon.png" class="crose-alert-icon"> <span class="fontsize-15 color-dgray">{{ request.request_on | date : "MMMM d yyy" }} | </span>
                </div>
                <div class="" fxLayout="column">
                    <span class="fontsize-15 color-dgray mt-10 mb-10">
                        <!-- (click)="viewBooking(request.request_id, request.booking_id)" style="cursor: pointer;" -->
                      <span>{{ request.first_name + ' ' + request.last_name }}</span> har erbjudit dig ett städuppdrag {{ request.address_1 + ' ' + request.address_2 + ',' + request.stad + ' ' + request.postcode }} <br/> på<b> {{ request.startdate | date : "d MMMM yyy" }}</b> - {{ request.time }} för {{ request.hours }}-timmar </span></div>
                <div class="" fxLayout="column">
                    <button (click)="confirmBooking(request.booking_id, request.request_id)" id="conf{{ request.request_id }}" mat-flat-button class="bg-blue color-white" style="line-height: 35px !important;">TACKA JA!</button>
                </div>
            </div>
            <!-- fullcalender start-->
            <div class="mt-60 relative">
            <!-- https://fullcalendar.io/docs/angular -->
            <!-- style-override.scss me css  -->
                <div class="title-my-schedule">
                    <h3 class="fontsize-24 color-lgray mt-0 mb-0">Mina inbokade uppdrag</h3>
                </div>
                <full-calendar defaultView="dayGridMonth" [events]='eventsdata' [locales]="locales"
                locale="sv" [plugins]="calendarPlugins" deepChangeDetection="true"></full-calendar>
            </div>
            <!-- fullcalender end -->
        </div>
    </div>
</section>

