@import "../../../scss/_node-module-override";
@import "../../../scss/_styles";
@import "../../../scss/_theming";
.green-alert{
  max-width: 730px;
  margin-bottom:10px;
  width: 90%;
  padding: 9px 30px !important;
  color: #155724;
  background-color: #d4edda;
  border:1px solid #1557243b;
  border-radius: 20px;
  @media (max-width:767px){
    width:85%;
    padding: 9px 15px !important;
    .fontsize-16{
      font-size: 14px;
    }
  }
  span{
    color:#155724 !important;
  }
}
.danger-alert{
max-width: 730px;
margin-bottom:10px;
width: 90%;
padding: 9px 30px !important;
background: #f8d7da;
border:1px solid #721c243b;
border-radius: 20px;
  @media (max-width:767px){
    width:85%;
    padding: 9px 15px !important;
    .fontsize-16{
      font-size: 14px;
    }
  }
  span{
    color:#721c24 !important;
  }
}
.no-dis{
  display: none !important;
}




