<app-header></app-header>
<!-- * * * * * * * * * * * Start Header * * * * * * * * * * * -->

 <div class="home-sec-1" fxLayout="row">
     <img src="assets/images/top_blue_circle_full.png" class="top_blue_circle_full-img" alt="">
     <img src="assets/images/top_blue_circle_half.png" class="top_blue_circle_half-img" alt="">
    <div class="container container-70">
        <div class="" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="center center">
            <div class="mb-20 mt-20" fxLayout="column" fxLayoutAlign.gt-xs="center center" fxLayoutAlign.gt-md="start start" fxFlex.gt-xs="100" fxFlex.gt-sm="30" fxFlex.gt-md="31" >
                <div class="color-dblue mt-40" fxLayout="row" fxLayoutAlign="start start">
                    <h2 class="fontsize-36 text-uppercase mt-0 mb-45" style="line-height: 40px;">PRIS FÖR RENGÖRING AV HEM</h2>
                </div>
                <div class="color-dgray" fxLayout="row" fxLayoutAlign="start start"><h2 class="fontsize-16 mt-0 mb-25">En rättvis, transparent prisättning är väldigt viktig för oss. Eftersom alla städare på vår plattform sätter sina egna priser bestämmer du som kund hur mycket du vill betala för din städning. Under bokningsprocessen kan du se alla städares profiler samt priser och hitta den städare som passar just dig. Vi matchar din förfrågan med städare som passar just dina behov.</h2></div>
            </div>
           <div class="mb-20 mt-20" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row"  fxLayoutAlign.gt-xs="end start" fxLayoutAlign="end center" fxFlex.gt-xs="100" fxFlex.gt-sm="68" fxFlex.gt-md="68"  fxLayoutGap="30px">
                <div class="white-bn-block1" fxLayout="column" fxLayoutAlign="start center" fxFlex.gt-xs="48" fxFlex.gt-sm="42" fxFlex.gt-md="42">
                    <h4 class="color-lgray fontsize-16 text-uppercase fontweight-700 mt-0 mb-30">VECKOVIS/VARANNAN VECKA</h4>
                    <h6 class="fontsize-30 color-dblue fontweight-300  mt-0 mb-10" >från 125 kr/tim</h6>
                    <mat-list role="list" class="p2p-ul-list">
                        <mat-list-item role="listitem" class="color-dgray"> <mat-icon matPrefix class="mr-5 color-lgreen">done</mat-icon> Lägre priser</mat-list-item>
                        <mat-list-item role="listitem" class="color-dgray"> <mat-icon matPrefix class="mr-5 color-lgreen mt-minus-20">done</mat-icon> Återkommande städning</mat-list-item>
                        <mat-list-item role="listitem" class="color-dgray"> <mat-icon matPrefix class="mr-5 color-lgreen">done</mat-icon> Enkel process</mat-list-item>
                    </mat-list>
                    <button routerLink="/" mat-flat-button class="bg-yellow pricing-top-btn-position color-white mt-20 mb-0">Boka nu</button>
                </div>
                <div class="white-bn-block1" fxLayout="column" fxLayoutAlign="start center" fxFlex.gt-xs="48" fxFlex.gt-sm="42" fxFlex.gt-md="42">
                    <h4 class="color-lgray fontsize-16 text-uppercase fontweight-700 mt-0 mb-30">EN GÅNG</h4>
                    <h6 class="fontsize-30 color-dblue fontweight-300  mt-0 mb-10" >från 150 kr/tim</h6>
                    <mat-list role="list" class="p2p-ul-list">
                        <mat-list-item role="listitem" class="color-dgray"> <mat-icon matPrefix class="mr-5 color-lgreen">done</mat-icon>Engångsbokning</mat-list-item>
                    </mat-list>
                    <button routerLink="/" mat-flat-button class="bg-yellow pricing-top-btn-position color-white mt-20 mb-0">Boka nu</button>
                </div>
           </div>
        </div>
    </div>
</div>


<div class="reg-cleaner-sec-5" fxLayout="column" fxLayoutAlign="space-between space-between">
    <div class="container">
        <div class="" fxLayout="column" fxLayoutAlign="center center">
            <div class="color-lgray" fxLayout="row" fxLayoutAlign="center center"><h2 class="fontsize-36 align-center mt-0 mb-55">Anledningar att boka via BringClean</h2></div>
            <div class="" fxLayout="column" fxLayoutAlign="center center">
                <div class="mr-15 ml-15 mb-10" fxLayout="column" fxLayout.gt-xs="row" fxFlex="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                    <div class="" fxLayout="row" fxFlex="100" fxFlex.gt-sm="36" fxFlex.gt-md="33" fxLayoutAlign="start start">
                            <img src="assets/images/round-img9.png" class="mb-20 rcs5-circle-img1" />
                            <span class="rcs5-circle-blue1"></span>
                        </div>
                        <div class="" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="start start">
                            <h6 class="fontsize-24 fontweight-600 mt-0 mb-0 color-dblue">De bästa städarna i din stad</h6>
                            <p class="fontsize-16 color-dgray">Alla städare är egenanställda och försäkrade för sina uppdrag. Du kan läsa recensioner och se omdömen som lämnats av tidigare kunder i varje städares profil. Vi anlitar bara städare som vi själva skulle vilja anlita för att städa våra hem.</p>
                        </div>
                    </div>
                    <div class="mr-15 ml-15 mb-10" fxLayout="column" fxLayout.gt-xs="row" fxFlex="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                        <div class="small-screen-b" fxLayout="row" fxFlex="100" fxFlex.gt-sm="36" fxFlex.gt-md="33" fxLayoutAlign="end start">
                            <img src="assets/images/round-img10.png" class="mb-20 rcs5-circle-img1" />
                            <span class="rcs5-circle-blue2"></span>
                        </div>
                        <div class="" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="start start">
                            <h6 class="fontsize-24 fontweight-600 mt-0 mb-0 color-dblue">Säkra krypterade betalningar online</h6>
                            <p class="fontsize-16 color-dgray">Alla betalningar genomförs säkert online. Kunder betalar säkert via sitt BringClean konto där de även hanterar sina bokningar.</p>
                        </div>
                        <div class="large-screen-b" fxLayout="row" fxFlex="100" fxFlex.gt-sm="36" fxFlex.gt-md="33" fxLayoutAlign="end start">
                            <img src="assets/images/round-img10.png" class="mb-20 rcs5-circle-img1" />
                            <span class="rcs5-circle-blue2"></span>
                        </div>
                    </div>
                    <div class="mr-15 ml-15 mb-10" fxLayout="column" fxLayout.gt-xs="row" fxFlex="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                        <div class="" fxLayout="row" fxFlex="100" fxFlex.gt-sm="36" fxFlex.gt-md="33" fxLayoutAlign="start start">
                            <img src="assets/images/round-img11.png" class="mb-20 rcs5-circle-img1" />
                            <span class="rcs5-circle-blue3"></span>
                        </div>
                        <div class="" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="start start">
                            <h6 class="fontsize-24 fontweight-600 mt-0 mb-0 color-dblue">Dedikerad kundservice</h6>
                            <p class="fontsize-16 color-dgray">Vår kundtjänst är tillgänglig för våra kunder alla helgfria vardagar (måndag till fredag) från 09.00 till 17.00 för att snabbt lösa alla eventuella problem.</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="home-sec-3" fxLayout="row" fxLayoutAlign="space-between space-between">
    <div class="container">
        <div class="" fxLayout="column" fxLayoutAlign="space-between center">
            <div class="mobile-w-100" fxLayout="column">
                    <h2 class="fontsize-30 align-center mb-35 mt-0 color-dgray">Dina fördelar</h2>

                    <div class="my-table">
                        <table class="table">
                            <tr class="border-b1" style="">
                                <th class="border-b-r"></th>
                                <th class="border-b-r"><span class="fontsize-18 color-dgray">Svarta marknaden</span></th>
                                <th class="border-b-only">
                                    <img src="../../../assets/images/logo.png" class="width100">
                                </th>
                            </tr>
                            <tr>
                                <td class="border-b-r">
                                    <span class="fontsize-16 color-mgray "><span class="color-dgray fontweight-600">Skydd mot skador:</span> Alla städare är egenanställda och täcks av en ansvarsförsäkring som de måste teckna för att kunna bjuda på uppdrag via BringClean.</span>
                                </td>
                                <td class="border-b-r align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgray">clear</mat-icon></td>
                                <td class="border-b-only align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgreen">done</mat-icon></td>
                            </tr>
                            <tr>
                                <td class="border-b-r">
                                    <span class="fontsize-16 color-mgray "><span class="color-dgray fontweight-600">Säkerhet:</span> Individuella onlineprofiler med omdömen från tidigare kunder</span>
                                </td>
                                <td class="border-b-r align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgray">clear</mat-icon></td>
                                <td class="border-b-only align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgreen">done</mat-icon></td>
                            </tr>
                            <tr>
                                <td class="border-b-r">
                                    <span class="fontsize-16 color-mgray "><span class="color-dgray fontweight-600">Enkel bokning:</span> Hitta din nya städare med bara några klick</span>
                                </td>
                                <td class="border-b-r align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgray">clear</mat-icon></td>
                                <td class="border-b-only align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgreen">done</mat-icon></td>
                            </tr>
                            <tr>
                                <td class="border-b-r">
                                    <span class="fontsize-16 color-mgray "><span class="color-dgray fontweight-600">Skräddarsytt efter dina behov:</span> Boka en engångsstädning, veckovis eller varanannan veckas återkommande städning</span>
                                </td>
                                <td class="border-b-r align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgray">clear</mat-icon></td>
                                <td class="border-b-only align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgreen">done</mat-icon></td>
                            </tr>
                            <tr>
                                <td class="border-b-r">
                                    <span class="fontsize-16 color-mgray "><span class="color-dgray fontweight-600">Kundtjänst:</span>  Support helgfria vardagar (måndag till fredag) från 09.00 till 17.00 för att snabbt lösa alla eventuella problem</span>
                                </td>
                                <td class="border-b-r align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgray">clear</mat-icon></td>
                                <td class="border-b-only align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgreen">done</mat-icon></td>
                            </tr>
                            <tr>
                                <td class="border-b-r">
                                    <span class="fontsize-16 color-mgray "><span class="color-dgray fontweight-600">Flexibilitet:</span> Vi hjälper dig att hitta en ersättare om din städare går på semester eller blir sjuk.</span>
                                </td>
                                <td class="border-b-r align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgray">clear</mat-icon></td>
                                <td class="border-b-only align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgreen">done</mat-icon></td>
                            </tr>
                            <tr>
                                <td class="border-b-r">
                                    <span class="fontsize-16 color-mgray "><span class="color-dgray fontweight-600">Kontantlösa betalningar:</span> Vi accepterar betalkort eller</span>
                                </td>
                                <td class="border-b-r align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgray">clear</mat-icon></td>
                                <td class="border-b-only align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgreen">done</mat-icon></td>
                            </tr>
                            <tr>
                                <td class="border-r-only">
                                    <span class="fontsize-16 color-mgray "><span class="color-dgray fontweight-600">Feedback:</span> Ge omdömen och feedback för konstant kvalitetsförbättring_x000D_
                                    Svarta marknaden</span>
                                </td>
                                <td class="border-r-only align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgray">clear</mat-icon></td>
                                <td class=" align-center"><mat-icon aria-hidden="false" aria-label="" class="color-lgreen">done</mat-icon></td>
                            </tr>
                        </table>
                    </div>
            </div>
            <div class="" fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">

            </div>
        </div>
    </div>
</div>

<div class="home-sec-6" fxLayout="column" fxLayoutAlign="space-between space-between">
        <div class="container">
            <div class="mb-40" fxLayout="column" fxLayoutAlign="center center">
                <div class="" fxLayout="column" fxLayoutAlign="center center">
                    <h2 class="color-lgray fontsize-36 align-center mt-0 mb-20">Vanlig hemstädning</h2>
                    <p class="color-dgray fontsize-16 align-center mt-0 mb-50">Varje hem är unikt och vi rekommenderar att du kommunicerar dina förväntningar med din städare så fort bokningen är gjord och berättar vilka specifika uppgifter som behöver göras och prioriteras samt definierar vad som är viktigt för just dig personligen.</p>
                </div>
                <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row"  fxLayout.gt-lg="row" fxLayoutAlign="flex-start start" fxFlex="100" fxFlex.gt-xs="100" fxFill="fill">
                        <div class="mr-15 ml-15 align-center" fxLayout="column" fxFlex="100" fxFlex.gt-sm="20" fxLayoutAlign="center center">
                            <img src="assets/images/rs-pro-img-6.png" class=" hs-6-product-img1 mb-20" />
                            <p class="color-dgray fontsize-16 mt-5 mb-20 fontweight-600">Sovrum <br/> Städning</p>
                        </div>
                        <div class="mr-15 ml-15 align-center" fxLayout="column" fxFlex.gt-xs="20" fxFlex.gt-sm="20" fxLayoutAlign="center center">
                            <img src="assets/images/rs-pro-img-7.png" class=" hs-6-product-img1 mb-20" />
                            <p class="color-dgray fontsize-16 mt-5 mb-20 fontweight-600">Allmän <br/> städning</p>
                        </div>
                        <div class="mr-15 ml-15 align-center" fxLayout="column" fxFlex="100" fxFlex.gt-sm="20" fxLayoutAlign="center center">
                            <img src="assets/images/rs-pro-img-8.png" class=" hs-6-product-img1 mb-20" />
                            <p class="color-dgray fontsize-16 mt-5 mb-20 fontweight-600">Dammsugning &<br/> damning</p>
                        </div>
                        <div class="mr-15 ml-15 align-center" fxLayout="column" fxFlex="100" fxFlex.gt-sm="20" fxLayoutAlign="center center">
                            <img src="assets/images/rs-pro-img-9.png" class=" hs-6-product-img1 mb-20" />
                            <p class="color-dgray fontsize-16 mt-5 mb-20 fontweight-600">Tvättning <br/> Diskning</p>
                        </div>
                        <div class="mr-15 ml-15 align-center" fxLayout="column" fxFlex="100" fxFlex.gt-sm="20" fxLayoutAlign="center center">
                            <img src="assets/images/rs-pro-img-10.png" class= "hs-6-product-img1 mb-20" />
                            <p class="color-dgray fontsize-16 mt-5 mb-20 fontweight-600">Golv <br/> Städning</p>
                        </div>
                        <div class="mr-15 ml-15 align-center" fxLayout="column" fxFlex="100" fxFlex.gt-sm="20" fxLayoutAlign="center center">
                            <img src="assets/images/rs-pro-img-11.png" class= "hs-6-product-img1 mb-20" />
                            <p class="color-dgray fontsize-16 mt-5 mb-20 fontweight-600">Sopor <br/> avlägsnande</p>
                        </div>

                </div>
            </div>
            <div class="mb-40" fxLayout="column" fxLayoutAlign="center center">
                <div class="" fxLayout="column" fxLayoutAlign="center center">
                    <h2 class="color-lgray fontsize-36 align-center mt-0 mb-20">Ytterligare tjänster</h2>
                    <p class="color-dgray fontsize-16 align-center mt-0 mb-50">Som ny kund kan du begära att få ytterligare tjänster utförda via BringClean webbplatsen när du gör din första bokning såsom fönsterputsning, strykning, mm. Om du är en befintlig kund så kan du använda meddelandefunktionen i din profil för att kommunicera specifika uppgifter med din städare inför kommande uppdrag.</p>
                </div>
                <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row"  fxLayout.gt-lg="row" fxLayoutAlign="flex-start start" fxFlex.gt-xs="100" fxFlex.gt-sm="80" fxFlex.gt-md="60" fxFlex.gt-lg="60" fxFill="fill">
                    <div class="mr-15 ml-15 align-left" fxLayout="column" fxLayout.gt-xs="row" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                        <img src="assets/images/rs-pro-img-12.png" class="mr-20 hs-6-product-img1 mb-20" />
                        <p class="color-dgray fontsize-16 mt-5 mb-20 fontweight-600">Kylskåp<br> Rengöring</p>
                    </div>
                    <div class="mr-15 ml-15 align-left" fxLayout="column" fxLayout.gt-xs="row" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                        <img src="assets/images/rs-pro-img-13.png" class="mr-20 hs-6-product-img1 mb-20" />
                        <p class="color-dgray fontsize-16 mt-5 mb-20 fontweight-600">Ugn<br> Städa</p>
                    </div>
                    <div class="mr-15 ml-15 align-left" fxLayout="column" fxLayout.gt-xs="row" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                        <img src="assets/images/rs-pro-img-14.png" class="mr-20 hs-6-product-img1 mb-20" />
                        <p class="color-dgray fontsize-16 mt-5 mb-20 fontweight-600">Fönster<br> Städa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="home-sec-8" fxLayout="column" fxLayoutAlign="center center">
    <div class="container">
        <div class="">
            <div class=""><h2 class="color-white align-center fontsize-36 mt-0">Boka en pålitlig städare tryggt och enkelt nu</h2></div>
            <div class="" fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="row" class="relative">
                        <div class="input-border bg-white">
                            <mat-form-field appearance="outline" class="width500">
                                <input name="postcodeinput" ngModel matInput placeholder="Ange ditt postnummer">
                                <mat-icon matPrefix>where_to_vote</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <button (click)="letsGo()" mat-flat-button class="btn-group1-btn">HITTA STÄDARE</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<!-- * * * * * * * * * * * Start Footer * * * * * * * * * * * -->


<app-footer></app-footer>
