@import "../../../scss/_node-module-override";
@import "../../../scss/_styles";
@import "../../../scss/_theming";


.home-sec-1{
    padding: 100px 0 120px 0;
    @media (max-width:1260px) {
        padding:80px 0px 80px 0px;
    }
    @media (max-width:600px) {
        .h6.fontsize-1.mt-0.mb-25{
            margin-bottom: 0rem !important;
        }
    }
    .mb-20.mt-20{
        margin-bottom: 0;
        @media (max-width:960px) {
            padding:1rem;
            background: #ffffffc7;
            border-radius: 0.625rem;
            width:95%;
        }
        @media (max-width:600px) {
            .color-dblue.mt-40{
                margin-top: 0.5rem;
                .mt-0.mb-45{
                    margin-bottom: 1.5rem;
                }
            }
            
        }
    }
    .top_blue_circle_full-img{
        position: absolute;
        left: 0px;
        bottom: 0px;
        margin: 0px 0 180px 155px;
        z-index: -1;
        @media(max-width:1800px){
            bottom: 0px;
             margin: 0px 0 80px 80px;
        }
        @media(max-width:992px){
            margin: 0px 0 30px 30px;
            
        }
        @media(max-width:767px){
            display: none;
        }        
    }
    .top_blue_circle_half-img{
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: -1;
        @media(max-width:1800px){
            width: 70%;
        }
    }
    .white-bn-block1{
        background: #fff;
        border-radius: 10px;
        padding: 50px 50px;
        box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.05);
        height: 401px;
        position: relative;
        @media(max-width:1200px){
            padding: 50px 20px;
        }
        @media (max-width:600px) {
            margin-bottom:0px;
            margin-right:0rem !important;
            width:100% !important;
        }
    }
    .pricing-top-btn-position{
        position: absolute;
        bottom: 50px;
        width: 240px;
        @media (max-width:960px) {
            width:200px;
        }
    }

    @media (max-width: 945px) {
        padding: 15px 0 15px 0;
  
    }   

}
.home-sec-2{
    padding: 100px 0;   

    .hs2-map-img1{
        width: 70px;
        min-width: 70px;
        height: 70px;
        line-height: 70px;
    }
}
.home-sec-3{
    background: #0BABFE url(/assets/images/sec-3-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 600px;  
    padding: 70px 0 70px 0;
    .mobile-w-100{
        @media (max-width:600px) {
            width: 100%;
        }
        
        .my-table{
            width:100%;
            border-radius: 0.625rem;
            box-shadow: 0rem 2px 5px 0px rgba(0, 0, 0, 0.05);
            background: #ffffff;
            overflow: auto;
            @media (max-width:600px) {
                width:98%;
                margin:0 auto;
                border-radius: 0rem;
                padding:4px;
            }
            .table{
                width: 1080px;
                margin: auto;
                border:1px solid #5a5a5a;
                border-spacing: 0;;
                margin:40px;
                @media (max-width:1180px) {
                    width: 815px;
                    margin:30px;
                }
                @media (max-width:992px) {
                    width: 680px;
                }
                @media (max-width:767px) {
                    width: 520px;
                    margin: 20px;
                }
                @media (max-width:600px) {
                    width: 100%;
                    margin: 0px;
                    

                }
                
                th{
                    height:58px;
                    vertical-align: middle;
                    padding-left: 15px;
                    padding-right: 15px;
                    @media (max-width:600px) {
                        // &:first-child{
                        //     width: 50% !important;
                        // }
                        // &:nth-child(2),&:nth-child(3){
                        //     width: 50px;
                        // }
                        padding: 0.25rem;
                        .fontsize-18{
                            font-size:11px !important;
                        }
                        .width100{
                            width: 4rem !important;
                        }
                    }
                }
                td{
                    height:48px;
                    vertical-align: middle;
                    padding-left: 15px;
                    padding-right: 15px;
                    @media (max-width:600px) {
                        padding: 0.25rem;
                        .fontsize-16{
                            font-size: 12px !important;
                        }
                    }
                    
                }
            }
        }
    }
}

.home-sec-5{
    padding: 70px 0;

    .hs5-map-img1{
        width: 70px;
        min-width: 70px;
        height: 70px;
        line-height: 70px;
    }
}
.home-sec-6{
    background: #fff ;  
    padding: 175px 0px 70px 0px;
    @media (max-width:767px) {
        padding: 220px 0px 0px 0px;
        -webkit-padding: 220px 0px 0px 0px;
    }
    @media (max-width:360px) {
        padding: 370px 0px 0px 0px;
        -webkit-padding: 370px 0px 0px 0px;
    }
    .hs-6-product-img1{
        width: 50px;
        min-width: 50px;
        height: 38px;
        line-height: 38px;
        @media (max-width:600px) {
            margin-bottom: 0rem !important;
        }
    }
    @media (max-width:600px) {
        .mr-15.ml-15.align-center{
            width: 100% !important;
            margin:0rem !important
        }
        .mr-15.ml-15.align-left{
            width: 100% !important;
            margin: 0rem !important;
            img.mr-20 {
                margin-right:0rem !important;
            }
            .color-dgray.fontsize-16.mt-5.mb-20.fontweight-600{
                text-align: center;
            }
        }
    }
    

}
.home-sec-7{
    padding: 75px 0;
}
.home-sec-8{
    background: #0BABFE url(/assets/images/sec-8-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 250px;



}

.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
    color: #0BABFE;
    background-color: #E3F3FA;
    border-radius: 100px !important;
    position: absolute;
    right: 0px;
    padding: 0 30px;
    @media (max-width:767px) {
        font-size: 12px;
        padding:0px 10px;
    }
}
.mat-fab.bg-blue-inpt, .mat-flat-button.bg-blue-inpt, .mat-mini-fab.bg-blue-inpt, .mat-raised-button.bg-blue-inpt {
    color: #fff;
    background-color: #0BABFE;
    border-radius: 100px !important;
    position: absolute;
    right: 0px;
    padding: 0 30px;
    @media (max-width:767px) {
        font-size: 12px;
        padding:0px 10px;
    }
}
.mat-form-field-subscript-wrapper {
   margin-top: 0em !important;
}



.reg-cleaner-sec-5{
    padding: 70px 0;
    @media (max-width:991px) {
        padding:0px 0px 40px 0px;
    }
    .small-screen-b{
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        text-align: left;
        align-items: start !important;
        justify-content: start !important;
        @media (max-width:600px){
            margin-left: 0rem !important;
            margin-right: 0rem !important;
            text-align: center;
            align-items: center !important;
            justify-content: center !important;
        }
    }
    .rcs5-circle-img1{
        width: 320px;
        min-width: 320px;
        height: 320px;
        line-height: 320px;
        border-radius: 50%;
        @media (max-width:991px) {
            width: 230px;
            min-width: 230px;
            height: 230px;
            line-height: 230px;
            border-radius: 50%;
        }
        @media (max-width:767px) {
            display: block;
        }
    }   
    .rcs5-circle-blue1{
        width: 200px;
        height: 200px;
        display: flex;
        border-radius: 50%;
        background: rgba(11, 171, 254, 0.07);
        position: absolute;
        z-index: -1;
        margin: 145px 0 0 -20px;
        @media (max-width:991px) {
            display: none;
        }
        @media (max-width:767px) {
            display: none;
        }
    } 
    .rcs5-circle-blue2{
        width: 250px;
        height: 250px;
        display: flex;
        border-radius: 50%;
        background: rgba(11, 171, 254, 0.07);
        position: absolute;
        z-index: -1;
        margin: 0px 0 0 -95px;
        @media (max-width:991px) {
            display: none;
        }
        @media (max-width:767px) {
            display: none;
        }
    } 
    .rcs5-circle-blue3{
        width: 200px;
        height: 200px;
        display: flex;
        border-radius: 50%;
        background: rgba(11, 171, 254, 0.07);
        position: absolute;
        z-index: -1;
        margin: 0px 0 0 165px;
        @media (max-width:991px) {
            display: none;
        }
        @media (max-width:767px) {
            display: none;
        }
    }  
}

.reg-cleaner-sec-6{
    background: #F6FAFB;
    position: relative;

    .reg-cleaner-lft-img{
        width: 775px;
        height: 491px;
    }
    
}


.btnwidth-500{
    width: 500px;
}

.border-b-r{
    border-right:1px solid #5a5a5a;
    border-bottom:1px solid #5a5a5a;
    padding-left: 15px;
    padding-right: 15px;
}
.border-b-only{
    border-bottom:1px solid #5a5a5a;
}
.border-r-only{
    border-right: 1px solid #5a5a5a;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width:1260px){
    .container{
        padding:0rem 0rem;
    }
}
.mt-minus-20{
    @media (max-width:369px) {
        margin-top: -20px;
    }
    @media (min-width:370px) and (max-width:960){
        margin-top: 0px;
    }
    @media (min-width:961px) {
        margin-top: -20px;
    }
}

.large-screen-b{
    display: flex !important;
}
.small-screen-b{
    display: none !important;
}
@media (max-width:767px){
    .large-screen-b{
        display: none !important;
    }
    .small-screen-b{
        display: flex !important;
    }
}