<div class="footer-login-after-bg">
    <footer>
        <div class="container" fxLayout="column" fxLayoutAlign="space-between space-between">

            <div class="mt-20 border-b1" fxLayout="row" fxLayoutAlign="center center"></div>
            <div class="mt-0 mb-5" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayoutAlign="space-between top">
                <div class="mt-20" fxLayout="column" fxFlex="100" fxFlex.gt-xs="35" fxFlex.gt-sm="34">
                    <h4 class="color-mgray fontweight-600  fontsize-15 mt-0">Vanliga frågor</h4>
                        <a routerLink="/faq-page/appointment" style="text-transform: uppercase;" class="color-dblue mr-20 ml-0 fontsize-15">VAD INKLUDERAR REN? </a>
                        <a routerLink="/faq-page/payments" style="text-transform: uppercase;" class="color-dblue mr-20 ml-0 fontsize-15">NÄR VAR JAG LADDA??</a>
                        <a routerLink="/faq-page/payments" style="text-transform: uppercase;" class="color-dblue mr-20 ml-0 fontsize-15">Hur fungerar prissättningen?
                        </a>
                </div>
                <div class="mt-20" fxLayout="column" fxFlex="100" fxFlex.gt-xs="30" fxFlex.gt-sm="30">
                    <h4 class="color-mgray fontweight-600  fontsize-15 mt-0">Behöver du hjälp?</h4>
                        <p  class="color-mgray mr-20 ml-0 mt-0 mb-0 fontsize-15">Hitta dina svar på denna sida </p>
                        <a [href]="emailstring" class="color-dblue mr-20 ml-0 fontsize-15">help.bringclean.se</a>
                </div>
                <div class="mt-20" fxLayout="column" fxFlex="100" fxFlex.gt-xs="33" fxFlex.gt-sm="33">
                    <h4 class="color-mgray fontweight-600  fontsize-15 mt-0">Våra öppettider</h4>
                        <a [href]="emailstring"   class="color-dblue mr-20 ml-0 fontsize-15" >info@bringclean.se </a>
                        <p href="" class="color-mgray mr-20 ml-0 mt-0 mb-0 fontsize-15">Måndag tom Fredag 09:00 - 17:00</p>
                        <p href="" class="color-mgray mr-20 ml-0 mt-0 mb-0 fontsize-15">Kontakta supporten</p>
                </div>
            </div>
        </div>
    </footer>
</div>
