<app-after-login-header></app-after-login-header>
<div class="account-head-top">
  <div class="container align-center">
    <div class="">
      <h2 class="font-family-m fontweight-400 fontsize-30 color-white mb-11 mt-11">Mina Arbetstider</h2>
    </div>
  </div>
</div>

<section class="account-sec-4 pt-30 pb-50 pl-15 pr-15">
  <div class="container">
    <div class="pt-30" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row"
      fxLayout.gt-lg="row" fxLayoutAlign="space-between">
      <div class="" fxLayout="column" fxLayoutAlign="start start" fxFlex.gt-sm="68" fxFlex.gt-md="68" fxFlex.gt-lg="68">
        <div class="w-100">
          <p class="color-mgray fontsize-15 fontweight-600 border-b2 pb-10">Arbetstider</p>
          <div class="green-alert" [class.no-dis]="success">
              <span class="fontsize-16 color-mgray fontweight-400 mb-0">{{ successMsg }}</span>
            </div>
            <div class="danger-alert" [class.no-dis]="error">
              <span class="fontsize-16 color-mgray fontweight-400 mb-0">{{ errMsg }}</span>
            </div>
          <p class="fontsize-14 color-mgray">När vill du vara tillgänglig att ta emot städförfrågningar?</p>
          <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" >
            <label class="check-parent width160">
              <input type="checkbox" [(ngModel)]="monday" data-md-icheck />
              Måndag
              <span class="checkmark"></span>
            </label>
            <div class="relative" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="center center" fxLayoutAlign.gt-sm="center center" fxLayoutAlign.gt-md="center center" fxLayoutAlign.gt-lg="center center">
              <div class="width150 mb-25" fxLayout="column">
                  <ng-select2
                  [(ngModel)]=time.monstart
                  [data]="monstartData"
                  [placeholder]="'Select Time'"
                  [options]="options"></ng-select2>
              </div>
              <div class="width40 mb-20 align-center" fxLayout="column" style="width:40px;">to</div>
              <div class="width150 mb-25" fxLayout="column">
                  <ng-select2
                  [(ngModel)]=time.monend
                  [data]="monendData"
                  [placeholder]="'Select Time'"
                  [options]="options"></ng-select2>
              </div>
              <span style="left: 20px; bottom: 2px;" class="errorVal fontsize-12">{{ monerr }}</span>
            </div>
          </div>
          <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row">
            <label class="check-parent width160">
              <input type="checkbox" [(ngModel)]="tuesday" data-md-icheck />
              Tisdag
              <span class="checkmark"></span>
            </label>
            <div class="relative" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="center center" fxLayoutAlign.gt-sm="center center" fxLayoutAlign.gt-md="center center" fxLayoutAlign.gt-lg="center center">
              <div class="width150 mb-25" fxLayout="column">
                  <ng-select2
                  [(ngModel)]=time.tuestart
                  [data]="tuestartData"
                  [placeholder]="'Select Time'"
                  [options]="options"></ng-select2>
              </div>
              <div class="width40 mb-20 align-center" fxLayout="column" style="width:40px;">to</div>
              <div class="width150 mb-25" fxLayout="column">
                  <ng-select2
                  [(ngModel)]=time.tueend
                  [data]="tueendData"
                  [placeholder]="'Select Time'"
                  [options]="options"></ng-select2>
              </div>
              <span style="left: 20px; bottom: 2px;" class="errorVal fontsize-12">{{ tueerr }}</span>
            </div>
          </div>
          <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row">
            <label class="check-parent width160">
              <input type="checkbox" [(ngModel)]="wednesday" data-md-icheck />
              Onsdag
              <span class="checkmark"></span>
            </label>
            <div class="relative" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="center center" fxLayoutAlign.gt-sm="center center" fxLayoutAlign.gt-md="center center" fxLayoutAlign.gt-lg="center center">
              <div class="width150 mb-25" fxLayout="column">
                  <ng-select2
                  [(ngModel)]=time.wedstart
                  [data]="wedstartData"
                  [placeholder]="'Select Time'"
                  [options]="options"></ng-select2>
              </div>
              <div class="width40 mb-20 align-center" fxLayout="column" style="width:40px;">to</div>
              <div class="width150 mb-25" fxLayout="column">
                  <ng-select2
                  [(ngModel)]=time.wedend
                  [data]="wedendData"
                  [placeholder]="'Select Time'"
                  [options]="options"></ng-select2>
              </div>
              <span style="left: 20px; bottom: 2px;" class="errorVal fontsize-12">{{ wederr }}</span>
            </div>
          </div>
          <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row">
            <label class="check-parent width160">
              <input type="checkbox" [(ngModel)]="thursday" data-md-icheck />
              Torsdag
              <span class="checkmark"></span>
            </label>
            <div class="relative" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="center center" fxLayoutAlign.gt-sm="center center" fxLayoutAlign.gt-md="center center" fxLayoutAlign.gt-lg="center center">
              <div class="width150 mb-25" fxLayout="column">
                  <ng-select2
                  [(ngModel)]=time.thustart
                  [data]="thustartData"
                  [placeholder]="'Select Time'"
                  [options]="options"></ng-select2>
              </div>
              <div class="width40 mb-20 align-center" fxLayout="column" style="width:40px;">to</div>
              <div class="width150 mb-25" fxLayout="column">
                  <ng-select2
                  [(ngModel)]=time.thuend
                  [data]="thuendData"
                  [placeholder]="'Select Time'"
                  [options]="options"></ng-select2>
              </div>
              <span style="left: 20px; bottom: 2px;" class="errorVal fontsize-12">{{ thuerr }}</span>
            </div>
          </div>
          <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row">
            <label class="check-parent width160">
              <input type="checkbox" [(ngModel)]="friday" data-md-icheck />
              Fredag
              <span class="checkmark"></span>
            </label>
            <div class="relative" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="center center" fxLayoutAlign.gt-sm="center center" fxLayoutAlign.gt-md="center center" fxLayoutAlign.gt-lg="center center">
              <div class="width150 mb-25" fxLayout="column">
                  <ng-select2
                  [(ngModel)]=time.fristart
                  [data]="fristartData"
                  [placeholder]="'Select Time'"
                  [options]="options"></ng-select2>
              </div>
              <div class="width40 mb-20 align-center" fxLayout="column" style="width:40px;">to</div>
              <div class="width150 mb-25" fxLayout="column">
                  <ng-select2
                  [(ngModel)]=time.friend
                  [data]="friendData"
                  [placeholder]="'Select Time'"
                  [options]="options"></ng-select2>
              </div>
              <span style="left: 20px; bottom: 2px;" class="errorVal fontsize-12">{{ frierr }}</span>
            </div>
          </div>
          <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row">
            <label class="check-parent width160">
              <input type="checkbox" [(ngModel)]="saturday" data-md-icheck />
              Lördag
              <span class="checkmark"></span>
            </label>
            <div class="relative" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="center center" fxLayoutAlign.gt-sm="center center" fxLayoutAlign.gt-md="center center" fxLayoutAlign.gt-lg="center center">
              <div class="width150 mb-25" fxLayout="column">
                  <ng-select2
                  [(ngModel)]=time.satstart
                  [data]="satstartData"
                  [placeholder]="'Select Time'"
                  [options]="options"></ng-select2>
              </div>
              <div class="width40 mb-20 align-center" fxLayout="column" style="width:40px;">to</div>
              <div class="width150 mb-25" fxLayout="column">
                  <ng-select2
                  [(ngModel)]=time.satend
                  [data]="satendData"
                  [placeholder]="'Select Time'"
                  [options]="options"></ng-select2>
              </div>
              <span style="left: 20px; bottom: 2px;" class="errorVal fontsize-12">{{ saterr }}</span>
            </div>
          </div>
          <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row">
            <label class="check-parent width160">
              <input type="checkbox" [(ngModel)]="sunday" data-md-icheck />
              Söndag
              <span class="checkmark"></span>
            </label>
            <div class="relative" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="center center" fxLayoutAlign.gt-sm="center center" fxLayoutAlign.gt-md="center center" fxLayoutAlign.gt-lg="center center">
              <div class="width150 mb-25" fxLayout="column">
                  <ng-select2
                  [(ngModel)]=time.sunstart
                  [data]="sunstartData"
                  [placeholder]="'Select Time'"
                  [options]="options"></ng-select2>
              </div>
              <div class="width40 mb-20 align-center" fxLayout="column" style="width:40px;">to</div>
              <div class="width150 mb-25" fxLayout="column">
                  <ng-select2
                  [(ngModel)]=time.sunend
                  [data]="sunendData"
                  [placeholder]="'Select Time'"
                  [options]="options"></ng-select2>
              </div>
              <span style="left: 20px; bottom: 2px;" class="errorVal fontsize-12">{{ sunerr }}</span>
            </div>
          </div>
          <div class="align-left relative">
              <span style="left: 20px; bottom: 2px;" class="errorVal fontsize-12">{{ errors }}</span>
            </div>
          <div class="align-left">
            <button mat-flat-button (click)="setworking()" class="bg-yellow color-white mt-10 mb-0 width300">SPARA</button>
          </div>
        </div>
      </div>
      <div class="" fxLayout="row" fxLayoutAlign="start start" fxFlex.gt-xs="37" fxFlex.gt-sm="35" fxFlex.gt-md="30"
        fxFlex.gt-lg="30">
        <div class="bg-screen-gray1 border-radius10 w-100 align-left">
          <div class="around-30">
            <p class="fontsize-18 color-mgray fontweight-600 mt-0">Arbetstider</p>

            <p class="color-mgray fontsize-15">Du bestämmer själv vilka tider på dygnet du vill vara tillgänglig för att ta emot förfrågningar. När du ändrar dina tider så gäller de omgående för NYA bokningar men pågående uppdrag påverkas inte.
            </p>
            <!-- <p class="color-mgray fontsize-15">If you need to change or cancel your customer bookigns please speak to
              your customer and let us know <a href="#" class="color-dblue"> at email.</a>
            </p> -->
            <div class="align-center">
              <button mat-flat-button class="bg-blue color-white mt-10 mb-0" routerLink="/faq-category-page">BEHÖVER DU HJÄLP?</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-after-login-footer></app-after-login-footer>
