@import "../../../scss/_node-module-override";
@import "../../../scss/_styles";
@import "../../../scss/_theming";


.footer-bg{
    background: #5C6275;
    padding: 30px 0;
    @media (max-width:960px) {
        font-size: 12px;
    }

    .mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
        color: #0BABFE;
        background-color: #E3F3FA;
        border-radius: 100px !important;
        position: absolute;
        right: 0px;
        padding: 0 30px;
    }
    .mat-form-field-subscript-wrapper {
       margin-top: 0em !important;
    }
    @media (max-width:767px){
        padding:20px 10px;
        .mb-30.mt-30{
            margin: 0rem!important;
        }
        .input-border{
            margin-bottom: 0rem !important;
        }
        .mt-20.mb-20.border-b1{
            margin-bottom: 0rem;
        }
        span.color-lbbcbdb{
            display: block;
            margin-bottom: 10px;
        }
        
    }
    .ml-100{
        margin-left: 76px;
        @media (max-width:1200px){
            margin-left: 50px;
        }
        @media (max-width:960px){
            margin-left: 0px;
        }
    }
    
}
// .container{
//     max-width: 1200px;
//     @media (max-width:1280px){
//         max-width: 1140px;
//         padding: 0px;
//     } 
//     @media(max-width:767px){
//         padding: 0px;
//     }
// }
.width500 {
    @media (max-width:1200px){
    width: 320px !important;
    }
    @media (max-width:600px){
     width: 300px !important;
    }
}

// @media (max-width:1920px){
//     .container.footer-new-container{
//         max-width: 1350px;
//     }
// }

@media (min-width:1920px){
    .ml-100{
        margin-left: 76px;
    }
    .container.footer-new-container{
        max-width: 1350px;
    }
}


