<mat-toolbar class="lh-navbar">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <a routerLink="/" class="d-flex" ><img src="assets/images/logo.png" class="logo"></a>
        </div>
        <div class="small-d-n" fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button routerLink="/" mat-button class="color-dblue fontsize-14">HEM</button>
                <a routerLink="/offer" mat-button [class.display-none]='cleaner' class="color-dblue fontsize-14">BOKNINGAR</a>

                <button mat-button class="color-dblue fontsize-14" [class.display-none]='cleaner'>BETALNINGAR</button>
                <a routerLink="/mypayout" mat-button class="color-dblue fontsize-14" [class.display-none]='cleaner'>MIN TIMTAXA</a>

                <a routerLink="/welcomeback" mat-button class="color-dblue fontsize-14" [class.display-none]='user'>MINA BETALNINGAR</a>

                <button routerLink="/faq-category-page" mat-button class="color-dblue fontsize-14">HJÄLP</button>
                <button mat-button class="color-dblue fontsize-14" [matMenuTriggerFor]="username">{{ CleanerName | titlecase }} <mat-icon matsuffix class="fontsize-20">expand_more</mat-icon></button>
                <mat-menu #username="matMenu">
                    <a routerLink="/cleaner-account-detaile" mat-menu-item [class.display-none]='cleaner'>Inställningar</a>
                    <a routerLink="/account-detaile-changing" mat-menu-item [class.display-none]='user'>Inställningar</a>
                    <button (click)="logout()" mat-menu-item>Logga ut</button>
                </mat-menu>


                        <div fxLayout="column" fxLayoutAlign="start center" [class.display-none]='user'>
                                <button routerLink="/" mat-button class="border-blue lineheigt35">GÖR EN NY BOKNING</button>
                        </div>

                        <div class="small-d-n" fxLayout="column" *ngIf="MessageList.length">
                            <a href="JavaScript:Void(0);" (click)="removeNotificationCount();" class="ml-10 d-flex" matBadge="{{ MessageCount>0?MessageCount:''}}" matBadgeOverlap="false" [matMenuTriggerFor]="menu">
                                    <mat-icon>notification_important</mat-icon>
                            </a>

                            <mat-menu #menu="matMenu" >
                                    <button  mat-menu-item *ngFor="let item of MessageList; let i = index" (click)="viewBooking(i,item.booking_id, item.booking_detail_id)">{{ item.msg }}</button>
                                </mat-menu>
                        </div>

                        <div *ngIf="MessageList.length == 0">
                                <div class="small-d-n" fxLayout="column" >
                                        <a class="ml-10 d-flex" >
                                            <mat-icon>notification_important</mat-icon>
                                        </a>
                                    </div>

                        </div>
            </div>
        </div>

        <div class="large-d-n" fxLayout="column" fxLayoutAlign="start center">
                <div *ngIf="menuopen" class="home-menu-blue" fxLayout="column" fxLayoutAlign="center center" >
                    <img (click)="closemenu()" src="assets/images/close-menu-white.png" alt="" class="close-menu-white" >

                    <a routerLink="/" class="hmb-menu-a fontsize-36 fontweight-700 color-white text-uppercase">HEM</a>
                    <a routerLink="/welcomeback" class="hmb-menu-a fontsize-36 fontweight-700 color-white text-uppercase">Mina bokningar
                    </a>

                    <button mat-button class="hmb-menu-a fontsize-36 fontweight-700 color-white text-uppercase" [class.display-none]='cleaner'>ÖVERFÖRINGAR</button>
                    <a routerLink="/mypayout" mat-button class="hmb-menu-a fontsize-36 fontweight-700 color-white text-uppercase" [class.display-none]='cleaner'>Mina utbetalningar
                    </a>

                    <a mat-button class="hmb-menu-a fontsize-36 fontweight-700 color-white text-uppercase" [class.display-none]='user'>MINA BETALNINGAR
                    </a>

                    <a routerLink="/faq-category-page" class="hmb-menu-a fontsize-36 fontweight-700 color-white text-uppercase">Hjälp</a>
                    <a mat-button class="hmb-menu-a fontsize-36 fontweight-700 color-white text-uppercase" [matMenuTriggerFor]="username">ANVÄNDARNAMN <mat-icon matsuffix class="fontsize-36">expand_more</mat-icon></a>
                    <mat-menu #username="matMenu">
                        <a routerLink="/account-detaile-changing" mat-menu-item>Kontodetalj</a>
                        <button (click)="logout()" mat-menu-item>Logga ut
                        </button>
                    </mat-menu>
                    <div fxLayout="column" fxLayoutAlign="start center" [class.display-none]='user'>
                            <button mat-button class="border-white">REQUEST NEW BOOKING</button>
                    </div>
                    <!-- <a href="" class="hmb-menu-a fontsize-36 fontweight-700 color-white text-uppercase">Log Out</a> -->
                </div>

            <div class="large-d-n" fxLayout="row" fxLayoutAlign="end center" >
               <!-- <div *ngIf="MessageList.length">
                 <a href="JavaScript:Void(0);" (click)="removeNotificationCount();" class="ml-10 mt-10 " matBadge="{{MessageCount}}" matBadgeOverlap="false" [matMenuTriggerFor]="menu"> -->
               <div *ngIf="MessageList.length">
                 <a href="JavaScript:Void(0);" (click)="removeNotificationCount();" class="ml-10 d-flex" matBadge="{{MessageCount>0?MessageCount:''}}" matBadgeOverlap="false" [matMenuTriggerFor]="menu" >
                    <mat-icon>notification_important</mat-icon>
                 </a>
                    <mat-menu #menu="matMenu" >
                        <button  mat-menu-item *ngFor="let item of MessageList; let i = index" (click)="viewBooking(i, item.booking_id, item.booking_detail_id)">{{ item.msg }}</button>
                    </mat-menu>
               </div>
               <div *ngIf="MessageList.length == 0">
                    <mat-icon>notification_important</mat-icon>
               </div>
                <button mat-button class="color-dblue fontsize-14" (click)="openmenu()"><mat-icon matPrefix class="mr-5 fontsize-19">dehaze</mat-icon> MENY </button>
            </div>





        </div>
    </div>
</mat-toolbar>
