@import "../../../scss/_node-module-override";
@import "../../../scss/_styles";
@import "../../../scss/_theming";


.home-menu-blue{
    background:rgba(8,137,202,.90) ;
    color: #fff;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 999;
    .close-menu-white{
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1000;
        width: 30px;
        height: 30px;
        margin: 50px 50px 0 0;
        cursor: pointer;   
        @media (max-width:600px) {
            width: 20px;
            height: 20px;
            margin: 16px 16px 0 0;
        }     
    }
    .hmb-menu-a{
        cursor: pointer; 
        padding: 10px;
    }
    .hmb-menu-a:hover, .hmb-menu-a.active{
        color: #aac6dd !important; 
    }
    .show{
        display: block;
    }
    .hide{
        display: none;
    }

}


.large-d-n{
    display: none !important;
    @media (max-width:992px){
        display: flex !important;
    }
}
.small-d-n{
    display: flex !important;
@media (max-width:992px){    
        display: none !important;
    }
}
@media (max-width:767px){ 
    .logo{
        width: 115px;
    }
}
.material-icons {
    font-size: 24px !important;
    color: #0BABFE;
}
.mat-badge-medium.mat-badge-after .mat-badge-content {
    right: -8px;
    top: -4px;
}
.mat-badge-content{
    background:#878da0;
}
.mat-menu-content{
    height: auto !important;
    max-height:200px !important;
}
.mat-menu-item{
    background: 0 0;
    color: #878da0;
    border-bottom: 1px solid #e1e1e1 !important;
}
.mat-icon {
height: 30px;
}
.d-flex{display: flex;}
