<app-after-login-header></app-after-login-header>
<div class="account-head-top">
    <div class="container align-center">
        <div class="">
            <h2 class="font-family-m fontweight-400 fontsize-30 color-white mb-11 mt-11">Kommande Bokningar</h2>
        </div>
    </div>
</div>

<section class="account-sec-2 pt-40 pb-50">
    <div class="container">
        <div class="" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayoutAlign="space-between">
            <div class="pl-15 pr-15 mb-20" fxLayout="column" fxLayoutAlign="start start"  fxFlex.gt-sm="68" fxFlex.gt-md="68" fxFlex.gt-lg="68">
                <div class="relative">
                    <h2 class="fontsize-30 color-lgray">We’d love to see you again...</h2>
                    <p class="color-mgray fontsize-18">it looks like you don’t have a cleaner right now... messy houses make us sad. Would you like a clean home again?</p>

                    <button mat-flat-button class="bg-blue color-white mt-10 mb-0">book a new appointment</button>
                </div>
            </div>

            
            <div class="" fxLayout="row" fxLayout="column" fxLayoutAlign="start end" fxFlex.gt-xs="37"  fxFlex.gt-sm="45" fxFlex.gt-md="30" fxFlex.gt-lg="30">
                <div class="bg-screen-gray1 border-radius10 w-100 align-left">
                    <div class="around-30">
                        <p class="fontsize-18 color-mgray fontweight-600 mt-0">Need to change your card details?</p>
                        <p class="color-mgray fontsize-15">You can update the card details we charge after each booking.</p>
                        <div class="align-center">
                            <button mat-flat-button class="bg-blue color-white mt-10 mb-0">update card details</button>
                        </div>
                    </div>
                </div>
            </div>        
                        
        </div>
    </div>
</section>    
<app-after-login-footer></app-after-login-footer>
