@import "../../../scss/_node-module-override";
@import "../../../scss/_styles";
@import "../../../scss/_theming";


.term-sec-1{
    background: url(/assets/images/term-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    width: 100%;
    height: 300px;
    @media (max-width:767px){
        height: 200px;
    }
}
@media (max-width:767px){
    .term-sec-2{
        padding:0px 10px;
    }
}
.table-parent{
    width:100%;
    overflow: auto;
}
table{
    width: 100%;
    border: 1px solid #e8e8e8;
    border-spacing: 0;
    @media (max-width:767px){
        width:600px;
        margin:auto;
    }
}
table thead{
    background-color: #f6fafb;
}
table thead th{height: 40px;text-align: center;min-width: 150px;}
table tbody td{text-align: center;padding:15px 10px;border-top: 1px solid #e8e8e8e8;}

ul li{
    list-style: disc;
}
@media (max-width:600px){
    .fontsize-24{
        font-size: 1.25rem;
    }
    .fontsize-20{
        font-size: 1rem;
    }
    a.color-dblue.fontsize-14{
        font-size: 10px;
    }
}