<app-header></app-header>
<!-- * * * * * * * * * * * Start Header * * * * * * * * * * * -->

<div class="login-sec-1" fxLayout="row">
  <img src="assets/images/top_blue_circle_full.png" class="top_blue_circle_full-img" alt="">
  <img src="assets/images/top_blue_circle_half.png" class="top_blue_circle_half-img" alt="">
  <div class="container">

    <form #regCleanerForm="ngForm">
      <div class="mb-20 mt-20" fxLayout="column" fxLayoutAlign.gt-xs="center center" fxLayoutAlign="center center"
        fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
        <div class="card-box" fxLayout="column">
          <div class="" fxLayout="column" fxLayoutAlign="start center" fxFlex="100">
            <h3 class="fontsize-36 font-family-m color-lgray align-center mt-0 mb-15" fxFlex="100">Välkommen!</h3>
            <h4 class="fontsize-22 font-family-m color-lgray align-center mt-0">Fullfölj din registrering och motta städförfrågningar på nolltid!</h4>
          </div>
          <div class="color-dblue" fxLayout="column" fxLayoutAlign="start start" fxFlex="100">
            <mat-form-field appearance="outline" class="login-input mb-20">
              <input name="email" ngModel matInput (keypress)='enter($event)' placeholder="E-post adress *" (keyup)="RemoveErr('email')">
              <mat-icon matPrefix>email</mat-icon>
              <span class="errorVal">{{ emailErr }}</span>
            </mat-form-field>
            <mat-form-field appearance="outline" class="login-input mb-20">
              <input name="fname" (keypress)='enter($event)' ngModel matInput placeholder="Förnamn *" (keyup)="RemoveErr('fname')">
              <mat-icon matPrefix>perm_identity</mat-icon>
              <span class="errorVal">{{ firstErr }}</span>
            </mat-form-field>
            <mat-form-field appearance="outline" class="login-input mb-20">
              <input name="lname" (keypress)='enter($event)' ngModel matInput placeholder="Efternamn *" (keyup)="RemoveErr('lname')">
              <mat-icon matPrefix>perm_identity</mat-icon>
              <span class="errorVal">{{ lastErr }}</span>
            </mat-form-field>
            <mat-form-field appearance="outline" class="login-input mb-20">
              <input name="phone" (keypress)='enter($event)' ngModel matInput placeholder="Mobilnummer *" (keyup)="RemoveErr('phone')">
              <mat-icon matPrefix>phone_iphone</mat-icon>
              <span class="errorVal">{{ phoneErr }}</span>
            </mat-form-field>
            <mat-form-field appearance="outline" class="login-input mb-20">
              <input name="password" (keypress)='enter($event)' ngModel type="password" matInput placeholder="Lösenord *" (keyup)="RemoveErr('password')">
              <mat-icon matPrefix>lock</mat-icon>
              <span class="errorVal">{{ passwordErr }}</span>
            </mat-form-field>
            <mat-form-field appearance="outline" class="login-input mb-20">
              <input name="confirm" (keypress)='enter($event)' ngModel type="password" matInput placeholder="Bekräfta lösenord *" (keyup)="RemoveErr('confirm')">
              <mat-icon matPrefix>lock</mat-icon>
              <span class="errorVal">{{ confirmErr }}</span>
            </mat-form-field>
          </div>
          <div class="mb-20" fxLayout="column" fxLayoutAlign="start start">
            <mat-checkbox (click)="termsClick($event)" id="checked" class="lrs-checkbox">
              <span class="fontsize-12 display-ib relative">
                  
                 Genom att klicka på "REGISTRERA" nedan så godkänner du våra
                <a target="_blank" routerLink="/terms-page" class="fontsize-12 color-dblue"> Villkor</a> och <a
                  target="_blank" routerLink="/privacy-page" class="fontsize-12 color-dblue">Integritetspolicy</a>
                <span class="errorVal fontsize-12" style="left: 0rem;">{{ acceptErr }}</span>
              </span>
            </mat-checkbox>
          </div>
          <div class="mb-20 ml-auto" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxLayout="100">
            <span class="errorVal fontsize-12 mt-0 mb-0 width300 display-ib relative"
              style="text-align: center;">{{ error }}</span>
          </div>
          <div class="mb-20 ml-auto" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxLayout="100">
            <button type="button" (click)="regCleaner(regCleanerForm.value)" mat-flat-button id="reg"
              class="bg-yellow color-white mt-0 mb-0 width300">REGISTRERA</button>
          </div>

        </div>

      </div>
    </form>

  </div>
</div>



<!-- * * * * * * * * * * * Start Footer * * * * * * * * * * * -->


<app-before-login-footer></app-before-login-footer>
