button.border-white,
a.border-white{
     border: 2px solid #fff;
     border-radius: 20px;
     background: transparent;
     color: #fff;
     font-size: 14px;;
     padding: 0 20px;
     text-transform: uppercase;
}
button.bg-blue,
a.bg-blue{
    border: none;
    border-radius: 100px;
    background: #0BABFE;
    color: #fff;
    font-size: 18px;;
    padding: 0 20px;
    text-transform: uppercase;
    position: relative;
    right: unset;
    @media (max-width:600px) {
        font-size: 14px;
    }

}
.m-2{margin:0.5rem !important}
button.bg-light-blue,
a.bg-light-blue{
    border: none;
    border-radius: 100px;
    background: #aac6dd;
    color: #fff;
    font-size: 18px;;
    padding: 0 20px;
    text-transform: uppercase;
}
button.border-blue,
a.border-blue{
    border: 2px solid #0BABFE;
    border-radius: 20px;
    background: transparent;
    color: #0BABFE;
    font-size: 18px;
    padding: 0 20px;
    text-transform: uppercase;
}
.navbar-class.mat-toolbar button.border-blue{
    font-size: 14px;
}
button.border-light-blue,
a.border-light-blue{
    border: 1px solid #aac6dd;
    border-radius: 20px;
    background: transparent;
    color: #878da0;
    font-size: 18px;;
    padding: 0 20px;
    text-transform: uppercase;
}
button.bg-yellow,
a.bg-yellow{
    border: none;
    border-radius: 100px;
    background: #FFAD1E;
    color: #fff;
    font-size: 18px;;
    padding: 0 20px;
    text-transform: uppercase;
    position: relative;
    right: unset;
    @media (max-width:600px) {
        font-size: 14px;
    }
}
.mat-toolbar {
    background: transparent;
    color: #5C6275;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 0px;
}
.mat-toolbar.lh-navbar {
    background: #F6FAFB;
    color: #5C6275;
}
.mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: 1px solid #AAC6DD;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom: 10px;
}
.mat-accordion .mat-expansion-panel {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: 1px solid #AAC6DD;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom: 10px;
}
.mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: 1px solid #AAC6DD;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom: 20px;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}
.mat-expansion-panel-header-title {
    color: #0BABFE;
}

/*vinay css start*/
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background: #0BABFE !important;
}
.account-head-top{
    height:auto;
    background:#AAC6DD;
    display: flex;
    padding:15px 16px;
}
.account-sec-1{
    padding-left:16px;
    padding-right:16px;
    @media (max-width:600px) {
        h2.fontsize-30{
            margin-top: 0rem !important;
        }
    }
}
@media (max-width:992px){
    .bg-screen-gray1.around-5.border-radius10.w-100.align-center{
        margin-top: 20px;
        padding:0rem !important;
    }
}
.account-head-top .container,
.account-sec-1 .container{
    padding:0px 0px;
}
.account-bg{
    background:#fff;
    border-radius: 25px;
    height:auto;
    min-height:50px;
    width:260px;
    position: relative;
    display: inline-block;
    color: #0BABFE;
    font-size: 14px;
    @media (min-width:600px) and (max-width:992px){
        max-width:170px;
        width: 170px;
    }
    @media (max-width:600px) {
        min-height: 42px;
        width: auto;
        .display-ib.ml-50{
            display:none;
        }
    }
}
@media (min-width:600px) and (max-width:992px){
    .account-bg .ml-50 {
        margin-left: 0rem;
        margin-right: 0.5rem;
        font-size: 12px;
    }
}
.account-bg.complete{
    color: #AAC6DD;
}
.account-bg.complete .acount-count-number{
    color: #fff;
    background:#4BCEAF;
}
.account-bg.active{
    color: #4BCEAF;
    @media (max-width:750px){
        font-size: 12px;
        .display-ib.ml-50{
            margin-left: 0rem !important;
            margin-right: 0.5rem;
        }
    }
    @media (max-width:600px) {
        .display-ib.ml-50{
            display:inline-block;
        }
    }
}
.account-bg.active .acount-count-number{
    color: #fff;
    background:#4BCEAF;
}
.acount-count-number{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background: #E3F3FA;
    display: inline-block;
    margin:5px;
    font-size: 17px;
    color: #0BABFE;
    @media (max-width:600px) {
        width: 32px;
        height: 32px;
        line-height: 32px;
    }
}
.account-bg::after{
    content: "";
    position: absolute;
    width: 166px;
    right: auto;
    left: 283px;
    background: url(/assets/images/account-hred-dot.png);
    height: 6px;
    top: 0;
    bottom: 0;
    margin: auto;
    @media (max-width:992px){
        display: none;
    }
}
.account-bg:last-child::after{
    display: none;
}
.input-border{
    border:1px solid #D5DFE8;
    border-radius:25px;
    //box-shadow:none !important;
    margin-bottom: 20px;
    width: 100%;
}
.input-border .mat-form-field{
    width:100%;
}
.example-form{
    width:100%;
}
.account-sec-4 .container>div,
.account-sec-3 .container>div,
.account-sec-2 .container>div{
    padding-left:16px;
    padding-right:16px;
}
.modal-round-img{
    width:180px;
    height:180px;
    border-radius: 50%;
}
.mat-dialog-container{
    padding:40px 24px 24px 24px;
    @media (max-width:992px) {
        margin: 0px 0px !important;
        padding: 0 5px !important;
    }
}
.modal-sec-1 .mat-dialog-actions {
    position: absolute;
    z-index: 9;
    height: 40px;
    width: 39px;
    padding: 0;
    text-align: center;
    line-height: 40px;
    min-height: 40px;
    right: -15px;
    top: -35px;
    @media (width:992px) {
        height: 20px;
        width: 20px;
        padding: 0;
        text-align: center;
        line-height: 20px;
        min-height: 20px;
        right: 0;
        top: -20px;
    }
  }
  .errorVal{

        position: absolute;
        left: -18px;
        bottom: -13px;
        color: red;
        font-size: 11px;

  }
.successVal{

        position: absolute;
        left: -18px;
        bottom: -13px;
        color: green;
        font-size: 11px;

  }
  .normal-text-check span {
    white-space: normal !important;
}
.rcs5-circle-img1{
    width: 320px;
    min-width: 320px;
    height: 320px;
    line-height: 320px;
    border-radius: 50%;
    @media (max-width:991px) {
        width: 230px;
        min-width: 230px;
        height: 230px;
        line-height: 230px;
        border-radius: 50%;
    }
    @media (max-width:767px) {
        width: 130px;
        min-width: 130px;
        height: 130px;
        line-height: 130px;
    }
}
.rcs5-circle-blue1{
    width: 170px;
    height: 170px;
    display: flex;
    border-radius: 50%;
    background: rgba(11, 171, 254, 0.07);
    position: absolute;
    z-index: -1;
    margin: 25px 0 0 -50px;
    @media (max-width:991px) {
        display: none;
    }
    @media (max-width:767px) {
        display: none;
    }
}
.rcs5-circle-blue2{
    width: 270px;
    height: 270px;
    display: flex;
    border-radius: 50%;
    background: rgba(11, 171, 254, 0.07);
    position: absolute;
    z-index: -1;
    margin: -30px 0 0 40px;
    @media (max-width:991px) {
        display: none;
    }
    @media (max-width:767px) {
        display: none;
    }
}
.rcs5-circle-blue3{
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 50%;
    background: rgba(11, 171, 254, 0.07);
    position: absolute;
    z-index: -1;
    margin: 150px 0 0 160px;
    @media (max-width:991px) {
        display: none;
    }
    @media (max-width:767px) {
        display: none;
    }
}
@media (max-width:992px){
    .mat-dialog-content{
        max-width: 100%;
        width: auto !important;
        margin: 0 0 !important;
        padding: 0 !important;
    }
    .mat-dialog-content.my-modal{
        padding: 15px !important;
        max-width: 94% !important;
    }
}
@media (max-width: 767px){

    .top_blue_circle_half-img {
        width: 59% !important;
    }
    .btnwidth-500{
        width:100% !important;
    }
    .mat-dialog-content .fontsize-30.mb-30{
        font-size: 18px !important;
        margin-bottom:1rem !important;
    }
    .mat-dialog-content .fontsize-14{
        font-size: 11px !important;
    }
    // .modal-sec-1
    .modal-sec-1 .mat-dialog-actions{
        width: 20px !important;
        right: 0rem !important;
        top:-22px !important;
        .mat-button.mat-button-base{
            padding:0rem !important;
            width:20px !important;
            min-width:20px !important;
            height: 20px !important;
            min-height: 20px !important;
            line-height: 20px !important;
        }
    }

}
.top_blue_circle_half-img{
    @media (max-width: 1099px){
        width: 65% !important;
    }
    @media (max-width: 767px){
        width: 58% !important;
    }
}


/*for custome checkbox*/
.check-parent {
    display: block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 1rem;
    margin-left:4px;
    cursor: pointer;
    font-size: 14px;
    color: #878DA0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check-parent input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid #d5dfe8;
}

/* On mouse-over, add a grey background color */
.check-parent:hover input ~ .checkmark {
    background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.check-parent input:checked ~ .checkmark {
    background-color: #ffffff;
    border: 1px solid #d5dfe8;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-parent input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-parent .checkmark:after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid #0babfe;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

@media (max-width:767px){
    .card-box{
        box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.05);
    }
}

/* for-custome-check box */
/*vinay css end*/
