.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    @media (max-width:1260px){
        max-width: 940px;
    }
    @media (max-width:1280px){
        max-width: 1170px;
        padding: 0 0px;
    }
    @media (max-width:1200px){
        max-width: 940px;
    }
    @media (max-width: 992px) {
        max-width: 850px;
    }
    @media (max-width: 960px) {
        max-width: 630px;
    }
    @media (max-width: 767px) {
        padding: 0 0px;
        padding: 0 0px !important;
    }
}
/*for new container*/
.container.container-70{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    @media (max-width:1280px){
        max-width: 1140px;
        padding: 0 0px;
    }
}
/*--------------/font-family/font-weight/font-style/font-size/--------------*/
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600 !important;
}
button{font: normal !important}
.fontweight-bold{font-weight:bold;}
.fontweight-normal{font-weight:normal;}
.fontweight-300{font-weight:300;}
.fontweight-400{font-weight:400;}
.fontweight-500{font-weight:500;}
.fontweight-600{font-weight:600;}
.fontweight-700{font-weight:700;}
.fontweight-900{font-weight:900;}
.fontstyle-italic{font-style:italic;}
.fontstyle-normal{font-style:normal;}
.fontsize-6{font-size:0.375rem;}
.fontsize-7{font-size:0.4375rem;}
.fontsize-8{font-size:0.5rem;}
.fontsize-9{font-size:0.5625rem;}
.fontsize-10{font-size:0.625rem;}
.fontsize-11{font-size:0.6875rem;}
.fontsize-12{font-size:0.75rem;}
.fontsize-13{font-size:0.8125rem;}
.fontsize-14{font-size:0.875rem;}
.fontsize-15{font-size:0.9375rem;}
.fontsize-16{font-size:1rem;}
.fontsize-17{font-size:1.063rem;}
.fontsize-18{font-size:1.125rem;
    @media (max-width:992px) {
        font-size: 16px;
    }
    @media (max-width:600px) {
        font-size: 14px;
    }
}
.fontsize-19{font-size:1.188rem;}
.fontsize-20{font-size:1.25rem;
    @media (max-width:992px) {
        font-size: 18px;
    }
}
.fontsize-21{font-size:1.313rem;}
.fontsize-22{font-size:1.375rem;
    @media (max-width:992px) {
        font-size: 18px;
    }
}
.fontsize-23{font-size:1.438rem;}
.fontsize-24{font-size:1.5rem;}
.fontsize-25{font-size:1.563rem;}
.fontsize-26{font-size:1.625rem;}
.fontsize-27{font-size:1.688rem;}
.fontsize-28{font-size:1.75rem;}
.fontsize-29{font-size:1.813rem;}
.fontsize-30{font-size:1.875rem;
    @media (max-width:600px) {
        font-size: 24px;
    }
    @media (max-width:430px) {
        font-size: 22px;
    }
}
.fontsize-31{font-size:1.938rem;}
.fontsize-32{font-size:2rem;}
.fontsize-33{font-size:2.063rem;}
.fontsize-34{font-size:2.125rem;}
.fontsize-35{font-size:2.188rem;}
.fontsize-36{font-size:2.25rem;
    @media (max-width:991px) {
        font-size: 28px;
    }
    @media (max-width:767px){
        font-size: 24px;
    }
}
.fontsize-37{font-size:2.313rem;}
.fontsize-38{font-size:2.375rem;}
.fontsize-39{font-size:2.438rem;}
.fontsize-40{font-size:2.5rem;
    @media (max-width:992px) {
        font-size: 2rem;
    }
    @media (max-width:767px){
        font-size: 28px;
    }
}
.fontsize-41{font-size:2.563rem;}
.fontsize-42{font-size:2.625rem;}
.fontsize-43{font-size:2.688rem;}
.fontsize-44{font-size:2.75rem;}
.fontsize-45{font-size:2.813rem;}
.fontsize-46{font-size:2.875rem;}
.fontsize-47{font-size:2.938rem;}
.fontsize-48{font-size:3rem;}
.fontsize-49{font-size:3.063rem;}
.fontsize-50{font-size:3.125rem;}
.fontsize-51{font-size:3.188rem;}
.fontsize-52{font-size:3.25rem;}
.fontsize-53{font-size:3.313rem;}
.fontsize-54{font-size:3.375rem;}
.fontsize-55{font-size:3.438rem;}
.fontsize-56{font-size:3.5rem;}
.fontsize-57{font-size:3.563rem;}
.fontsize-58{font-size:3.625rem;}
.fontsize-59{font-size:3.688rem;}
.fontsize-60{font-size:3.75rem;}
.fontsize-61{font-size:3.813rem;}
.fontsize-62{font-size:3.875rem;}
.fontsize-63{font-size:3.938rem;}
.fontsize-64{font-size:4rem;}
.fontsize-65{font-size:4.063rem;}
.fontsize-66{font-size:4.125rem;}
.fontsize-67{font-size:4.188rem;}
.fontsize-68{font-size:4.25rem;}
.fontsize-69{font-size:4.313rem;}
.fontsize-70{font-size:4.375rem;}
.fontsize-71{font-size:4.438rem;}
.fontsize-72{font-size:4.5rem;}
.fontsize-73{font-size:4.563rem;}
.fontsize-74{font-size:4.625rem;}
.fontsize-75{font-size:4.688rem;}
.fontsize-76{font-size:4.75rem;}
.fontsize-77{font-size:4.813rem;}
.fontsize-78{font-size:4.875rem;}
.fontsize-79{font-size:4.938rem;}
.fontsize-80{font-size:5rem;}
.fontsize-81{font-size:5.063rem;}
.fontsize-82{font-size:5.125rem;}
.fontsize-83{font-size:5.188rem;}
.fontsize-84{font-size:5.25rem;}
.fontsize-85{font-size:5.313rem;}
.fontsize-86{font-size:5.375rem;}
.fontsize-87{font-size:5.438rem;}
.fontsize-88{font-size:5.5rem;}
.fontsize-89{font-size:5.563rem;}
.fontsize-90{font-size:5.625rem;}
.fontsize-91{font-size:5.688rem;}
.fontsize-92{font-size:5.75rem;}
.fontsize-93{font-size:5.813rem;}
.fontsize-94{font-size:5.875rem;}
.fontsize-95{font-size:5.938rem;}
.fontsize-96{font-size:6rem;}
.fontsize-97{font-size:6.063rem;}
.fontsize-98{font-size:6.125rem;}
.fontsize-99{font-size:6.188rem;}
.fontsize-100{font-size:6.25rem;}
.fontsize-110{font-size:6.875rem;}
.fontsize-120{font-size:7.5rem;}
.fontsize-130{font-size:8.125rem;}
.fontsize-140{font-size:8.75rem;}
.fontsize-150{font-size:9.375rem;}
.fontsize-160{font-size:10rem;}
.fontsize-170{font-size:10.63rem;}
.fontsize-180{font-size:11.25rem;}
.fontsize-190{font-size:11.88rem;}
.fontsize-200{font-size:12.5rem;}
.h2{font-size: 60px;}
.h3{font-size: 48px;line-height: 50px;}
.h4{font-size: 34px;line-height: 40px;}
.h5{font-size: 24px;line-height: 32px;}
.h6{font-size: 20px;}
.p16{font-size:1rem;}
.p1{font-size: 14px;}
.p2{font-size: 12px;}
/*-----------------/text-color/background-color/---------------------*/
.color-white{color: #fff;}
.color-black{color: #000;}
.color-yellow{color: #FFAD1E;}
.color-dblue{color: #0BABFE;}
.color-blue{color: #0aabfd;}
.color-lblue{color: #E3F3FA;}
.color-dgray{color: #5C6275;}
.color-mgray{color: #878DA0;}
.color-lgray{color: #AAC7DD;}
.color-lgreen{color: #4BCEAF;}
.color-lbbcbdb{color: #bbcbdb;}
.color-red{color:#f1637e}
.bg-white{background: #fff;}
.bg-black{background: #000;}
.bg-yellow{background: #FFAD1E;}
.bg-dblue{background: #0BABFE;}
.bg-lblue{background: #E3F3FA;}
.bg-dgray{background: #5C6275;}
.bg-mgray{background: #878DA0;}
.bg-lgray{background: #AAC7DD;}
.bg-screen-gray1{background:#F1F5F7;}
.bg-lgreen{background: #4BCEAF;}
/*------------------/border/border-radius/-------------------*/
.border-w{border:0.0625rem solid rgba(255,   255, 255, 0.30);}       /*****change according to web*****/
.border-t{border-top:0.0625rem solid rgba(255,   255, 255, 0.30);}      /*****change according to web*****/
.border-r{border-right:0.0625rem solid rgba(255,   255, 255, 0.30);}      /*****change according to web*****/
.border-b{border-bottom:0.0625rem solid rgba(255,   255, 255, 0.30);}     /*****change according to web*****/
.border-l{border-left:0.0625rem solid rgba(255,   255, 255, 0.30);}
.border-w1{border:0.0625rem solid #E3F3FA;}       /*****change according to web*****/
.border-t1{border-top:0.0625rem solid #E3F3FA;}      /*****change according to web*****/
.border-r1{border-right:0.0625rem solid #E3F3FA;}      /*****change according to web*****/
.border-b1{border-bottom:0.0625rem solid #E3F3FA;}     /*****change according to web*****/
.border-l1{border-left:0.0625rem solid #E3F3FA;}
.border-w2{border:0.0625rem solid #aac6dd;}       /*****change according to web*****/
.border-t2{border-top:0.0625rem solid #aac6dd;}      /*****change according to web*****/
.border-r2{border-right:0.0625rem solid #aac6dd;}      /*****change according to web*****/
.border-b2{border-bottom:0.0625rem solid #aac6dd;}     /*****change according to web*****/
.border-l2{border-left:0.0625rem solid #aac6dd;}
.border-radius4{border-radius:.25rem;}          /*****change according to web*****/
.border-radius10{border-radius:0.625rem;}       /*****change according to web*****/
.border-radius30{border-radius:1.875rem;}       /*****change according to web*****/
.border-radius100{border-radius:6.25rem;}       /*****change according to web*****/
.border-radius50{border-radius:50%;}
.border-radius16{border-radius:1rem;}
.border-r-l30{border-radius: 1.875rem 0rem 0rem 1.875rem !important;}       /*****change according to web*****/
.border-r-r30{border-radius: 0rem 1.875rem 1.875rem 0rem !important;}       /*****change according to web*****/
/*-------------/typology/-----------------*/
.vertical-top{vertical-align:top;}
.vertical-middle{vertical-align:middle;}
.vertical-bottom{vertical-align:bottom;}
.vertical-base{vertical-align:baseline;}
.vertical-text-top{vertical-align:text-top;}
.align-left{text-align:left;}
.align-center{text-align:center;}
.align-right{text-align:right;}
.align-justify{text-align:justify;}
.text-indent1{text-indent:10%;}           /*****change according to web*****/
.text-indent2{text-indent:50%;}           /*****change according to web*****/
.text-overline{text-decoration: overline;}
.text-linethrough{text-decoration: line-through;}
.text-underline{text-decoration: underline !important;}
.textdecor-none{text-decoration: none;}
.text-uppercase{text-transform: uppercase !important;}
.lowercase{text-transform:lowercase;}
.capitalize{text-transform:capitalize;}
.uppercase{text-transform:uppercase;}
.lineheight10{line-height: 0.625rem;}
.lineheight11{line-height: 0.6875rem;}
.lineheight12{line-height: 0.75rem;}
.lineheight13{line-height: 0.8125rem;}
.lineheight14{line-height: 0.875rem;}
.lineheight15{line-height: 0.9375rem;}
.lineheight16{line-height: 1rem;}
.lineheight17{line-height: 1.063rem;}
.lineheight18{line-height: 1.125rem;}
.lineheight19{line-height: 1.188rem;}
.lineheight20{line-height: 1.25rem;}
.lineheight21{line-height: 1.313rem;}
.lineheight22{line-height: 1.375rem;}
.lineheight23{line-height: 1.438rem;}
.lineheight24{line-height: 1.5rem;}
.lineheight25{line-height: 1.563rem;}
.lineheight26{line-height: 1.625rem;}
.lineheight27{line-height: 1.688rem;}
.lineheight28{line-height: 1.75rem;}
.lineheight29{line-height: 1.813rem;}
.lineheight30{line-height: 1.875rem;}
.lineheight35{line-height: 2.188rem;}
.lineheight40{line-height: 2.5rem;}
.lineheight45{line-height: 2.813rem;}
.lineheight50{line-height: 3.125rem;}
.boxshadow-none{box-shadow: none !important;}
.boxshadow-1{box-shadow: 0px 3px 6px 0rem rgba(0, 0, 0, 0.16);}
.boxshadow-2{box-shadow: 0px 3px 6px 0rem rgba(102, 113, 228, 0.15);} /*****change according to web*****/
.display-n{display:none !important;}
.display-i{display:inline;}
.display-b{display:block;}
.display-ib{display:inline-block;}
.relative{position:relative !important;}
.absolute{position:absolute !important;}
.fixed{position:fixed;}
.top{top: 0px;}
.right{right: 0px;}
.bottom{bottom: 0px;}
.left{left: 0px;}
.pull-left{float: left;}
.pull-right{float: right;}
.clear{clear: both;}
.clear-r{clear: right;}
.clear-l{clear: left;}
.c-pointer{cursor: pointer;}
.text-lines-overflow-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/*--------------------------------------------------------------------------------/
/               all tags/ all css
/-------------------------------------------------------------------------------*/
/*--------------/width/height/---------------*/
.minheight-700{min-height:43.75rem;}        /*****change according to web*****/
.minheight-845{min-height:52.813rem;}       /*****change according to web*****/
.minheight-892{min-height:55.75rem;}        /*****change according to web*****/
.minheight-1115{min-height:69.6875rem;}       /*****change according to web*****/
.widthfit{width: fit-content !important;width: -moz-fit-content!important;min-width: 6.25rem !important;}
.widthfit1{width: fit-content !important;width: -moz-fit-content!important;min-width: 3.75rem !important;}
.w-100{width:100%;}
.w-95{width:95%;}
.width12{width: 0.75rem;}
.width16{width: 1rem;}
.width20{width: 1.25rem;}
.width24{width: 1.5rem;}
.width30{width: 1.875rem;}
.width50{width: 3.125rem;}
.width60{width: 3.75rem !important;}
.width70{width: 4.375rem;}
.width80{width: 5rem;}
.width90{width: 5.625rem;}
.width100{width: 6.25rem;}
.width110{width: 6.875rem;}
.width120{width: 7.5rem;}
.width130{width: 8.125rem;}
.width140{width: 8.75rem;}
.width150{width: 9.375rem !important;}
.width160{width: 10rem !important;}
.width170{width: 10.63rem !important;}
.width180{width: 11.25rem !important;}
.width190{width: 11.88rem;}
.width200{width: 12.5rem !important;}
.width210{width: 13.13rem !important;}
.width220{width: 13.75rem;}
.width230{width: 14.38rem;}
.width240{width: 15rem ;}
.width250{width: 15.63rem !important;}
.width300{width: 300px !important;
    @media (max-width:600px) {
        width:100% !important;
    }
}
.width350{width: 21.88rem !important;}
.width500{width: 500px !important;
    @media (max-width:600px) {
        width:300px !important;
    }
}
/*--------------/margin/padding/---------------*/
.around-5{padding: 0.3125rem;}
.around-10{padding: 0.625rem;}
.around-15{padding: 0.9375rem;}
.around-20{padding: 1.25rem !important;}
.around-25{padding: 1.563rem;}
.around-30{padding: 1.875rem;}
.around-35{padding: 2.188rem;}
.around-40{padding: 2.5rem;}
.around-45{padding: 2.813rem;}
.around-50{padding: 3.125rem;}
.around-55{padding: 3.438rem;}
.around-60{padding: 3.75rem;}
.around-trl-15{padding: 0.9375rem; padding-bottom: 0;}
.pt-0{padding-top: 0;}
.pt-5{padding-top:0.3125rem;}
.pt-10{padding-top:0.625rem;}
.pt-15{padding-top:0.9375rem;}
.pt-20{padding-top:1.25rem;}
.pt-25{padding-top:1.563rem;}
.pt-30{padding-top:1.875rem;}
.pt-35{padding-top:2.188rem;}
.pt-40{padding-top:2.5rem;}
.pt-45{padding-top:2.813rem;}
.pt-50{padding-top:3.125rem;}
.pt-55{padding-top:3.438rem;}
.pt-60{padding-top:3.75rem;}
.pt-65{padding-top:4.063rem;}
.pt-70{padding-top:4.375rem;}
.pt-75{padding-top:4.688rem;}
.pt-80{padding-top:5rem;}
.pt-85{padding-top:5.313rem;}
.pt-90{padding-top:5.625rem;}
.pt-95{padding-top:5.938rem;}
.pt-100{padding-top:6.25rem;}
.pt-110{padding-top:6.875rem;}
.pt-120{padding-top:7.5rem;}
.pt-130{padding-top:8.125rem;}
.pt-140{padding-top:8.75rem;}
.pt-150{padding-top:9.375rem;}
.pr-0{padding-right: 0;}
.pr-5{padding-right:0.3125rem;}
.pr-10{padding-right:0.625rem;}
.pr-15{padding-right:0.9375rem;}
.pr-20{padding-right:1.25rem;}
.pr-25{padding-right:1.563rem;}
.pr-30{padding-right:1.875rem;}
.pr-35{padding-right:2.188rem;}
.pr-40{padding-right:2.5rem;}
.pr-45{padding-right:2.813rem;}
.pr-50{padding-right:3.125rem;}
.pr-100{padding-right:6.25rem;}
.pr-150{padding-right:9.375rem;}
.pl-0{padding-left: 0;}
.pl-5{padding-left:0.3125rem;}
.pl-10{padding-left:0.625rem;}
.pl-15{padding-left:0.9375rem;}
.pl-20{padding-left:1.25rem;}
.pl-25{padding-left:1.563rem;}
.pl-30{padding-left:1.875rem;}
.pl-35{padding-left:2.188rem;}
.pl-40{padding-left:2.5rem;}
.pl-45{padding-left:2.813rem;}
.pl-50{padding-left:3.125rem;}
.pl-100{padding-left:6.25rem;}
.pl-150{padding-left:9.375rem;}
.pb-0{padding-bottom: 0;}
.pb-5{padding-bottom:0.3125rem;}
.pb-10{padding-bottom:0.625rem;}
.pb-15{padding-bottom:0.9375rem;}
.pb-20{padding-bottom:1.25rem;}
.pb-25{padding-bottom:1.563rem;}
.pb-30{padding-bottom:1.875rem;}
.pb-35{padding-bottom:2.188rem;}
.pb-40{padding-bottom:2.5rem;}
.pb-45{padding-bottom:2.813rem;}
.pb-50{padding-bottom:3.125rem;}
.pb-55{padding-bottom:3.438rem;}
.pb-60{padding-bottom:3.75rem;}
.pb-65{padding-bottom:4.063rem;}
.pb-70{padding-bottom:4.375rem;}
.pb-75{padding-bottom:4.688rem;}
.pb-80{padding-bottom:5rem;}
.pb-85{padding-bottom:5.313rem;}
.pb-90{padding-bottom:5.625rem;}
.pb-95{padding-bottom:5.938rem;}
.pb-100{padding-bottom:6.25rem;}
.pb-110{padding-bottom:6.875rem;}
.pb-120{padding-bottom:7.5rem;}
.pb-130{padding-bottom:8.125rem;}
.pb-140{padding-bottom:8.75rem;}
.pb-150{padding-bottom:9.375rem;}
.margin-auto{margin: 0 auto;}
.m-0{margin: 0rem;}
.mt-0{margin-top: 0;}
.mt-5{margin-top:0.3125rem;}
.mt-7{margin-top:  0.4375rem;}
.mt-8{margin-top:  0.5rem;}
.mt-10{margin-top:0.625rem;}
.mt-11{margin-top:11px;}
.mt-12{margin-top:12px;}
.mt-15{margin-top:0.9375rem;}
.mt-16{margin-top: 1rem;}
.mt-20{margin-top:1.25rem;}
.mt-25{margin-top:1.563rem;}
.mt-30{margin-top:1.875rem;}
.mt-35{margin-top:2.188rem;}
.mt-40{margin-top:2.5rem;}
.mt-45{margin-top:2.813rem;}
.mt-50{margin-top:3.125rem;}
.mt-55{margin-top:3.438rem;}
.mt-60{margin-top:3.75rem;}
.mt-65{margin-top:4.063rem;}
.mt-70{margin-top:4.375rem;}
.mt-75{margin-top:4.688rem;}
.mt-80{margin-top:5rem;}
.mt-85{margin-top:5.313rem;}
.mt-90{margin-top:5.625rem;}
.mt-95{margin-top:5.938rem;}
.mt-100{margin-top:6.25rem;}
.mt-110{margin-top:6.875rem;}
.mt-120{margin-top:7.5rem;}
.mt-130{margin-top:8.125rem;}
.mt-140{margin-top:8.75rem;}
.mt-150{margin-top:9.375rem;}
.mt-180{margin-top:11.25rem;}
.mr-0{margin-right: 0;}
.mr-5{margin-right:0.3125rem;}
.mr-10{margin-right:0.625rem;}
.mr-15{margin-right:0.9375rem;}
.mr-20{margin-right:1.25rem;}
.mr-25{margin-right:1.563rem;}
.mr-30{margin-right:1.875rem;}
.mr-35{margin-right:2.188rem;}
.mr-40{margin-right:2.5rem;}
.mr-45{margin-right:2.813rem;}
.mr-50{margin-right:3.125rem;}
.ml-0{margin-left: 0;}
.ml-5{margin-left:0.3125rem;}
.ml-10{margin-left:0.625rem !important;}
.ml-15{margin-left:0.9375rem !important;}
.ml-20{margin-left:1.25rem;}
.ml-25{margin-left:1.563rem;}
.ml-30{margin-left:1.875rem;}
.ml-35{margin-left:2.188rem;}
.ml-40{margin-left:2.5rem;}
.ml-45{margin-left:2.813rem;}
.ml-50{margin-left:3.125rem;}
.ml-100{margin-left:100px;}
.mb-0{margin-bottom: 0;}
.mb-5{margin-bottom:0.3125rem;}
.mb-10{margin-bottom:0.625rem !important;}
.mb-11{margin-bottom:11px;}
.mb-15{margin-bottom:0.9375rem;}
.mb-20{margin-bottom:1.25rem;
    // @media (max-width:600px) {
    //     margin-bottom: 30px;
    // }
}
.mb-25{margin-bottom:1.563rem;}
.mb-30{margin-bottom:1.875rem;}
.mb-35{margin-bottom:2.188rem;}
.mb-40{margin-bottom:2.5rem;}
.mb-45{margin-bottom:2.813rem;}
.mb-50{margin-bottom:3.125rem;
    @media (max-width:600px) {
        margin-bottom: 30px;
    }
}
.mb-55{margin-bottom:3.438rem;
    @media (max-width:600px) {
        margin-bottom: 32px;
    }
}
.mb-60{margin-bottom:3.75rem;}
.mb-65{margin-bottom:4.063rem;}
.mb-70{margin-bottom:4.375rem;}
.mb-75{margin-bottom:4.688rem;}
.mb-80{margin-bottom:5rem;}
.mb-85{margin-bottom:5.313rem;}
.mb-90{margin-bottom:5.625rem;}
.mb-95{margin-bottom:5.938rem;}
.mb-100{margin-bottom:6.25rem;}
.mb-110{margin-bottom:6.875rem;}
.mb-120{margin-bottom:7.5rem;}
.mb-130{margin-bottom:8.125rem;}
.mb-140{margin-bottom:8.75rem;}
.mb-150{margin-bottom:9.375rem;}
.mb-180{margin-bottom: 7.25rem;}
/*--------------/row/column/---------------*/
.row_adj0{display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-left: -0rem; margin-right: -0rem;}
.row_adj5{display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-left: -0.3125rem; margin-right: -0.3125rem;}
.row_adj10{display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-left: -0.625rem; margin-right: -0.625rem;}
.row_adj15{display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-left: -0.9375rem; margin-right: -0.9375rem;}
.row_adj20{display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-left: -1.25rem; margin-right: -1.25rem;}
.row_adj25{display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-left: -1.563rem; margin-right: -1.563rem;}
.row_adj30{display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-left: -1.875rem; margin-right: -1.875rem;}
.col_adj{padding-right: 0rem;padding-left: 0rem;}
.col_adj5{padding-right: 0.3125rem;padding-left: 0.3125rem;}
.col_adj10{padding-right: 0.625rem;padding-left: 0.625rem;}
.col_adj15{padding-right: 0.9375rem;padding-left: 0.9375rem;}
.col_adj20{padding-right: 1.25rem;padding-left: 1.25rem;}
.col_adj25{padding-right: 1.563rem;padding-left: 1.563rem;}
.col_adj30{padding-right: 1.875rem;padding-left: 1.875rem;}
.table-width55{width:55%;}
.m-col-1{-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}               /*****change according to web*****/
.m-col-2{-ms-flex: 0 0 0%;flex: 0 0 0%;max-width: 0%;}                /*****change according to web*****/
.m-col-3{-ms-flex: 0 0 0%;flex: 0 0 0%;max-width: 0%;}                /*****change according to web*****/
.m-col-4{-ms-flex: 0 0 0%;flex: 0 0 0%;max-width: 0%;}                /*****change according to web*****/
.m-col-5{-ms-flex: 0 0 0%;flex: 0 0 0%;max-width: 0%;}                /*****change according to web*****/
.m-col-6{-ms-flex: 0 0 0%;flex: 0 0 0%;max-width: 0%;}                /*****change according to web*****/
.m-col-7{-ms-flex: 0 0 0%;flex: 0 0 0%;max-width: 0%;}                /*****change according to web*****/
.m-col-8{-ms-flex: 0 0 0%;flex: 0 0 0%;max-width: 0%;}                /*****change according to web*****/
.m-col-9{-ms-flex: 0 0 0%;flex: 0 0 0%;max-width: 0%;}                /*****change according to web*****/
.m-col-10{-ms-flex: 0 0 0%;flex: 0 0 0%;max-width: 0%;}               /*****change according to web*****/
.m-col-11{-ms-flex: 0 0 0%;flex: 0 0 0%;max-width: 0%;}               /*****change according to web*****/
.m-col-12{-ms-flex: 0 0 0%;flex: 0 0 0%;max-width: 0%;}               /*****change according to web*****/
/*--------------/tags/classes/id/---------------*/
h1, h2, h3, h4, h5, h6{font-weight: normal;}
header, footer, nav, section, aside, article{ display: block;}
input, textarea{ margin: 0;}
label{cursor: pointer;margin:0rem;font-weight:normal;}
ol, ul{ list-style: none;}
li{list-style: none;}
q:after, q:before{ content:'';}
a, input{outline: none;}
a {
  text-decoration: none;
  transition: all 0.3s !important;
  -moz-transition: all 0.3s !important; /* Firefox */
  -webkit-transition: all 0.3s !important; /* Chrome&Safari */
}
a:hover,
a:focus  {                                /*****change according to web*****/
  text-decoration: none;
  transition: all 0.3s !important;
  -moz-transition: all 0.3s !important; /* Firefox */
  -webkit-transition: all 0.3s !important; /* Chrome&Safari */
}
a:focus {
    outline: 0rem auto -webkit-focus-ring-color;
    outline-offset: 0rem;
}
a.a_hover_white:hover, a.a_hover_white:focus{
    color: #fff !important;
}
a.a_hover_black:hover, a.a_hover_black:focus{
    color: #000 !important;
}
a.a_hover_purple:hover, a.a_hover_purple:focus{
    color: #9606F2 !important;
}
a.a_hover_grey:hover, a.a_hover_grey:focus{
    color: rgba(00,00,00,.60) !important;
}
a.a_hover_pink:hover, a.a_hover_pink:focus{
    color: #E44169 !important;
}
button.btn:hover{color: #fff;}
button.btn.btn-bg-white:hover {
    color: #E44169;
}
a.a_hover_bg_darkred:hover, a.a_hover_bg_darkred:focus{         /*****change according to web*****/
    color: #fff !important;
  background:#98020e;
}
.ul-pm, .ol-pm{margin:0rem;padding:0rem;}
.ul-pm li, .ol-pm li{display: inline-block;}
.ul-pm1, .ol-pm1{margin:0rem;padding:0rem 0rem 0rem 1.875rem;}        /*****change according to web*****/
ul.ul-list-style{margin:0rem;padding:0rem 0rem 0rem 2.5rem;list-style-type: disc;}              /*****change according to web*****/
ol.ol-list-style{margin:0rem;padding:0rem 0rem 0rem 2.5rem;list-style-type: disc;}              /*****change according to web*****/
//*chips*//
.gray-chips{
    border-radius: 10px;
    width: auto;
    min-width: 40px;
    max-height: 20px;
    padding: 2px 10px;
    text-align: center;
    background-color: #aac6dd;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
}
input[type="file"]{
    position: absolute;
    left: 0;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 99;
    width: 100%;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
// .bullet_image_ul::before {                      /*****change according to web*****/
//     content: "";
//     background-image: url(../);
//     position: absolute;
//     left: 0rem;
//     margin-top: 0rem;
//     width: 0.75rem;
//     height: 0.75rem;
// }
// .bullet_image_ul_li::before {                   /*****change according to web*****/
//     content: "";
//     background-image: url(../images/ul_arrow_icon.png);
//     position: absolute;
//     left: 0.375rem;
//     margin-top: 0.375rem;
//     width: 0.375rem;
//     height: 0.5rem;
// }
.divider1{background: #e8e8e8; height: 0.0625rem; clear: both; width: 100%;}    /*****change according to web*****/
.img-responsive{width: 100%;}                       /*****change according to web*****/
/*--------------/input/textarea/button/radio/checkbox/label---------------*/
/**btn start**/
/***for autofill background color remove ***/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus + .label{
  /*border: 1px solid green;*/
  -webkit-text-fill-color: #333;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
/* for autofill background input */
.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
  opacity: 1;
}
/***fire fox media query***/
@-moz-document url-prefix() {
  select {
    -moz-appearance: none;
    text-indent: 0.00.0625rem;
    text-overflow: "";
  }
}
/* css for internet explorer */
_:-ms-fullscreen, :root .label{
    color: #A6B3D0;
    transform: translateY(-20px) scale(0.75);
    background-color: #fff;
    padding: 0 5px;
    font-size: 14px;
    line-height: 30px;
}
/* css for internet explorer edge */
@supports (-ms-ime-align:auto) {
    .label
{
 color: #A6B3D0;
  transform: translateY(-20px) scale(0.75);
  background-color: #fff;
  padding: 0 5px;
  font-size: 14px;
    line-height: 30px;
}
}
input::-ms-clear, input::-ms-reveal {
    display: none;
}
/* edge */
input:-webkit-autofill:hover,
input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 100px white inset;
    -webkit-text-fill-color: #333;
    background-color: #fff;
}
header.relative.header.default_header_transparent.header-one {
    background: #fff;
    box-shadow: none;
}
.alert-green{
    background: #5cd5d7;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding: 5px 10px;
    width:auto;
    display: block;
    border-radius: 0.25rem;
}
.alert-green1{
    color: #ff0000;
    font-size: 14px;
    position: absolute;
    bottom: 16px;
    width: auto;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    @media (max-width:599px) {
        font-size: 12px;
    }
}
