<app-header></app-header>
<!-- * * * * * * * * * * * Start Header * * * * * * * * * * * -->

 <div class="home-sec-1" fxLayout="row">
     <img src="assets/images/top_blue_circle_full.png" class="top_blue_circle_full-img" alt="">
     <img src="assets/images/top_blue_circle_half.png" class="top_blue_circle_half-img" alt="">
    <div class="container container-70">
        <div class="" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="space-between center">
            <div class="mb-20 mt-20" fxLayout="column" fxLayoutAlign.gt-xs="start start" fxLayoutAlign.gt-md="center center" fxFlex="90" fxFlex.gt-xs="100" fxFlex.gt-sm="35" fxFlex.gt-md="25" fxFlex.gt-lg="25">
                <div class="color-dblue" fxLayout="row" fxLayoutAlign="start start">
                    <h2 class="fontsize-36 mt-0 mb-10 text-uppercase lineheight40">HITTA DIN EGEN STÄDARE</h2>
                </div>
                <div class="mb-45" fxLayout="column" fxLayoutAlign="start start">
                    <mat-list role="list" class="ul-listing-home-margin">
                        <mat-list-item role="listitem" class="color-dgray"> <mat-icon matPrefix class="mr-5 color-lgreen">done</mat-icon> Transparent prissättning</mat-list-item>
                        <mat-list-item role="listitem" class="color-dgray"> <mat-icon matPrefix class="mr-5 color-lgreen">done</mat-icon> Dedikerad kundservice</mat-list-item>
                        <mat-list-item role="listitem" class="color-dgray"> <mat-icon matPrefix class="mr-5 color-lgreen">done</mat-icon> Byt din städare när som helst</mat-list-item>
                    </mat-list>
                </div>
                <div class="color-dblue" fxLayout="column" fxLayoutAlign="start start" >
                   <form #postcodefrm1="ngForm">
                    <div class="input-border mb-15">
                        <mat-form-field appearance="outline" class="width300">
                            <input name="postcodeinput" ngModel matInput placeholder="Ange ditt postnummer">
                            <!-- ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" -->
                            <mat-icon matPrefix>where_to_vote</mat-icon>
                            <span class="errorVal">{{postcodeErr1}}</span>
                        </mat-form-field>
                    </div>
                    <button (click)="letsGo(postcodefrm1.value, '1')" mat-flat-button class="bg-yellow color-white mt-0 mb-0" style="width: 100%;">HITTA STÄDARE</button>
                    </form>
                </div>
            </div>
           <div class="mb-20 mt-10 pr-15 wib-main-block" fxLayout="row"  fxLayoutAlign.gt-xs="end center" fxLayoutAlign="end center" fxFlex.gt-xs="100" fxFlex.gt-sm="65" fxFlex.gt-md="70" fxFlex.gt-lg="70" >
                <div class="white-image-block1 mr-0" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-sm="33" fxFlex.gt-md="30">
                    <img src="assets/images/photo1.png" alt="" class="mb-10" />
                    <h6 class="fontsize-18 color-dgray mt-0 mb-10" >Viktoria</h6>
                    <div class="star-icon-p" fxLayout.gt-xs="row">
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star_half</mat-icon>
                    </div>
                    <p class="fontsize-16 color-dgray mt-0 mb-0 fontweight-600">126 kr</p>
                </div>
                <div class="white-image-block2" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-sm="33" fxFlex.gt-md="30">
                    <img src="assets/images/squre-img8.png" alt="" class="mb-10" />
                    <h6 class="fontsize-18 color-dgray mt-0 mb-10" >Katarina</h6>
                    <div class="star-icon-p" fxLayout.gt-xs="row">
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                    </div>
                    <p class="fontsize-16 color-dgray mt-0 mb-0 fontweight-600">140 kr</p>
                </div>
                <div class="white-image-block1 ml-0" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-sm="33" fxFlex.gt-md="30">
                    <img src="assets/images/photo3.png" alt="" class="mb-10" />
                    <h6 class="fontsize-18 color-dgray mt-0 mb-10">Martin</h6>
                    <div class="star-icon-p" fxLayout.gt-xs="row">
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                        <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                    </div>
                    <p class="fontsize-16 color-dgray mt-0 mb-0 fontweight-600">130 kr</p>
                </div>
           </div>
        </div>
    </div>
</div>

<div class="home-sec-2" fxLayout="column" fxLayoutAlign="space-between space-between">
    <div class="container">
        <div class="" fxLayout="column" fxLayoutAlign="center center">
            <div class="color-lgray" fxLayout="row" fxLayoutAlign="center center">
                <h2 class="fontsize-36 align-center mt-0 mb-50">Hur det fungerar</h2>
            </div>
            <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="center start" fxFill="fill">
                <div class="mr-15 ml-15 mb-15 mt-15" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                    <img src="assets/images/map-pin.png" class="mb-20 hs2-map-img1" />
                    <h6 class="fontsize-18 fontweight-600 font-family-m color-dblue mb-0 mt-20">Ange ditt postnummer</h6>
                    <p class="color-white fontsize-16 color-dgray align-center mt-15 mb-0">Ange ditt postnummer för att hitta   <br/>tillgängliga städare i ditt område </p>
                </div>
                <div class="mr-15 ml-15 mb-15 mt-15" fxLayout="column" fxFlex="100"  fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                    <img src="assets/images/calendar.png" class="mb-20 hs2-map-img1" />
                    <h6 class="fontsize-18 fontweight-600 font-family-m color-dblue mb-0 mt-20">Välj önskat datum</h6>
                    <p class="color-white fontsize-16 color-dgray align-center mt-15 mb-0">Välj datum, tid och hur ofta <br/>  du vill ha städning</p>
                </div>
                <div class="mr-15 ml-15 mb-15 mt-15" fxLayout="column" fxFlex="100"  fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                    <img src="assets/images/profiles.png" class="mb-20 hs2-map-img1" />
                    <h6 class="fontsize-18 fontweight-600 font-family-m color-dblue mb-0 mt-20">Välj städare och skicka din förfrågan</h6>
                    <p class="color-white fontsize-16 color-dgray align-center mt-15 mb-0">Jämför städare och välj sedan vilka du vill <br/> skicka din förfrågan till </p>
                </div>

            </div>
            <div class="mt-50" fxLayout="row" fxLayoutAlign="center center">
                <form #postcodefrm2="ngForm">
                    <div fxLayout="row" class="relative">
                        <div class="input-border">
                            <mat-form-field appearance="outline" class="width500">
                                <input name="postcodeinput" ngModel matInput placeholder="Ange ditt postnummer" name="postcodeinput" ngModel>
                                <mat-icon matPrefix>where_to_vote</mat-icon>
                                <span class="errorVal">{{postcodeErr2}}</span>
                            </mat-form-field>
                        </div>
                        <div>
                            <button (click)="letsGo(postcodefrm2.value, '2')" mat-flat-button class="btn-group1-btn bg-blue-inpt">HITTA STÄDARE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

 <div class="home-sec-3" fxLayout="row" fxLayoutAlign="space-between space-between">
    <div class="container">
        <div class="" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- large screen -->
            <div class="mobile-width-full large-screen-b" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="space-between center" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <div class="mr-15 ml-15 mb-15 mt-0" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25" fxLayoutAlign="center center">
                        <p class="fontsize-18 color-dgray align-center mt-0 mb-0 font-family-m fontweight-300">Fler än </p>
                        <h2 class="fontsize-40 mb-0 mt-0 color-dgray font-family-m fontweight-600">{{ totalBooking }}</h2>
                        <p class="fontsize-16 color-dgray align-center mt-10 mb-0">genomförda uppdrag</p>
                    </div>
                    <div class="mr-15 ml-15 mb-15 mt-0" fxLayout="column" fxFlex.gt-xs="50" fxFlex.gt-sm="25" fxLayoutAlign="center center">
                        <p class="fontsize-18 color-dgray align-center mt-0 mb-0 font-family-m fontweight-300">Över</p>
                        <h2 class="fontsize-40 color-dgray mb-0 mt-0 font-family-m fontweight-600">{{ satisfied_customers }}</h2>
                        <p class="fontsize-16 color-dgray align-center mt-10 mb-0">nöjda kunder</p>
                    </div>
                    <div class="mr-15 ml-15 mb-15 mt-0" fxLayout="column" fxFlex.gt-xs="50" fxFlex.gt-sm="25" fxLayoutAlign="center center">
                        <p class="fontsize-18 color-dgray align-center mt-0 mb-0 font-family-m fontweight-300">Kundbetyg</p>
                        <h2 class="fontsize-40 color-dgray mb-0 mt-0 font-family-m fontweight-600">{{ customer_rating }}/5.0</h2>
                        <p class="fontsize-16 color-dgray align-center mt-10 mb-0">stjärnor</p>
                    </div>
                    <div class="mr-15 ml-15 mb-15 mt-0" fxLayout="column" fxFlex.gt-xs="50" fxFlex.gt-sm="25" fxLayoutAlign="center center">
                        <p class="fontsize-18 color-dgray align-center mt-0 mb-0 font-family-m fontweight-300">Just nu i över</p>
                        <h2 class="fontsize-40 color-dgray mb-0 mt-0 font-family-m fontweight-600">{{ over_cities }}</h2>
                        <p class="fontsize-16 color-dgray align-center mt-10 mb-0">städer</p>
                    </div>
            </div>

            <!-- small sreen -->
            <div class="mobile-width-full mobile-screen-b border-r1" fxLayout="column" fxFlex="100" fxLayout.gt-xs="row" fxFlex.gt-xs="100" fxLayoutAlign="space-between center" >
                <div class="mr-15 ml-15 mb-15 mt-0 border-b1" fxLayout="column" fxFlex="50" fxFlex.gt-xs="50" fxFlex.gt-sm="25" fxLayoutAlign="center center">
                    <p class="fontsize-18 color-dgray align-center mt-0 mb-0 font-family-m fontweight-300">Fler än </p>
                    <h2 class="fontsize-40 mb-0 mt-0 color-dgray font-family-m fontweight-600">5,00,000</h2>
                    <p class="fontsize-16 color-dgray align-center mt-10 mb-0">genomförda uppdrag</p>
                </div>
                <div class="mr-15 ml-15 mb-15 mt-0" fxLayout="column" fxFlex="50" fxFlex.gt-xs="50" fxFlex.gt-sm="25" fxLayoutAlign="center center">
                    <p class="fontsize-18 color-dgray align-center mt-0 mb-0 font-family-m fontweight-300">Över</p>
                    <h2 class="fontsize-40 color-dgray mb-0 mt-0 font-family-m fontweight-600">2,00,000</h2>
                    <p class="fontsize-16 color-dgray align-center mt-10 mb-0">nöjda kunder</p>
                </div>
            </div>
            <div class="mobile-width-full mobile-screen-b" fxLayout="column" fxFlex="100" fxLayout.gt-xs="row" fxFlex.gt-xs="100" fxLayoutAlign="space-between center" >
                <div class="mr-15 ml-15 mb-15 mt-0 border-b1" fxLayout="column" fxFlex="50" fxFlex.gt-xs="50" fxFlex.gt-sm="25" fxLayoutAlign="center center">
                    <p class="fontsize-18 color-dgray align-center mt-0 mb-0 font-family-m fontweight-300">Kundbetyg</p>
                    <h2 class="fontsize-40 color-dgray mb-0 mt-0 font-family-m fontweight-600">4.7/5.0</h2>
                    <p class="fontsize-16 color-dgray align-center mt-10 mb-0">stjärnor</p>
                </div>
                <div class="mr-15 ml-15 mb-15 mt-0" fxLayout="column" fxFlex="50" fxFlex.gt-xs="50" fxFlex.gt-sm="25" fxLayoutAlign="center center">
                    <p class="fontsize-18 color-dgray align-center mt-0 mb-0 font-family-m fontweight-300">Just nu i över</p>
                    <h2 class="fontsize-40 color-dgray mb-0 mt-0 font-family-m fontweight-600">120</h2>
                    <p class="fontsize-16 color-dgray align-center mt-10 mb-0">städer</p>
                </div>
        </div>

        </div>
    </div>
</div>

<div class="home-sec-4" fxLayout="column" fxLayoutAlign="space-between space-between">
    <div class="container container-70">
        <div class="sec-4-slider" >
            <div class="align-center">
                <h3 class="color-lgray fontsize-36 font-family-m fontweight-400 mt-0">En trygg plattform för RUT tjänster</h3>
            </div>
            <owl-carousel-o [options]="customOptions" >
            <ng-template carouselSlide>
                <div fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="space-between">
                    <div class="pt-0" fxLayout="colunm" fxLayoutAlign="start start" fxFlex.gt-xs="100" fxFlex.gt-sm="35" fxFlex.gt-md="23" fxFlex.gt-lg="27">
                        <div class=" align-left w-100">
                            <div class="relative ">
                                <div class="star-rating-slider-img-block">
                                    <img src="assets/images/squre-img8.png" class="modal-squre-img">
                                </div>
                                <p class="color-dgray fontsize-16 fontweight-600 mt-5 mb-5 p-block12">Katarina</p>
                                <div class="star-icon-p starr-block12" fxLayout.gt-xs="row">
                                    <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                    <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                    <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                    <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                    <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                    <span class="color-dgray fontsize-15 fontweight-600 display-ib ml-10">4.9/5.0</span>
                                </div>
                                <p class="fontsize-15 color-dgray fontweight-400 mt-5 mb-0"><mat-icon class="color-lgreen vertical-text-top">done</mat-icon>ID kontroll</p>
                                <p class="fontsize-15 color-dgray fontweight-400 mt-5 mb-0"><mat-icon class="color-lgreen vertical-text-top">done</mat-icon>Bakgrundskontroll</p>
                                <p class="fontsize-15 color-dgray fontweight-400 mt-5 mb-0"><mat-icon class="color-lgreen vertical-text-top">done</mat-icon>Husdjur</p>
                                <p class="fontsize-15 color-dgray fontweight-400 mt-5 mb-0"><mat-icon class="color-lgreen vertical-text-top">done</mat-icon>Fönster</p>
                                <p class="fontsize-15 color-dgray fontweight-400 mt-5 mb-0"><mat-icon class="color-lgreen vertical-text-top">done</mat-icon>Strykning</p>
                            </div>
                        </div>
                    </div>

                    <div class="" fxLayout="colunm" fxFlex.gt-xs="100" fxFlex.gt-sm="72" fxFlex.gt-md="77" fxFlex.gt-lg="73" style="flex-direction: column!important;display: block;">
                        <div class="relative">
                            <div class="relative w-100">
                                <h3 class="fontsize-24 color-dgray fontweight-400">Vad kunderna säger om Katarina</h3>
                                <div class="" style="border-bottom:1px solid rgba(92, 98, 117,.15);">
                                <div class="" fxLayout="row" fxLayout.gt-xs="row" fxLayoutAlign="space-between">
                                    <div fxLayout="colunm">
                                        <p class="fontsize-16 color-dgray margin-auto fontweight-600">Stefan P.</p>
                                    </div>
                                    <div fxLayout="colunm">
                                        <div class="star-icon-p" fxLayout.gt-xs="row">
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <span class="color-dgray fontsize-15 fontweight-600 display-ib ml-10">5.0/5.0</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="color-dgray fontsize-16 mt-5">Katarina är en fantastisk, flitig och pålitlig person som har gjort ett riktigt bra jobb hos oss. Våra golv ser bättre ut än nånsin och allt lämnas rent och glänsande. Vi är verkligen nöjda med henne och rekommenderar henne starkt. Tack Katarina.</p>
                                </div>
                                <div class="mt-15" style="border-bottom:1px solid rgba(92, 98, 117,.15);">
                                <div class="" fxLayout="row" fxLayoutAlign="space-between">
                                    <div fxLayout="colunm"><P class="fontsize-16 color-dgray margin-auto fontweight-600">Hanna L.</P></div>
                                    <div fxLayout="colunm">
                                        <div class="star-icon-p" fxLayout.gt-xs="row">
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <span class="color-dgray fontsize-15 fontweight-600 display-ib ml-10">5.0/5.0</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="color-dgray fontsize-16 mt-5">Katarina har verkligen varit perfekt för oss. Mycket tillmötesgående och noggrann. Jag skulle rekommendera henne till vem som helst som är ute efter en professionell och bra städare.</p>
                                </div>
                                <div class="mt-15" style="border-bottom:1px solid rgba(92, 98, 117,.15);">
                                    <div class="" fxLayout="row" fxLayoutAlign="space-between">
                                        <div fxLayout="colunm"><P class="fontsize-16 color-dgray margin-auto fontweight-600">Lisa K.</P></div>
                                        <div fxLayout="colunm">
                                            <div class="star-icon-p" fxLayout.gt-xs="row">
                                                <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                                <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                                <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                                <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                                <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                                <span class="color-dgray fontsize-15 fontweight-600 display-ib ml-10">5.0/5.0</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="color-dgray fontsize-16 mt-5">Vi älskar Katarina! Tack så jättemycket för all hjälp! :)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="space-between">
                    <div class="pt-0" fxLayout="colunm" fxLayoutAlign="start start" fxFlex.gt-xs="100" fxFlex.gt-sm="35" fxFlex.gt-md="23" fxFlex.gt-lg="27">
                        <div class=" align-left w-100">
                            <div class="relative ">
                                <div class="star-rating-slider-img-block">
                                    <img src="assets/images/squre-img8.png" class="modal-squre-img">
                                </div>
                                <p class="color-dgray fontsize-16 fontweight-600 mt-5 mb-5 p-block12">Katarina</p>
                                <div class="star-icon-p starr-block12" fxLayout.gt-xs="row">
                                    <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                    <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                    <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                    <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                    <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                    <span class="color-dgray fontsize-15 fontweight-600 display-ib ml-10">4.9/5.0</span>
                                </div>
                                <p class="fontsize-15 color-dgray fontweight-400 mt-5 mb-0"><mat-icon class="color-lgreen vertical-text-top">done</mat-icon>ID kontroll</p>
                                <p class="fontsize-15 color-dgray fontweight-400 mt-5 mb-0"><mat-icon class="color-lgreen vertical-text-top">done</mat-icon>Bakgrundskontroll</p>
                                <p class="fontsize-15 color-dgray fontweight-400 mt-5 mb-0"><mat-icon class="color-lgreen vertical-text-top">done</mat-icon>Husdjur</p>
                                <p class="fontsize-15 color-dgray fontweight-400 mt-5 mb-0"><mat-icon class="color-lgreen vertical-text-top">done</mat-icon>Fönster</p>
                                <p class="fontsize-15 color-dgray fontweight-400 mt-5 mb-0"><mat-icon class="color-lgreen vertical-text-top">done</mat-icon>Strykning</p>
                            </div>
                        </div>
                    </div>

                    <div class="" fxLayout="colunm" fxFlex.gt-xs="100" fxFlex.gt-sm="72" fxFlex.gt-md="77" fxFlex.gt-lg="73" style="flex-direction: column!important;display: block;">
                        <div class="relative">
                            <div class="relative w-100">
                                <h3 class="fontsize-24 color-dgray fontweight-400">Vad kunderna säger om Katarina</h3>
                                <div class="" style="border-bottom:1px solid rgba(92, 98, 117,.15);">
                                <div class="" fxLayout="row" fxLayout.gt-xs="row" fxLayoutAlign="space-between">
                                    <div fxLayout="colunm">
                                        <p class="fontsize-16 color-dgray margin-auto fontweight-600">Stefan P.</p>
                                    </div>
                                    <div fxLayout="colunm">
                                        <div class="star-icon-p" fxLayout.gt-xs="row">
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <span class="color-dgray fontsize-15 fontweight-600 display-ib ml-10">5.0/5.0</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="color-dgray fontsize-16 mt-5">Katarina är en fantastisk, flitig och pålitlig person som har gjort ett riktigt bra jobb hos oss. Våra golv ser bättre ut än nånsin och allt lämnas rent och glänsande. Vi är verkligen nöjda med henne och rekommenderar henne starkt. Tack Katarina.</p>
                                </div>
                                <div class="mt-15" style="border-bottom:1px solid rgba(92, 98, 117,.15);">
                                <div class="" fxLayout="row" fxLayoutAlign="space-between">
                                    <div fxLayout="colunm"><P class="fontsize-16 color-dgray margin-auto fontweight-600">Hanna L.</P></div>
                                    <div fxLayout="colunm">
                                        <div class="star-icon-p" fxLayout.gt-xs="row">
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                            <span class="color-dgray fontsize-15 fontweight-600 display-ib ml-10">5.0/5.0</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="color-dgray fontsize-16 mt-5">Katarina har verkligen varit perfekt för oss. Mycket tillmötesgående och noggrann. Jag skulle rekommendera henne till vem som helst som är ute efter en professionell och bra städare.</p>
                                </div>
                                <div class="mt-15" style="border-bottom:1px solid rgba(92, 98, 117,.15);">
                                    <div class="" fxLayout="row" fxLayoutAlign="space-between">
                                        <div fxLayout="colunm"><P class="fontsize-16 color-dgray margin-auto fontweight-600">Lisa K.</P></div>
                                        <div fxLayout="colunm">
                                            <div class="star-icon-p" fxLayout.gt-xs="row">
                                                <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                                <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                                <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                                <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                                <mat-icon class="vertical-middle color-yellow " matPrefix>star</mat-icon>
                                                <span class="color-dgray fontsize-15 fontweight-600 display-ib ml-10">5.0/5.0</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="color-dgray fontsize-16 mt-5">Vi älskar Katarina! Tack så jättemycket för all hjälp! :)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>



<div class="home-sec-5" fxLayout="column" fxLayoutAlign="space-between space-between">
    <div class="container">
        <div class="" fxLayout="column" fxLayoutAlign="center center">
            <div class="color-lgray" fxLayout="row" fxLayoutAlign="center center"><h2 class="fontsize-36 align-center mt-0 mb-55">Anledningar till att boka via BringClean</h2></div>
            <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="center start">
                <div class="mr-15 ml-15" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                    <img src="assets/images/certificate.png" class="hs5-map-img1" />
                    <h6 class="fontsize-18 color-dblue mb-0">Försäkrade städare</h6>
                    <p class="fontsize-16 align-center color-dgray mt-5">Alla våra anslutna städare har en ansvarsförsäkring som täcker eventuella missöden i din bostad. Om något mot förmodan t.ex. skulle gå sönder så är du tryggad när du anlitar en städare via BringClean.</p>
                </div>
                <div class="mr-15 ml-15" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                    <img src="assets/images/support.png" class="hs5-map-img1" />
                    <h6 class="fontsize-18 mb-0 color-dblue">Personlig kundservice</h6>
                    <p class="color-dgray fontsize-16 align-center mt-5">Vi handlägger snabbt alla ärenden. Ofta får du svar redan inom någon timme under helgfria vardagar och vi finns alltid till hands om du behöver hjälp.</p>
                </div>
                <div class="mr-15 ml-15" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                    <img src="assets/images/wallet.png" class="hs5-map-img1" />
                    <h6 class="fontsize-18 mb-0 color-dblue">Transparent prissättning</h6>
                    <p class="color-dgray fontsize-16 align-center mt-5">Alla städare sätter själv sina egna priser och du väljer själv i lugn och ro vilka städare du vill erbjuda uppdraget genom att välja en städare som motsvarar dina förväntningar och budget.</p>
                </div>
            </div>
            <div class="mt-40 mb-30" fxLayout="row" fxLayoutAlign="center center">
                <form #postcodefrm3="ngForm">
                    <div fxLayout="row" class="relative">
                        <div class="input-border">
                                <mat-form-field appearance="outline" class="width500">
                                        <input name="postcodeinput" ngModel matInput placeholder="Ange ditt postnummer">
                                        <mat-icon matPrefix>where_to_vote</mat-icon>
                                        <span class="errorVal">{{postcodeErr3}}</span>
                                </mat-form-field>
                        </div>
                        <div>
                                <button (click)="letsGo(postcodefrm3.value, '3')" mat-flat-button class="btn-group1-btn bg-blue-inpt">HITTA STÄDARE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="home-sec-6" fxLayout="column" fxLayoutAlign="space-between space-between">
    <div class="container">
        <div class="" fxLayout="column" fxLayoutAlign="center center">
            <div class="" fxLayout="column" fxLayoutAlign="center center">
                <h2 class="color-white fontsize-36 align-center mt-0 mb-20">Hemstädning</h2>
                <p class="color-white fontsize-16 align-center mt-0 mb-50">Vi finns här oavsett vad du behöver. Kanske behöver du anlita en städare för att göra en storstädning, skrubba ugnen eller stryka skjortorna. De städare som är registrerade på BringClean plattformen erbjuder hemstädning i alla dess former. Efter att din bokning har bekräftats så kan ni kommunicera om detaljerna kring uppdraget i chatten direkt i plattformen. Låt städaren veta vad du prioriterar och kom hem till ett skinande rent hem.</p>
            </div>
            <div class="" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign.gt-xs="center center" fxLayoutAlign="center start" fxFlex="100" fxFlex.gt-xs="100" fxFill="fill">
                    <div class="mr-15 ml-15" fxLayout="column" fxFlex="100" fxFlex.gt-xs="30" fxFlex.gt-sm="30" fxFlex.gt-md="20" fxLayoutAlign="center center">
                        <div class="change-icon" >
                            <img src="assets/images/change-icon1.png" class="hs-6-product-img1" />
                        </div>
                        <p class="color-white fontsize-16 mt-5 mb-20 fontweight-600">Strykning</p>
                    </div>
                    <div class="mr-15 ml-15" fxLayout="column" fxFlex="100" fxFlex.gt-xs="30" fxFlex.gt-sm="30" fxFlex.gt-md="20" fxLayoutAlign="center center">
                        <div class="change-icon" >
                            <img src="assets/images/change-icon2.png" class="hs-6-product-img1" />
                        </div>
                        <p class="color-white fontsize-16 mt-5 mb-20 fontweight-600">Rengöring av kylskål, frys och ugn.</p>
                    </div>
                    <div class="mr-15 ml-15" fxLayout="column" fxFlex="100" fxFlex.gt-xs="30" fxFlex.gt-sm="30" fxFlex.gt-md="20" fxLayoutAlign="center center">
                        <div class="change-icon" >
                            <img src="assets/images/change-icon3.png" class="hs-6-product-img1" />
                        </div>
                        <p class="color-white fontsize-16 mt-5 mb-20 fontweight-600">Fönsterputsning </p>
                    </div>
                    <div class="mr-15 ml-15" fxLayout="column" fxFlex="100" fxFlex.gt-xs="30" fxFlex.gt-sm="30" fxFlex.gt-md="20" fxLayoutAlign="center center">
                        <div class="change-icon" >
                            <img src="assets/images/change-icon4.png" class="hs-6-product-img1" />
                        </div>
                        <p class="color-white fontsize-16 mt-5 mb-20 fontweight-600">Flyttstädning</p>
                    </div>
                    <div class="mr-15 ml-15" fxLayout="column" fxFlex="100" fxFlex.gt-xs="30" fxFlex.gt-sm="30" fxFlex.gt-md="20" fxLayoutAlign="center center">
                        <div class="change-icon" >
                            <img src="assets/images/change-icon5.png" class="hs-6-product-img1" />
                        </div>
                        <p class="color-white fontsize-16 mt-5 mb-20 fontweight-600">Storstädning</p>
                    </div>
                    <div class="mr-15 ml-15" fxLayout="column" fxFlex="100" fxFlex.gt-xs="30" fxFlex.gt-sm="30" fxFlex.gt-md="20" fxLayoutAlign="center center">
                        <div class="change-icon" >
                            <img src="assets/images/change-icon6.png" class="hs-6-product-img1" />
                        </div>
                        <p class="color-white fontsize-16 mt-5 mb-20 fontweight-600">Återkommande städning </p>
                    </div>
            </div>
            <div class="mt-30 mb-30" fxLayout="row" fxLayoutAlign="center center">
                <form #postcodefrm4="ngForm">
                    <div fxLayout="row" class="relative">
                        <div class="input-border bg-white">
                            <mat-form-field appearance="outline" class="width500">
                                <input name="postcodeinput" ngModel matInput placeholder="Ange ditt postnummer">
                                <mat-icon matPrefix>where_to_vote</mat-icon>
                                <span class="errorVal">{{postcodeErr4}}</span>
                            </mat-form-field>
                        </div>
                        <div>
                            <button (click)="letsGo(postcodefrm4.value, '4')" mat-flat-button class="btn-group1-btn bg-blue-inpt">HITTA STÄDARE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="home-sec-7" fxLayout="column"  fxLayoutAlign="center center">
    <div class="container">
        <div class="" fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
            <div class="color-lgray" fxLayout="column" fxLayoutAlign="center center"><h2 class="fontsize-36 align-center mt-0 mb-50">Vanliga Frågor</h2></div>
            <div class="mobile-padding" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFill="fill">
                    <div fxLayout="column" class="home-accordian-width">
                            <mat-accordion>
                                    <mat-expansion-panel>
                                      <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Vad är BringClean?
                                        </mat-panel-title>
                                      </mat-expansion-panel-header>
                                      <p>BringClean är en plattform som underlättar för dig som behöver hjälp med hemstädning och andra RUT-tjänster. På plattformen hittar du personal som kan komma hem till dig och städa när det passar dig. Trygghet för både köpare och städare är av största vikt för oss på BringClean och alla städare som du hittar på plattformen har gått igenom bakgrundskontroller och intervjuer innan de tillåts buda på uppdrag.</p>

                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                            Hur fungerar prissättningen?
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <p>Vi har en väldigt transparent prissättning där du som kund direkt ser vad timpriset hos respektive städare är. Städarna sätter själva sina timpriser och du kan anlita städare som motsvarar dina krav och din budget. Alla priser i systemet anges efter RUT-avdrag och det är upp till dig som kund att se till att du är berättigad till RUT-avdrag. I annat fall debiteras du den kostnaden enligt avtalsvillkoren.</p>

                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Behöver jag göra något innan min städare anländer?
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <p>Du behöver tillhandahålla allt material som städaren kan tänkas behöva när denne anländer till din bostad så att städaren kan göra ett bra jobb. Om du saknar material så kan du enkelt beställa detta via BringClean så skickar vi hem miljövänliga material så att du har det ni behöver. Värdesaker bör låsas in då BringClean ej ansvarar för dessa.</p>

                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Behöver jag vara hemma vid bokningen?
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <p>Många kunder har inte möjlighet att vara hemma och ta emot städaren pga arbete, skola eller liknande och då löser du detta med städaren direkt i chatten. Ni kommer överrens om hur städaren ska få access till ditt hem genom att t.ex. hämta nyckel hos granne, få en tillfällig kod om ni har ett kodlås eller liknande. Vi brukar uppmuntra våra kunder att vara hemma första gången i alla fall så att ni får träffas personligen och du kan ge instruktioner till städaren på plats. Det brukar uppskattas av båda parter.</p>

                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                      <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Jag är inte nöjd / Min städare dök inte upp
                                        </mat-panel-title>
                                      </mat-expansion-panel-header>
                                      <p>Om något skulle gå fel så kontaktar du bara oss så fort som möjligt, dock senast 24 timmar efter det att uppdraget påbörjats. Vi låser då utbetalningen till den berörda städaren till dess att ärendet har utretts (vilket brukar gå väldigt snabbt). Återbetalning av hela eller delar av summan till dig som köpare kan bli aktuellt varpå vi då krediterar ditt konto så att du kan använda pengarna till att boka en ny städare på BringClean.</p>
                                    </mat-expansion-panel>
                                  </mat-accordion>
                    </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center"  class="display-b">
                <button routerLink="/faq-category-page" mat-flat-button class="bg-blue mt-20 mb-30">
                    HAR DU FLER FRÅGOR?
                </button>
            </div>
        </div>
    </div>
</div>



<div class="home-sec-8" fxLayout="column" fxLayoutAlign="center center">
    <div class="container">
        <div class="">
            <div class=""><h2 class="color-white align-center fontsize-36 mt-0">Boka en pålitlig städare tryggt och enkelt nu</h2></div>
            <div class="" fxLayout="row" fxLayoutAlign="center center">
                <form #postcodefrm5="ngForm">
                    <div fxLayout="row" class="relative">
                        <div class="input-border bg-white">
                            <mat-form-field appearance="outline" class="width500">
                                <input name="postcodeinput" ngModel matInput placeholder="Ange ditt postnummer">
                                <mat-icon matPrefix>where_to_vote</mat-icon>
                                <span class="errorVal">{{postcodeErr5}}</span>
                            </mat-form-field>
                        </div>
                        <div>
                            <button (click)="letsGo(postcodefrm5.value, '5')" mat-flat-button class="btn-group1-btn">HITTA STÄDARE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- * * * * * * * * * * * Start Footer * * * * * * * * * * * -->


<app-footer></app-footer>
