@import "../../../scss/_node-module-override";
@import "../../../scss/_styles";
@import "../../../scss/_theming";

.home-sec-1{
    padding: 120px 0 120px 0;
    @media (max-width:1800px) {
        padding:80px 16px 80px 16px;
    }
    .mb-20.mt-20{
        @media (max-width:960px) {
            padding:1rem;
            background: #ffffffc7;
            border-radius: 0.625rem;
            width:75%;
            .color-dblue,.mb-30{
                width:100%;
            }
            form{
                width: 90%;
            }
        }
        @media (max-width:600px) {
            width:100%;            
        }
    }
    .ul-listing-home-margin{
        margin-left: -32px;

        @media (max-width:1280px) {
            margin-left: -15px;
            
        }
    }
    .input-border .width300{
        @media(max-width:767px){
            width: 100% !important;
        }
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 16px 0 11px 0 !important;
    }
    .top_blue_circle_full-img{
        position: absolute;
        left: 0px;
        bottom: 0px;
        margin: 0px 0 180px 125px;
        z-index: -1;
        @media(max-width:1800px){
            bottom: 0px;
             margin: 0px 0 80px 80px;
        }
        @media(max-width:992px){
            margin: 0px 0 30px 30px;
            
        }
        @media(max-width:767px){
            display: none;
        }        
    }
    .top_blue_circle_half-img{
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: -1;
        @media(max-width:1800px){
            width: 70%;
        }
    }
    .wib-main-block{
        @media (max-width:1280px){
            padding: 0px;
        } 
        @media(max-width:767px){
            padding: 0px;
        }
    }
    .white-image-block1{
        background: #fff;
        border-radius: 10px;
        padding: 20px 30px;
        box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.05);
        img{
            width:auto;
            height: 220px;
            object-fit: contain;
        }
        @media (max-width:1200px) {
            padding: 25px 15px;
            
        }
        @media (max-width:600px) {
            display:none !important;
        }
    }
    .white-image-block1.ml-0{
        margin-left: -15px;
    }
    .white-image-block1.mr-0{
        margin-right: -15px;
    }
    .white-image-block2{
        background: #fff;
        border-radius: 10px;
        padding: 40px 30px;
        position: relative;
        box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.05);
        height: 390px;     
        @media (max-width:600px) {
            margin:auto;
        } 
    }

    @media (max-width: 945px) {
        padding: 15px 0 15px 0;  
    }   
}
.home-sec-2{
    padding: 100px 0;   
    @media (max-width:1800px) {
        padding:60px 0px 60px 0px;
    }
    .hs2-map-img1{
        width: 70px;
        min-width: 70px;
        height: 70px;
        line-height: 70px;
        @media (max-width:992px) {
            width:50px;
            height: 50px;
            min-width:50px;
            line-height: 50px;
        }
        @media (max-width:600px) {
            margin-bottom: 0rem;
        }
    }
    .mr-15.ml-15.mb-15.mt-15{
        text-align: center;
        @media (max-width:600px) {
            width:100%;
            margin:0rem 0rem 20px 0px !important;
            padding: 10px;
        }
        width:100%;
    }
}
.home-sec-3{
    background: #0BABFE url(/assets/images/sec-3-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 350px;  
    padding: 85px 0 150px 0;
    @media (max-width:600px) {
        height:auto;
        padding-top: 40px;
    }
    .border-r1{
        border-right: 1px solid #5C6275;
    }
    .border-b1{
        border-bottom: 1px solid #5C6275;
    }
    .mr-15.ml-15.mb-15.mt-0{
        @media (max-width:1200px) {
            margin:0rem 0.5rem 15px 0.5rem !important; 
            
        }
        @media (max-width:600px) {
            margin: 0rem !important;
            padding: 10px 0px;
            width: 100%;
        }
    }
    .mobile-width-full{
        @media (max-width:600px) {
            width:100% !important;
        }
    }
    .large-screen-b{
        display: flex !important;
        @media (max-width:600px) {
            display: none !important;
        }
    }
    .mobile-screen-b{
        display: none !important;
        @media (max-width:600px) {
            display: flex !important;
        }
    }
}
.home-sec-4{
    margin-top: -120px;
    .sec-4-slider{
        padding: 50px 145px;
        border-radius: 0.625rem;
        background: #ffffff;
        box-shadow: 2px 2px 30px 0px rgba(181, 218, 235, 0.20);
        @media (max-width:992px) {
            padding:40px 30px;
        }
        .modal-squre-img{
            width:180px;
            height: 220px;
            object-fit: cover;
            @media (max-width:600px) {
                margin:auto;
            }
        }
    }
    .star-rating-slider-img-block{
        @media (max-width:600px) {
            text-align: center;
            margin: 0 auto;
        }
    }
    .p-block12{
        @media (max-width:600px) {
            text-align: center;
            margin: 0 auto;
        }
    }
    .starr-block12{
        @media (max-width:600px) {
            text-align: center;
            margin: 0 auto;
        }
    }
}
.home-sec-5{
    padding: 70px 0;
    @media (max-width:600px) {
        padding: 40px 0;
        .mt-40.mb-30{
            margin:0px;
        }
    }
    .mr-15.ml-15{
        text-align:center;
        @media (max-width:600px) {
            margin-bottom: 20px !important;
            h6.fontsize-18.color-dblue.mb-0{
                margin-top: 10px;
            }
        }
    }
    .hs5-map-img1{
        width: 70px;
        min-width: 70px;
        height: 70px;
        line-height: 70px;
        @media (max-width:992px) {
            width: 50px;
            min-width: 50px;
            height: 50px;
            line-height: 50px;
        }
    }
}
.home-sec-6{
    background: #0BABFE url(/assets/images/sec-6-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 540px;   
    padding: 70px 0;
    @media (max-width:960px) {
        height:auto;
    }

    .mr-15.ml-15{
        text-align: center;
        .change-icon{
            height: 50px;
            width: 50px;
            img.hs-6-product-img1{
                width:auto;
                height: auto;
                max-height: 50px;
                object-fit: contain;
            }
        }
        @media (max-width:600px) {
            width:100%;
            text-align: center;
            margin:0rem 0rem 20px 0rem !important;
        }
    }
    @media (max-width:600px) {
        padding: 30px 0;
        height: auto;
        .color-white.fontsize-16.align-center.mt-0.mb-50{
            padding:10px;
        }
        .mt-30.mb-30{
            margin:0rem;
        }
    }
}
.home-sec-7{
    padding: 75px 0;
    @media (max-width:600px) {
        padding: 3rem 0;
        .bg-blue.mt-20.mb-30.mat-flat-button.mat-button-base{
            margin-bottom: 0rem;
        }
    }
    .mobile-padding{
        @media (max-width:600px) {
            width:100%;
            div{
                width:100%;
                padding:0px 10px;
            }
        }
    }
    .home-accordian-width{
        width: 83%;
    }
}
.home-sec-8{
    background: #0BABFE url(/assets/images/sec-8-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 290px;
    @media (max-width:600px) {
        height: 200px;
    }
}

.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
    color: #0BABFE;
    background-color: #E3F3FA;
    border-radius: 100px !important;
    position: absolute;
    right: 0px;
    padding: 0 30px;
    font-size: 18px;
    @media (max-width:767px) {
        font-size: 12px;
        padding:0px 10px;
    }
}
.mat-fab.bg-blue-inpt, 
.mat-flat-button.bg-blue-inpt, 
.mat-mini-fab.bg-blue-inpt, 
.mat-raised-button.bg-blue-inpt {
    color: #fff;
    background-color: #0BABFE;
    border-radius: 100px !important;
    position: absolute;
    right: 0px;
    padding: 0 30px;
    font-size: 18px;
    @media (max-width:767px) {
        font-size: 12px;
        padding:0px 10px;
    }
}

.mat-form-field-subscript-wrapper {
   margin-top: 0em !important;
}
.home-sec-7 button.bg-blue.mt-20.mb-30{
    position: relative;
    line-height: 50px !important;
    padding: 0px 20px;
    height: 50px !important;
}
.display-b{
    display: block !important;
}

