
<app-after-login-header *ngIf="before != 'notlogged'"></app-after-login-header>

<app-header-blue *ngIf="before != 'logged'"></app-header-blue>

<!-- * * * * * * * * * * * Start Header * * * * * * * * * * * -->
<div class="faq-sec-1" fxLayout="column" fxLayoutAlign="center center">
    <div class="container">
        <div class="">
            <div class=""><h2 class="color-white align-center fontsize-36 mt-0">Hej, hur kan vi hjälpa till?</h2></div>
            <!-- <div class="" fxLayout="row" fxLayoutAlign="center center">
                <form #postcodefrm5="ngForm">
                    <div fxLayout="row" class="relative">
                        <div class="input-border bg-white">
                            <mat-form-field appearance="outline" class="width500">
                                <input name="postcodeinput" ngModel matInput placeholder="Jag behöver hjälp med">
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-flat-button class="bg-blue">Sök</button>
                        </div>
                    </div>
                </form>
            </div> -->
        </div>
    </div>
</div>

<div class="home-sec-5" fxLayout="column" fxLayoutAlign="space-between space-between">
    <div class="container">
        <div class="" fxLayout="column" fxLayoutAlign="center center">
            <div class="color-lgray" fxLayout="row" fxLayoutAlign="center center"><h2 class="fontsize-36 align-center mt-0 mb-55">FAQ-kategorier</h2></div>
            <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row"  fxLayoutAlign="center start" style="min-width:100%;">
                <div class="mr-15 ml-15 mb-30" routerLink="/faq-page/useraccount" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                    <img src="assets/images/my_user_account.svg" class="hs5-map-img1" />
                    <h6 class="fontsize-18 color-dblue mb-20 mt-20">Mitt användarkonto
                    </h6>
                </div>
                <div class="mr-15 ml-15 mb-30" routerLink="/faq-page/booking" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                    <img src="assets/images/placing_my_booking.svg" class="hs5-map-img1" />
                    <h6 class="fontsize-18 mb-20 color-dblue mt-20">Att placera min bokning
                    </h6>
                </div>
                <div class="mr-15 ml-15 mb-30" routerLink="/faq-page/bookingmanagement" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                    <img src="assets/images/booking_management.svg" class="hs5-map-img1" />
                    <h6 class="fontsize-18 mb-20 color-dblue mt-20">Bokningshantering
                    </h6>
                </div>
            </div>
            <div class="" fxLayout="column" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="center start" style="min-width:100%;">
                <div class="mr-15 ml-15 mb-30" routerLink="/faq-page/appointment" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                    <img src="assets/images/my_appointment.svg" class="hs5-map-img1" />
                    <h6 class="fontsize-18 color-dblue mb-20 mt-20">Min möte
                    </h6>
                </div>
                <div class="mr-15 ml-15 mb-30" routerLink="/faq-page/payments" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                    <img src="assets/images/my_payments.svg" class="hs5-map-img1" />
                    <h6 class="fontsize-18 mb-20 color-dblue mt-20">Mina betalningar
                    </h6>
                </div>
                <div class="mr-15 ml-15 mb-30" routerLink="/faq-page/provider" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxLayoutAlign="center center">
                    <img src="assets/images/helpling_as_a_provider.svg" class="hs5-map-img1" />
                    <h6 class="fontsize-18 mb-20 color-dblue mt-20">Hjälp som leverantör
                    </h6>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="home-sec-8" fxLayout="column" fxLayoutAlign="center center">
    <div class="container">
        <div class="">
            <div class=""><h2 class="color-white align-center fontsize-36 mt-0">Boka en pålitlig städare tryggt och enkelt nu</h2></div>
            <div class="" fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="row" class="relative">
                        <div class="input-border bg-white">
                            <mat-form-field appearance="outline" class="width500">
                                <input [(ngModel)]="zip2" matInput placeholder="Ange ditt postnummer">
                                <mat-icon matPrefix>where_to_vote</mat-icon>
                                <span class="errorVal">{{ postcodeErr2 }}</span>
                            </mat-form-field>
                        </div>
                        <div>
                            <button (click)="letsGo2()" mat-flat-button class="btn-group1-btn">HITTA STÄDARE</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- * * * * * * * * * * * Start Footer * * * * * * * * * * * -->
<app-footer></app-footer>
