<app-after-login-header></app-after-login-header>
<div class="account-head-top">
    <div class="container align-left">
        <div class="pl-15 pr-15">
            <h2 class="font-family-m fontweight-400 fontsize-30 color-white m-0">Välkommen tillbaka,  {{ CleanerName }}!</h2>
            <p class="fontsize-16 color-white fontweight-400 m-0">Tack för din flexibilitet! Vi skickar ett e-postmeddelande när vi hittar den perfekta städaren till dig.</p>
        </div>
    </div>
</div>

<div class="clenear-sec-1 mt-50">
    <div class="container">
        <div class="pl-15 pr-15">
            <p class="fontsize-16 color-mgray fontweight-400 ">Mina städare</p>
            <div class="relative my-cleaner-table-parent">
                <div class="my-cleaner-table">
                    <div class="pb-5" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayoutAlign="space-between" style="border-bottom:2px solid #aac6dd;">
                        <div class="" fxLayout.gt-xs="row" fxLayoutAlign="space-between" fxFlex="55" fxFlex.gt-xs="59">
                            <span class="fontsize-15 color-mgray display-ib pl-15">namn</span>
                        </div>
                        <div class="" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxFlex="40">
                            <span class="fontsize-15 color-mgray">Din nästa bokning är på</span>
                        </div>
                    </div>

                    <div *ngFor="let myCleaner of myCleaners" class="uncheck-box-dash w-100 around-19 border-radius10 mb-10 mt-10" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayoutAlign="space-between">
                        <div class="" fxLayout.gt-xs="row" fxLayoutAlign="space-between" fxFlex="59" fxFlex.gt-xs="59" fxFlex.gt-sm="55" fxFlex.gt-md="55">
                            <div class="" fxLayout="row" fxLayoutAlign="">

                                <img src="{{ baseurl + 'uploads/profile_pic/' + myCleaner.profile_pic }}" onerror="this.onerror=null;this.src='assets/images/round-img4.png'" class="round-icon">
                                <div class="display-ib pl-20" fxFlex="40" fxFlex.gt-xs="50" fxFlex.gt-sm="40">
                                    <p style="cursor: pointer;" (click)="seecleanerProfile(myCleaner.cleaner_id)" class="color-dblue fontsize-16 fontweight-600 mt-5 mb-5">{{ myCleaner.first_name + " " + myCleaner.last_name }}</p>
                                </div>
                            </div>
                            <div class="star-icon-p" fxLayout="row" fxLayoutAlign="">
                              <span *ngFor="let number of [1,2,3,4,5]" >
                                <mat-icon class="vertical-middle color-yellow" matPrefix *ngIf="number <=myCleaner.rating" >star</mat-icon>
                                <mat-icon class="vertical-middle" matPrefix *ngIf="number > myCleaner.rating" >star</mat-icon>
                              </span>
                                <span class="color-mgray fontsize-15 fontweight-600 display-ib pl-10">{{ myCleaner.rating }}/5.0</span>
                            </div>
                        </div>
                        <div class="" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxFlex="40">
                            <div class="align-left" fxFlex="80" fxFlex.gt-xs="80" fxFlex.gt-sm="49" fxFlex.gt-md="49">
                                <p class="color-dblue fontsize-16 fontweight-600 mt-0 mb-0">{{ myCleaner.starttime | date :  "EEEE, MMMM d" }},
                                  {{ myCleaner.starttime | date :  "hh:mm" }}</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<app-after-login-footer></app-after-login-footer>
