<div class="footer-login-bg">
    <footer>
            <div class="container" fxLayout="column" fxLayoutAlign="space-between space-between">
                <div class="mt-5 mb-5" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between center">
                        <span class="color-lgray">© {{ today | date : "yyy" }} Bring Clean Sweden AB. Alla rättigheter förbehållna.</span>
                        <div class="widthn-100" fxLayout="row" fxLayoutAlign="space-between center">
                                <a routerLink="/terms-page" class="color-lgray display-b mr-20" fxLayout="column">Villkor &amp; </a>  <a routerLink="/cookies-page" class="color-lgray display-b mr-20" fxLayout="column">Cookies </a>
                                <a routerLink="/privacy-page" class="color-lgray">Integritetspolicy</a>
                        </div>
                </div>
            </div>
    </footer>
</div>

