@import "../../../scss/_node-module-override";
@import "../../../scss/_styles";
@import "../../../scss/_theming";

.round-icon{
    width: 60px;
    height:60px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    @media (max-width:599px) {
        width: 45px;
        height: 45px;
    }
}

.around-19{padding:19px;}
.uncheck-box-dash{
    background:#F1F5F7;
    border:1px solid #F1F5F7;
    @media (max-width:959px) {
        text-align: center;
        .round-icon{
            margin:0 auto;
        }
        .display-ib.pl-20{
            padding-left: 0rem;
        }
    }
    @media (max-width:600px) {
        .align-center{
            margin:auto;
        }
    }

}
.uncheck-box-dash.active{
    background:#ffffff;
    border:1px solid #D5DFE8;
}
.bg-blue.height-40.width-120{
    width: 120px !important;
    height: 40px !important;
    font-size: 14px;
}
.bg-gray.height-40.width-120{
    width: 120px !important;
    height: 40px !important;
    font-size: 14px;
    border: none;
    border-radius: 100px;
    color: #0BABFE;
    background-color: #E3F3FA;
}

.green-alert{
  max-width: 730px;
  margin-top:10px;
  width: 100%;
  padding: 9px 30px !important;
  color: #155724;
  background-color: #d4edda;
  border:1px solid #1557243b;
  border-radius: 20px;
  @media (max-width:767px){
    width:85%;
    padding: 9px 15px !important;
    .fontsize-16{
      font-size: 14px;
    }
  }
  span{
    color:#155724 !important;
  }
}
.danger-alert{
max-width: 730px;
margin-top:10px;
width: 100%;
padding: 9px 30px !important;
background: #f8d7da;
border:1px solid #721c243b;
border-radius: 20px;
  @media (max-width:767px){
    width:85%;
    padding: 9px 15px !important;
    .fontsize-16{
      font-size: 14px;
    }
  }
  span{
    color:#721c24 !important;
  }
}
.no-dis{
display: none !important;
}

.max-800 {
  max-width: 800px !important;
}
