<app-login-header></app-login-header>
<div class="account-head-top">
  <div class="container align-center">
    <div class="">
      <h2 class="font-family-m fontweight-400 fontsize-30 color-white mb-11 mt-11">Select more cleaners</h2>
    </div>
  </div>
</div>
<div class="container align-center max-800">
  <div class="green-alert" [class.no-dis]="success">
    <span class="fontsize-16 color-mgray fontweight-400 mb-0">{{ successMsg }}</span>
  </div>
  <div class="danger-alert" [class.no-dis]="error">
    <span class="fontsize-16 color-mgray fontweight-400 mb-0">{{ errorMsg }}</span>
  </div>
</div>
<section class="clear dashboard-sec-1">
  <div class="container">
    <div class="pt-40 pb-40 pl-15 pr-15" fxLayout.gt-xs="row" fxLayout.gt-sm="row" fxLayout.gt-md="row"
      fxLayoutAlign="center">
      <div class="" fxLayout="column" fxLayoutAlign="cneter cneter" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100"
        fxFlex.gt-md="75" fxFlex.gt-lg="75">
        <div *ngFor="let cleaner of cleaners" id="cleanersbox{{ cleaner.id }}" class="uncheck-box-dash w-100 around-19 border-radius10 mb-10" fxLayout="column" fxLayout.gt-xs="column"
          fxLayout.gt-sm="row" fxLayout.gt-md="row" fxLayout.gt-lg="row" fxLayoutAlign="space-between">
          <div class="" fxLayout="column" fxLayout.gt-xs="column" fxLayout.gt-sm="row">
            <img *ngIf="cleaner.profile_pic == ''" src="assets/images/round-img4.png" class="round-icon">
            <img *ngIf="cleaner.profile_pic != ''" src="{{ baseurl + 'uploads/profile_pic/' + cleaner.profile_pic }}" class="round-icon">
            <div class="display-ib pl-20">
              <p class="color-dblue fontsize-16 fontweight-600 mt-5 mb-5">{{ cleaner.first_name + ' ' + cleaner.last_name }}</p>
              <span class="color-mgray fontsize-14 ">{{ cleaner.cleaning_done }} cleanings</span>
            </div>
          </div>
          <div class="pt-10" fxLayout.gt-xs="row" fxLayout.gt-sm="row">
            <div class="star-icon-p">
              <mat-icon class="vertical-middle" matPrefix>star</mat-icon>
              <mat-icon class="vertical-middle" matPrefix>star</mat-icon>
              <mat-icon class="vertical-middle" matPrefix>star</mat-icon>
              <mat-icon class="vertical-middle" matPrefix>star</mat-icon>
              <mat-icon class="vertical-middle" matPrefix>star</mat-icon>
              <span class="color-mgray fontsize-15 fontweight-600 display-ib pl-10">{{ cleaner.rating }}/5.0</span>
              <span class="color-dblue fontsize-14 fontweight-400 display-b c-pointer" (click)="openDialogDash1()">See
                full profile and reviews</span>
            </div>
            <div class="align-center" style="width:160px;">
              <p class="fontsize-28 color-dblue fontweight-600 margin-auto">{{ cleaner.price }} <span class="fontsize-16"> kr/h</span>
              </p>
            </div>
            <button id="activebtn{{ cleaner.id }}" (click)="selectCleaner(cleaner.id, cleaner.first_name, cleaner.profile_pic, cleaner.price)" mat-flat-button class="bg-blue height-40 width-120" style="">SELECT</button>
          </div>
        </div>
        <div class="around-10" fxLayout.gt-xs="column" fxLayout.gt-sm="row" fxLayout.gt-md="row" *ngIf="selected.length > 0"
          fxLayoutAlign="space-between center">
          <div class="" fxLayout.gt-lg="row" fxLayout.gt-md="row" fxLayout.gt-sm="row" fxLayout.gt-xs="row"
            fxLayout="column">
            <p class="color-dblue fontsize-18 fontweight-700 mb-15 mt-15">SELECTED <br>CLEANERS</p>
            <div class="selected-cleaner-bottom" fxLayout.gt-md="row" fxLayout.gt-sm="row" fxLayout.gt-xs="row">
              <div *ngFor="let clean of selected" class="" fxLayout="column" fxflex="" style="padding: 0 20px;">
                <img *ngIf="clean.profile === ''" src="assets/images/round-img4.png" class="round-icon">
                <img *ngIf="clean.profile !== ''" src="{{ baseurl + 'uploads/profile_pic/' + clean.profile }}" class="round-icon">
                <span class="fontsize-13 color-mgray">{{ clean.name }}</span>
              </div>
            </div>
          </div>
          <div class="pt-0 proceedbook-btn">
            <button (click)="addCleaners()" mat-flat-button class="bg-yellow">Add Cleaners</button>
          </div>
        </div>
        <div class="align-center mt-20">
          <p class="fontsize-18 color-mgray mb-40">If none of the cleaners you select confirm the booking, yuor request
            will automatically forwarded to other cleaners in the same price range.</p>
          <button (click)="back()" mat-flat-button class="bg-blue width200" style="">go back</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-after-login-footer></app-after-login-footer>
